@charset "UTF-8";


/* 後で消す
-------------------------- */
.gray{
  color: #bbb8b6;
}
a.disabled{
  pointer-events: none;
}
/* -------------------------- */


/* 共通
-------------------------- */
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  line-height: 1em;
}
body {
  font-family:"游ゴシック体",YuGothic,"游ゴシック",'Yu Gothic',"游ゴシック Medium","Yu Gothic Medium",'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight:500;
  font-feature-settings: "palt";
  color:#14171a;
  text-align: center;
  font-variant-ligatures: none;
}
ul,li{
  font-size: 0;
  list-style: none;
}
p{
  font-weight: bold;
  letter-spacing: 0.04em;
}
a{
  display: block;
  width:100%;
  height:100%;
  text-decoration: none;
  color:#14171a;
}
img{
  max-width: 100%;
  height:auto;
  vertical-align: bottom;
}
.rockwell{
  font-family: rockwell-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.mont{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}
.inner{
  padding:0 6%;
}
@media screen and (min-width:1000px) {
  .inner{
    padding:0 30px;
  }
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.more{
  position: relative;
  background: #14171a;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 0.6em 0;
}
.more::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 48%;
  right: 5%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg) translate(-50%,0%);
}
.ballon{
  position:relative;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 2.5em 3.5em;
  margin-top: 4em;
  border: 2px solid #14171a;
}
.ballon::after,.ballon::before{
  content: "";
  position:absolute;
  border: solid transparent;
  height:0;
  width:0;
  top:100%;
  left:50%;
}
.ballon::after{
  border-color: rgba(255, 255, 255, 0);
  border-width: 20px 10px;
  margin-left: -10px;
  border-top-color: #fff;
}
.ballon::before{
  border-color: rgba(20, 23, 26, 0);
  border-width: 24px 12px;
  margin-left: -12px;
  margin-top: 1px;
  border-top-color: #14171a;
}
@media(min-width:769px){
  .sp,.l-sp{
    display: none;
  }
}
@media(max-width:768px) {
  .pc{
    display: none;
  }
}


/* footer
-------------------------- */
footer{
  width: 100%;
  padding:20px 0 35px;
}
footer img{
  display: block;
  margin: 0 auto 10px;
}
small{
  font-size: 1.2rem;
  letter-spacing: 0.15em;
}
small a{
  display:inline;
}
small a:hover{
  opacity: .4;
  transition: .5s;
}

/* トップに戻るボタン
-------------------------- */
.top-btn{
  position: fixed;
  right: 0;
  bottom: 0;
}
.top-btn a img{
  display: block;
  width: 100%;
  height: auto;
}
