@charset "UTF-8";

@import url("common.css");
@import url("nav.css");
@import url("modal.css");


.flex{
  justify-content: center;
}

/* = SP ================================================ */

@media screen and (min-width:320px) {

  /* header
  -------------------------- */
  header{
    position:relative;
    margin-bottom:3%;
  }
  /* =　背景 ================ */
  header::after{
    content: "";
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    z-index: -10;
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 50% 100%, 0 74%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 74%, 50% 100%, 0 74%);
    animation: 5s ease 1s infinite forwards;
    background: #e0d179;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
  }
  @-webkit-keyframes bg-color {
    0% { background: #e0d179; }
    25% { background: #868e27; }
    50% { background: #b58c4b; }
    75% { background: #958c87; }
    100% { background: #e0d179; }
  }
  @keyframes bg-color {
    0% { background: #e0d179; }
    25% { background: #868e27; }
    50% { background: #b58c4b; }
    75% { background: #958c87; }
    100% { background: #e0d179; }
  }
  /* ======================== */

  .h-inner{
    padding:5% 6% 12%;
    margin-top:62px;
  }
  .main1{
    position: absolute;
    display: block;
    top:0%;
    left:50%;
    transform: translate(-50%,30%);
    width: 68vw;
  }
  h1{
    position: relative;
    width:100%;
    height:auto;
    padding-top:28%;
    margin-bottom:4%;
  }
  h1 img{
    width:100%;
  }
  .date{
    position: absolute;
    top:54.5%;
    right:10%;
    transform: translate(0%,-50%);
    z-index: -1;
  }
  .d-anime{
    background: url("../images/index/main/datepoly.svg") center center /contain no-repeat;
    top:0;
    right:0;
    width:20vw;
    height:20vw;
    animation: date 20s linear 0s infinite normal none running;
    -webkit-animation: date 20s linear 0s infinite normal none running;
  }
  @keyframes date {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
  }
  @-webkit-keyframes date {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
  }
  .d-inner{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 5.5vw;
    letter-spacing: 0.05em;
    color: #fff;
    top:52%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .d-inner2{
    font-size: 4.5vw;
  }
  .main2{
    display: block;
    margin: 0 auto;
    width:52.5vw;
  }
  .main3{
    font-size: calc(3.4rem + 43 * (100vw - 320px)/448);
    line-height: 1.15em;
    color: #fff;
    transform: rotate(-10deg) skew(-10deg);
    -webkit-transform: rotate(-10deg) skew(-10deg);
    text-shadow:
    #14171a 2px 0px 0px, #14171a -2px 0px 0px,
    #14171a 0px -2px 0px, #14171a 0px 2px 0px,
    #14171a 2px 2px 0px, #14171a -2px 2px 0px,
    #14171a 2px -2px 0px, #14171a -2px -2px 0px,
    #14171a 1px 2px 0px, #14171a -1px 2px 0px,
    #14171a 1px -2px 0px, #14171a -1px -2px 0px,
    #14171a 2px 1px 0px, #14171a -2px 1px 0px,
    #14171a 2px -1px 0px, #14171a -2px -1px 0px,
    #14171a 1px 1px 0px, #14171a -1px 1px 0px,
    #14171a 1px -1px 0px, #14171a -1px -1px 0px;
    margin-top: -3%;
    margin-left: 6%;
  }



  /* intro
  -------------------------- */
  .i-title{
    font-size: calc(37px + 13 * (100vw - 375px)/393);
    color: #004da0;
    position: relative;
    display: inline-block;
    margin-bottom: 6%;
  }
  .i-title::before,.i-title::after{
    content: "";
    position: absolute;
    display: inline-block;
    width:1em;
    height:0.7em;
    transform: translate(-50%,-35%);
    background: url("../images/index/I_kazari.png") no-repeat;
    background-size: contain;
  }
  .i-title::before{
    top:38%;
    left: -8%;
  }
  .i-title::after{
    top:38%;
    right:-24%;
    transform: translate(-50%,-35%) rotate(180deg);
  }
  .intro ul{
    margin-bottom: 3.5%;
  }
  .category{
    width:27%;
    height: auto;
    margin:0 1%;
  }
  .category img{
    max-width:176px;
    width:100%;
    height: auto;
  }
  .sub{
    font-size: 3.8vw;
    margin-bottom:0.2em;
    position: relative;
  }
  .sub::before{
    content: "";
    position:absolute;
    width:0.5em;
    height:0.5em;
    top:-50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border: 0.15em solid;
    border-radius: 50%;
  }
  .i-lead{
    font-size: calc(17px + 7 * (100vw - 375px)/393);
    line-height: 1.875;
    margin: 1.3em 0 0.8em;
  }
  @media (min-width:640px) and (max-width:768px){
    .l-sp{
      display: none;
    }
  }
  @media (max-width:639px){
    .l-pc{
      display: none;
    }
  }

  /* info
  -------------------------- */
  .info{
    margin: 8% 0 3.5%;
  }
  .i-block{
    width:90%;
    height: 290px;
    padding: 2.5em 4em;
    margin: 0 auto;
    border: 2px solid #14171a;
    background: #fff;
    box-shadow: -13px 13px 0 0 #b58c4b,13px -13px 0 0 #868e27;
  }
  .i-block h3{
    position: relative;
    display: inline-block;
    color: #004da0;
    font-size: 2.8rem;
    margin-bottom: 0.5em;
  }
  .i-block h3::after{
    content:"";
    position: absolute;
    display: inline-block;
    z-index: 1;
    background: url("../images/index/pointing.png") center /contain no-repeat;
    width:84px;
    height:60px;
    top:-15%;
    left:48%;
    transform: translate(100%,-100%);
  }
  @media (max-width:425px){
    .i-block h3::after{
      width:64px;
      height:46px;
      left:60%;
    }
  }

  /*= スクロール　=================*/
  .info-scroll{
    width: 100%;
    height: 82%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .info-scroll::-webkit-scrollbar {
    width: 4px;
  }
  .info-scroll::-webkit-scrollbar-track {
    background: #bbb8b6;
  }
  .info-scroll::-webkit-scrollbar-thumb {
    background: #14171a;
  }
  -webkit-overflow-scrolling: touch;
  /*= スクロール　=================*/

  .info-li{
    text-align: left;
    perspective: 100;
  }
  .info-li:not(:last-child){
    margin-bottom: 18px;
  }
  time,.info-li p,.info-new::after{
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .info-new::after{
    content:"NEW!";
    display: inline-block;
    color: #004da0;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5em;
    animation: rotate 3s linear infinite;
    -webkit-animation: rotate 3s linear infinite;
  }
  @keyframes rotate{
    0%{ transform:rotateX(0);}
    70%{ transform:rotateX(360deg);}
    100%{ transform:rotateX(360deg);}
  }
  @-webkit-keyframes rotate{
    0%{ transform:rotateX(0);}
    70%{ transform:rotateX(360deg);}
    100%{ transform:rotateX(360deg);}
  }

  /* contents
  -------------------------- */
  .contents{
    position: relative;
    padding-top:40%;
  }
  .sc-img{
    position: absolute;
    display: block;
    width:83%;
    height:fit-content;
    top:4.5vh;
    left:10vw;
    margin:0 auto;
    z-index: -1;
  }
  .youtube{
    width: 100%;
    margin-bottom: 1.5em;
  }
  .youtube p{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  .youtube a{
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #14171a;
    background: #fff;
    padding: 1em 0.5em;
  }
  .youtube a img{
    width: auto;
    height: 18px;
  }
  .i-bg{
    position: relative;
    padding: 1.5em 0;
  }
  .i-bg:nth-of-type(1){
    padding-top: 4em;
  }
  .i-bg::after{
    content: '';
    position: absolute;
    left:0%;
    top: 0%;
    transform: skewY(-26deg);
    transform-origin: center;
    z-index: -1;
    width:100%;
    height:100%;
    background:#e0d179;
  }
  .i-bg:nth-of-type(3)::after{
    background: #868e27;
  }
  .i-bg:nth-of-type(4)::after{
    background: #b58c4b;
  }
  .item{
    position: relative;
    width:100%;
    height:auto;
  }
  .item-inner{
    flex:1;
    padding:3em 2.5em;
    background: #fff;
  }
  .item-inner h3,.supported h3{
    position:relative;
    display: inline-block;
    font-size: calc(3.3rem + 7 * (100vw - 375px)/393);
    color: #e0d179;
    margin-bottom:0.25em;
    letter-spacing: 0.1em;
  }
  .item-inner h3{
    text-shadow:
    #14171a 2px 0px 0px, #14171a -2px 0px 0px,
    #14171a 0px -2px 0px, #14171a 0px 2px 0px,
    #14171a 2px 2px 0px, #14171a -2px 2px 0px,
    #14171a 2px -2px 0px, #14171a -2px -2px 0px,
    #14171a 1px 2px 0px, #14171a -1px 2px 0px,
    #14171a 1px -2px 0px, #14171a -1px -2px 0px,
    #14171a 2px 1px 0px, #14171a -2px 1px 0px,
    #14171a 2px -1px 0px, #14171a -2px -1px 0px,
    #14171a 1px 1px 0px, #14171a -1px 1px 0px,
    #14171a 1px -1px 0px, #14171a -1px -1px 0px;
  }
  .supported h3{
    text-shadow: #14171a 1px 1px 0px, #14171a -1px 1px 0px,
    #14171a 1px -1px 0px, #14171a -1px -1px 0px;
  }
  .i-bg:nth-of-type(3) h3{
    color: #868e27;
  }
  .i-bg:nth-of-type(4) h3{
    color: #b58c4b;
  }
  .i-h-1::after,.i-h-2::after,.i-h-3::after{
    content:"";
    position: absolute;
    display: inline-block;
    z-index: 1;
  }
  .i-h-1::after{
    background: url("../images/index/megahon.png") center /contain no-repeat;
    width:51%;
    height:200%;
    top:22%;
    left:44%;
    transform: translate(100%,-100%);
  }
  .i-h-2::after{
    background: url("../images/index/flag.png") center /contain no-repeat;
    width:28%;
    height:300%;
    top:75%;
    left:-2%;
    transform: translate(-100%,-100%);
  }
  @media (max-width:387px){
    .i-h-2::after{
      width:38%;
      height:169%;
      top:15%;
      left:18%;
      transform: translate(-100%,-100%);
    }
  }
  .i-h-3::after{
    background: url("../images/index/clap.png") center /contain no-repeat;
    width:59%;
    height:240%;
    top:18%;
    left:44%;
    transform: translate(100%,-100%);
  }
  .more{
    width:10%;
    padding: 0;
  }
  .more::before{
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50%,50%);
  }
  .desc{
    font-size: calc(2rem + 4 * (100vw - 375px)/393);
    line-height: 1.3;
    border-bottom: 1px solid #14171a;
    padding-bottom:1em;
    margin-bottom: 1em;
  }
  .face li{
    position: relative;
    margin:0 7px 52px;
    width: 96px;
    height:auto;
  }
  .face img{
    border-radius: 50%;
  }
  .name{
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: -37px;
    width:100%;
    font-size: 1.8rem;
    color: #fff;
    background: #004da0;
    padding:0.3em 0;
    transform: rotate(-6deg);
  }
  .n-s{
    font-size:1.15rem;
    margin-bottom: 0.25em;
    transform: scale(0.9, 1);
  }
  .product li{
    width:48%;
    margin: 0 1% 1%;
  }
  @media (min-width:768px){
    .product li{
      width:23%;
      margin: 0 1% 1%;
    }
  }
  .notice{
    font-size: 1.6rem;
  }

  /* supported
  -------------------------- */
  .supported{
    margin:36px 0;
    padding:0 6%;
  }
  .supported h3{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.7em;
  }
  .mag{
    margin-bottom: 3%;
    height:100%;
    display: inline-flex;
  }
  .mag li:not(:last-child){
    margin-right:3%;
  }
  .mag li img{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  .sponsored{
    margin:6% 0 10%;
  }
  .s-logo-c{
    max-width: 170px;
    width: 45%;
    height:auto;
    margin:0 auto 10%;
  }
  .s-logo-sub li:not(:last-child){
    margin-right:5%;
  }
  .s-logo-sub li{
    display: inline-block;
    width: calc(34vw - 52 * (100vw - 375px)/393);
  }
  .mag li:active,.sponsored a:active{
    opacity: .6;
  }

}

@media (max-width:760px){
  .face li{
    width:180px;
    margin:0 10px 56px;
  }
  .name{
    padding:0.4em;
  }
  .n-s{
    font-size:1.4rem;
    margin-bottom: 0.15em;
  }

  } /* = SP ============================================== */


  /* = PC ================================================ */

  @media screen and (min-width:769px) {

    /* header
    -------------------------- */
    .h-inner{
      padding:2% 7% 8%;
    }
    .main1{
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      max-width: 650px;
      width: calc(650 / 1400 * (100vw));
      transform: translate(-47%,20%);
    }
    h1{
      max-width: 920px;
      width: calc(920 / 1400 * (100vw));
      padding-top:19.5%;
      margin:0 auto 2.5%;
    }
    .date{
      position: absolute;
      top:60.5%;
      right:21%;
      transform: translate(0%,-50%);
    }
    .d-anime{
      width:15vw;
      height:15vw;
    }
    .d-inner{
      font-size: 4vw;
    }
    .d-inner2{
      font-size: 3vw;
    }
    .main2{
      max-width: 520px;
      width: calc(520 / 1400 * (100vw));
      margin-bottom: 1%;
    }
    .main3{
      font-size: calc(4.8rem + 37 * (100vw - 769px)/631);
      margin-left: 3%;
    }

    /* intro
    -------------------------- */
    .category{
      width:18%;
    }
    @media screen and (min-width:1000px) {
      .i-title{
        font-size: 5.6rem;
      }
    }
    .sub{
      font-size: calc(2.3rem + 5 * (100vw - 769px)/231);
      margin-bottom:0.1em;
      position: relative;
    }
    @media screen and (min-width:1000px) {
      .sub{
        font-size: 2.8rem;
      }
    }
    .i-lead{
      font-size: 2.5rem;
    }


    /* info
    -------------------------- */
    .info{
      margin-top:6%;
    }
    .info .flex{
      justify-content: space-between;
    }
    .i-block{
      flex: 1;
      margin:0;
      height: 300px;
    }
    .fb{
      width: 280px;
      margin-left: 35px;
    }
    .archive{
      display: inline-block;
    }
    .archive a{
      position: relative;
      transition: .3s;
      color: #004da0;
    }
    .archive a::after {
      content: "";
      position: absolute;
      width: 0;
      bottom: -3px;
      left: 0;
      height: 1px;
      background: #004da0;
      transition: .3s;
    }
    .archive a:hover::after {
      width: 100%;
    }

    /* contents
    -------------------------- */
    .contents{
      padding-top: 38%;
    }
    @media (min-width:838px){
      .contents{
        padding-top: 320px;
      }
    }
    .sc-img{
      top:0;
      left:0;
      transform: translate(8%,4%);
    }
    .youtube p{
      font-size: 1.8rem;
    }
    .youtube a{
      font-size: 2.2rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 77, 160, 1) 50%);
      background-position: 0 0;
      background-size: auto 200%;
      transition: .3s;
    }
    .youtube a:hover {
      background-position: 0 100%;
      color: #fff;
    }
    .youtube a img{
      width: auto;
      height: 22px;
    }
    .item-inner h3{
      font-size: 4.4rem;
    }
    .i-h-1::after{
      top:65%;
      left:52%;
    }
    .desc{
      font-size:2.6rem;
    }
    .face li{
      width: 17.4%;
    }
    @media (min-width:1000px){
      .face li{
        width:144px;
        margin:0 10px 56px;
      }
      .n-s{
        font-size: 1.4rem;
        margin-bottom: 0.15em;
      }
    }
    .more{
      width:67px;
    }

    /* supported
    -------------------------- */
    .supported{
      padding:0 15%;
    }
    .mag li:hover,.sponsored a:hover{
      opacity: .6;
      transition: .5s;
    }
    .sponsored{
      margin: 30px 0;
    }
    .s-logo-c{
      margin-bottom: 57px;
    }
    .s-logo-sub li:not(:last-child){
      margin-right:15px;
    }
    .s-logo-sub li{
      width:214px;
    }
    .s-logo-sub li img{
      width:auto;
      height:53px;
    }

  }

  @media screen and (min-width:1400px) {
    h1{
      padding-top:220px;
    }
    .main3{
      font-size: 8.5rem;
    }
    .date{
      top: calc(60% - 7 * (100vw - 1400px)/520);
      right: calc(21% + 148 * (100vw - 1400px)/520);
    }
    .d-anime{
      width:205px;
      height:205px;
    }
    .d-inner{
      font-size: 6rem;
    }
    .d-inner2{
      font-size: 4.5rem;
    }
    } /* = PC ============================================== */
