@charset "UTF-8";

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modalBg {
  width: 100vw;
  height: 100%;
  background: rgba(20,23,26,.85);
  padding:5% 0;
}

.modalWrapper {
  position: absolute;
  top: 15.5%;
  left: 50%;
  transform:translate(-50%,0);
  width: 80%;
  height: 80%;
  padding: 4em;
  background: #fff;
  overflow-y: scroll;
}

.closeModal span{
  display: block;
  position: absolute;
  top:2.5em;
  right: 1em;
  width: 38px;
  height: 3px;
  background: #14171a;
}
.closeModal span:nth-child(1) {
  -webkit-transform: translate(-4px,8px) rotate(-45deg);
  transform: translate(-4px,8px) rotate(-45deg);
}
.closeModal span:nth-child(2) {
  -webkit-transform: translate(-4px,8px) rotate(45deg);
  transform: translate(-4px,8px) rotate(45deg);
}
.yell{
  margin:2.5em 0;
}
.yell img{
  width:100%;
  height:auto;
}
.m-desc{
  font-size: calc(1.5rem + 3 * (100vw - 375px)/393);
  line-height: 2;
  text-align: justify;
  display: inline-block;
}
.m-desc:not(:last-child){
  margin-bottom: 1.25em;
}
.modalContents h3{
  color: #004da0;
  font-size: 3.2rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
}
.m-mark{
  color: #004da0;
  background: #fff362;
  padding: 0.25em;
}

/* 以下ボタンスタイル */
button {
  cursor: pointer;
  outline: 0;
}
button img{
  width: 96%;
}
@media screen and (min-width:769px) {
  button:hover{
    opacity: .7;
    transition: .5s;
  }
  .modalWrapper {
    width: 600px;
  }
  .m-desc{
    font-size: 2.2rem;
  }
}
