@charset "UTF-8";

/* nav
-------------------------- */
#navArea{
  position: fixed;
  background: #fff;
  width: 100%;
  height:62px;
  top:0;
  z-index: 100;
}
.head{
  margin:0 auto;
  padding:13px 0;
}
.head img{
  height:36px;
}
.air-icon{
  position: absolute;
  top:0;
  right:0;
  width: 62px;
  height: 62px;
  margin-left: 8px;
}


@media screen and (min-width:769px){
  .s-t{
    display:none;
  }
  .share{
    float: left;
    padding: 19px 0;
  }
  .share li{
    display: inline-block;
    margin-right: 5px;
  }
  .head:hover, .share li:hover{
    opacity: .5;
    transition: .5s;
  }
  .share img{
    width: 24px;
    height: auto;
  }
  .menu{
    float: right;
    margin-right: 62px;
  }
  .menu li {
    float: left;
    margin-right: 2.3rem;
  }
  .menu li a {
    display: inline-block;
    color: #14171a;
    font-size: calc(1.7rem + 3 * (100vw - 769px)/230);
    line-height: calc(3.8em - 12 * (100vw - 769px)/230);
    letter-spacing: 0.02em;
    height:62px;
  }
  .menu li a:hover {
    -webkit-animation: zoom .5s;
    animation: zoom .5s;
    color: #004da0;
  }
  @-webkit-keyframes zoom {
    50% {
      -webkit-transform: scale(1.2);
    }
  }
  @keyframes zoom {
    50% {
      transform: scale(1.2);
    }
  }
  .head{
    display: block;
    float:left;
    margin:0 16px 0 2.5%;
    padding:13px 0;
  }
}

@media screen and (min-width:1000px) {
  .menu li a {
    font-size: 2rem;
    line-height: 3.2em;
  }
}

@media screen and (max-width:768px) {
  /* メニュー
  -------------------------- */

  /*============
  nav
  =============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: calc(0vw - 100vw);
    bottom: 0;
    width: calc(100vw - 62px);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: all .6s;
    z-index: 3;
  }
  .open nav {
    left: 0;
    background: rgba(20,23,26,.85);
    padding:6.2em 10% 0;
  }
  .menu li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  .menu li a {
    display: block;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.12em;
    line-height: 3.5;
    padding-top: 0.25em;
    transition-duration: 0.2s;
  }
  .s-t{
    color: #fff;
    font-size:1.3rem;
    letter-spacing: 0.15em;
    margin-top: 24px;
  }
  .share li{
    display: inline-block;
    margin: 12px;
  }
  .share li:active{
    opacity: .7;
    transition: .5s;
  }
  .share img{
    width: 44px;
    height: auto;
  }

  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 62px;
    height: 62px;
    transition: all .6s;
    cursor: pointer;
    z-index: 3;
  }
  .open .toggle_btn {
    left: calc(100vw - 124px);
  }
  .toggle_line {
    display: block;
    position: absolute;
    left: 19px;
    width: 24px;
    height: 3px;
    background: #14171a;
    transition: all .6s;
  }
  .toggle_line:nth-child(1) {
    top: 21px;
  }
  .toggle_line:nth-child(2) {
    top: 29px;
  }
  .toggle_line:nth-child(3) {
    bottom: 21px;
  }
  .open .toggle_line {
    background: #fff;
  }
  .open .toggle_btn {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .open .toggle_line:nth-child(1), .open .toggle_line:nth-child(3) {
    width: 32px;
  }
  .open .toggle_line:nth-child(1) {
    -webkit-transform: translate(-4px,8px) rotate(-45deg);
    transform: translate(-4px,8px) rotate(-45deg);
  }
  .open .toggle_line:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_line:nth-child(3) {
    -webkit-transform: translate(-4px,-8px) rotate(45deg);
    transform: translate(-4px,-8px) rotate(45deg);
  }

}
