@charset "UTF-8";

@import url("common.css");
@import url("nav.css");
@import url("tab.css");


/* = SP ================================================ */

@media screen and (min-width:320px) {

  /* header
  -------------------------- */
  header{
    margin:62px 0 30px;
  }

  /* item
  -------------------------- */
  .item,.lead{
    text-align: left;
  }
  .item:not(:last-child){
    margin-bottom: 5em;
  }
  .title{
    position: relative;
    margin-bottom: 2.5em;
  }
  .category{
    width: 80px;
    height:auto;
    position: absolute;
    top:0;
  }
  .number{
    font-size: 1.7rem;
    color: #004da0;
  }
  h2{
    font-size: 2.5rem;
    letter-spacing: 0.04em;
    line-height: 1.2;
    margin-top: 0.15em;
  }
  .number,h2{
    margin-left: 95px;
  }

  /* i-box
  -------------------------- */
  .i-box{
    margin-bottom: 2em;
  }
  figure{
    width: 47.5%;
    height: auto;
    margin-right: 2.4em;
  }
  figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .lead{
    flex:1;
    position: relative;
  }
  .lead::after{
    content: "";
    position: absolute;
    background: #e0d179;
    width:100%;
    height:100%;
    top:0;
    right:0;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  .tab-c:nth-of-type(2) .lead::after{
    background: #b58c4b;
  }
  .tab-c:nth-of-type(3) .lead::after{
    background: #868e27;
  }
  .tab-c:nth-of-type(4) .lead::after{
    background: #958c87;
  }
  .desc{
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 0.5em;
  }
  .select{
    display: inline-block;
    font-size: 1.4rem;
    background: #fff;
    border: 1px solid #14171a;
    padding: 0.5em 0.8em;
  }

  /* youtube
  -------------------------- */
  .youtube{
    width: 100%;
    margin-bottom: 2.5em;
  }
  .youtube p{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  .youtube a{
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #14171a;
    background: #fff;
    padding: 1em 0.5em;
  }
  .youtube a img{
    width: auto;
    height: 18px;
  }

  @media (max-width:545px){
    .tab-c .flex{
      flex-direction: column;
    }
    figure,.lead{
      width:100%;
    }
    figure{
      margin-bottom: 1.65em;
    }
  }

  /* more
  -------------------------- */
  .ec{
    font-size: 2rem;
    text-align: center;
    width:280px;
    margin: 0 auto;
  }

  } /* = SP ============================================== */


  /* = PC ================================================ */


  @media screen and (min-width:769px) {

    /* contents
    -------------------------- */
    .tab-c{
      padding: 50px 0 30px;
    }
    .tab-c::before{
      display: none;
    }
    .title{
      margin-bottom: 3.5em;
    }
    .category{
      width: 100px;
      height:auto;
    }
    .number{
      font-size: 2.2rem;
    }
    h2{
      font-size: 3.3rem;
    }
    .number,h2{
      margin-left: 115px;
    }

    /* i-box
    -------------------------- */
    .desc{
      font-size: 2rem;
    }
    .select{
      font-size: 1.6rem;
    }

    /* youtube
    -------------------------- */
    .youtube{
      margin-bottom: 4em;
    }
    .youtube p{
      font-size: 1.8rem;
    }
    .youtube a{
      font-size: 2.2rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 77, 160, 1) 50%);
      background-position: 0 0;
      background-size: auto 200%;
      transition: .3s;
    }
    .youtube a:hover {
      background-position: 0 100%;
      color: #fff;
    }
    .youtube a img{
      width: auto;
      height: 22px;
    }

    /* more
    -------------------------- */
    .more{
      padding: 0.85em 0;
    }
    .ec{
      width: 350px;
    }

    } /* = PC ============================================== */
