@charset "UTF-8";

/* tab
-------------------------- */
.tab li{
  position: relative;
  width:20%;
  padding:2%;
  --rgb:224,209,121;
  background: rgba(var(--rgb), 0.25);
}
.tab li:nth-of-type(2){
  --rgb:181,140,75;
}
.tab li:nth-of-type(3){
  --rgb:134,142,39;
}
.tab li:nth-of-type(4){
  --rgb:149,140,135;
}
.tab li.active{
  background: rgba(var(--rgb),1);
}
.tab li.active::after{
  content: "";
  position: absolute;
  width: 500%;
  height:12px;
  bottom: -12px;
  left: 0;
  background: #e0d179;
}
.tab li.active:nth-of-type(2)::after{
  background: #b58c4b;
  transform: translateX(-20%);
}
.tab li.active:nth-of-type(3)::after{
  background: #868e27;
  transform: translateX(-40%);
}
.tab li.active:nth-of-type(4)::after{
  background: #958c87;
  transform: translateX(-60%);
}
.tab li.active:nth-of-type(5)::after{
  transform: translateX(-80%);
}
@media (min-width:769px){
  .tab li:hover{
    background: rgba(var(--rgb),1);
    transition: .5s;
  }
}

/* contents
-------------------------- */
.tab-c {
  display: none;
  padding:40px 0 20px;
  position:relative;
}
.tab-c.active {
  display: block;
  animation:tabAnim ease-out 0.4s forwards;
  -webkit-animation:tabAnim ease-out 0.4s forwards;
}
@keyframes tabAnim{
  0%{opacity:0;}
  100%{opacity:1;}
}

@media (min-width:769px){
  .tab-c::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 12px solid #e0d179;
    z-index: -1;
  }
  .tab-c:nth-of-type(2)::before{
    border-color: #b58c4b;
  }
  .tab-c:nth-of-type(3)::before{
    border-color: #868e27;
  }
  .tab-c:nth-of-type(4)::before{
    border-color: #958c87;
  }
}

}
