/* .admiral */
.admiral .style01 .ph-box {  }
.admiral .style01 .copy { top: 5px; left: 50px; }
.admiral .style01 .info-box { top: 430px; left: 70px; }
.admiral .style01 .ph-txt { margin-top: 10px; }
.admiral .style01 .item01 { top: 13%; left: 44%; }
.admiral .style01 .item02 { top: 15%; left: 62.5%; }
.admiral .style01 .item03 { top: 58%; left: 43%; }
.admiral .style01 .item04 { top: 86%; left: 53%; }
.admiral .style01 .item05 { top: -1.5%; left: 63%; }
.admiral .style01 .item06 { top: 88%; left: 36.5%; }
.admiral .style01 .item07 { top: 57%; left: 72.2%; }
.admiral .style01 .item08 { top: 34%; left: 71%; }
.admiral .style01 .item09 { top: 29.5%; left: 83%; }
.admiral .style01 .item10 { top: 44%; left: 85%; }
.admiral .style01 .item11 { top: 52.5%; left: 60%; }

.admiral .style02 .ph-box {  }
.admiral .style02 .copy { top: 40px; right: 70px; }
.admiral .style02 .info-box { top: 350px; left: 40px; }
.admiral .style02 .ph-txt { margin-top: 15px; }
.admiral .style02 .item01 { top: 12%; left: 31%; }
.admiral .style02 .item02 { top: 14.2%; left: 48.5%; }
.admiral .style02 .item03 { top: 53.5%; left: 33%; }
.admiral .style02 .item04 { top: -1.5%; left: 50%; }
.admiral .style02 .item05 { top: 81.7%; left: 38.2%; }
.admiral .style02 .item06 { top: 89%; left: 51.6%; }
.admiral .style02 .item07 { top: 21.5%; left: 67%; }

.admiral .style03 .ph-box {  }
.admiral .style03 .copy { top: 40px; left: 80px; }
.admiral .style03 .info-box { top: 390px; right: 70px; }
.admiral .style03 .ph-txt { margin-top: 5px; }
.admiral .style03 .item01 { top: 17%; left: 58%; }
.admiral .style03 .item02 { top: 57%; left: 49.5%; }
.admiral .style03 .item03 { top: 82%; left: 30%; }
.admiral .style03 .item04 { top: -2%; left: 42.8%; }
.admiral .style03 .item05 { top: 37.3%; left: 34%; }
.admiral .style03 .item06 { top: 87.2%; left: 47.5%; }
.admiral .style03 .item07 { top: 57%; left: 25%; }
.admiral .style03 .item08 { top: 44%; left: 49%; }

.admiral .style04 .ph-box {  }
.admiral .style04 .copy { top: 40px; right: 100px; }
.admiral .style04 .info-box { top: 350px; left: 60px; }
.admiral .style04 .ph-txt { margin-top: -35px; }
.admiral .style04 .item01 { top: 14.5%; left: 60%; }
.admiral .style04 .item02 { top: 49.5%; left: 38%; }
.admiral .style04 .item03 { top: -1%; left: 44%; }
.admiral .style04 .item04 { top: 34.2%; left: 40%; }
.admiral .style04 .item05 { top: 79%; left: 43%; }
.admiral .style04 .item06 { top: 37.5%; left: 56.8%; }
.admiral .style04 .item07 { top: 85.5%; left: 55%; }
.admiral .style04 .item08 { top: 73.7%; left: 72%; }
.admiral .style04 .item09 { top: 46.3%; left: 67%; }

.admiral .style05 .ph-box {  }
.admiral .style05 .copy { top: 40px; left: 30px; }
.admiral .style05 .info-box { top: 350px; right: 50px; }
.admiral .style05 .ph-txt { margin-top: 15px; }
.admiral .style05 .item01 { top: 15%; left: 51%; }
.admiral .style05 .item02 { top: 53%; left: 22%; }
.admiral .style05 .item03 { top: 81%; left: 32%; }
.admiral .style05 .item04 { top: -1.5%; left: 46.7%; }
.admiral .style05 .item05 { top: 37.2%; left: 25.7%; }
.admiral .style05 .item06 { top: 38%; left: 40.5%; }
.admiral .style05 .item07 { top: 90.5%; left: 40.5%; }
.admiral .style05 .item08 { top: 57%; left: 47.8%; }

.admiral .style06 .ph-box {  }
.admiral .style06 .copy { top: 80px; right: 80px; }
.admiral .style06 .info-box { top: 200px; left: 60px; }
.admiral .style06 .ph-txt { margin-top: 10px; }
.admiral .style06 .item01 { top: 13%; left: 45%; }
.admiral .style06 .item02 { top: 39%; left: 46%; }
.admiral .style06 .item03 { top: -1.7%; left: 53.2%; }
.admiral .style06 .item04 { top: 34%; left: 62.7%; }
.admiral .style06 .item05 { top: 82.5%; left: 50.5%; }
.admiral .style06 .item06 { top: 44.5%; left: 69%; }
.admiral .style06 .item07 { top: 88.7%; left: 59.5%; }
.admiral .style06 .item08 { top: 66.5%; left: 36.7%; }

.admiral .style07 .ph-box {  }
.admiral .style07 .copy { top: 40px; left: 70px; }
.admiral .style07 .info-box { top: 360px; right: 50px; }
.admiral .style07 .ph-txt { margin-top: 5px; }
.admiral .style07 .item01 { top: 15.7%; left: 54%; }
.admiral .style07 .item02 { top: 52%; left: 29%; }
.admiral .style07 .item03 { top: 87%; left: 47%; }
.admiral .style07 .item04 { top: 39.8%; left: 45%; }
.admiral .style07 .item05 { top: 83.5%; left: 22%; }
.admiral .style07 .item06 { top: 68.5%; left: 54%; }

.admiral .style08 .ph-box {  }
.admiral .style08 .copy { top: 40px; right: 90px; }
.admiral .style08 .info-box { top: 320px; left: 70px; }
.admiral .style08 .ph-txt { margin-top: -10px; }
.admiral .style08 .item01 { top: 27%; left: 44%; }
.admiral .style08 .item02 { top: -0.6%; left: 59.7%; }
.admiral .style08 .item03 { top: 80.5%; left: 48.7%; }
.admiral .style08 .item04 { top: 88.5%; left: 57.9%; }
.admiral .style08 .item05 { top: 67%; left: 65.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .admiral */
.admiral .style01 .ph-box { margin: 0 -2vw 0 -23vw; padding-top: 5vw; }
.admiral .style01 .copy { top: 1vw; left: 3vw; }
.admiral .style01 .info-box { top: inherit; left: inherit; }
.admiral .style01 .ph-txt { margin-top: 0; }

.admiral .style02 .ph-box { margin: 0 -15vw 0 -10vw; }
.admiral .style02 .copy { top: 4vw; right: inherit; left: 5vw }
.admiral .style02 .info-box { top: inherit; left: inherit; }
.admiral .style02 .ph-txt { margin-top: 0; }

.admiral .style03 .ph-box { margin: 0 -25vw 0 0; }
.admiral .style03 .copy { top: 4vw; left: 8vw; }
.admiral .style03 .info-box { top: inherit; right: inherit; }
.admiral .style03 .ph-txt { margin-top: 0; }

.admiral .style04 .ph-box { margin: 0 3vw 0 -28vw; }
.admiral .style04 .copy { top: 4vw; right: 8vw; }
.admiral .style04 .info-box { top: inherit; left: inherit; }
.admiral .style04 .ph-txt { margin-top: 0; }

.admiral .style05 .ph-box { margin: 0 -30vw 0 5vw; }
.admiral .style05 .copy { top: 4vw; left: 3vw; }
.admiral .style05 .info-box { top: inherit; right: inherit; }
.admiral .style05 .ph-txt { margin-top: 0; }

.admiral .style06 .ph-box { margin: 0 5vw 0 -30vw; }
.admiral .style06 .copy { top: 8vw; right: 8vw; }
.admiral .style06 .info-box { top: inherit; left: inherit; }
.admiral .style06 .ph-txt { margin-top: 0; }

.admiral .style07 .ph-box { margin: 0 -25vw 0 0; }
.admiral .style07 .copy { top: 4vw; left: 7vw; }
.admiral .style07 .info-box { top: inherit; right: inherit; }
.admiral .style07 .ph-txt { margin-top: 0; }

.admiral .style08 .ph-box { margin: 0 0 0 -25vw; }
.admiral .style08 .copy { top: 4vw; right: 9vw; }
.admiral .style08 .info-box { top: inherit; left: inherit; }
.admiral .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
