/* .efficace */
.efficace .style01 .ph-box {  }
.efficace .style01 .copy { top: 40px; left: 40px; }
.efficace .style01 .info-box { top: 100px; right: 45px; }
.efficace .style01 .ph-txt { margin-top: 10px; }
.efficace .style01 .item01 { top: -1%; left: 42%; }
.efficace .style01 .item02 { top: 14%; left: 25%; }
.efficace .style01 .item03 { top: 56%; left: 47%; }
.efficace .style01 .item04 { top: 38%; left: 29%; }
.efficace .style01 .item05 { top: 89%; left: 32%; }

.efficace .style02 .ph-box {  }
.efficace .style02 .copy { top: 40px; right: 90px; }
.efficace .style02 .info-box { top: 250px; left: 70px; }
.efficace .style02 .ph-txt { margin-top: -30px; }
.efficace .style02 .item01 { top: -2%; left: 51%; }
.efficace .style02 .item02 { top: 30%; left: 60%; }
.efficace .style02 .item03 { top: 79%; left: 42%; }

.efficace .style03 .ph-box {  }
.efficace .style03 .copy { top: 40px; left: 70px; }
.efficace .style03 .info-box { top: 290px; right: 60px; }
.efficace .style03 .ph-txt { margin-top: 10px; }
.efficace .style03 .item01 { top: -2%; left: 41%; }
.efficace .style03 .item02 { top: 15%; left: 27%; }
.efficace .style03 .item03 { top: 19%; left: 40%; }
.efficace .style03 .item04 { top: 52%; left: 49%; }
.efficace .style03 .item05 { top: 39%; left: 33%; }

.efficace .style04 .ph-box {  }
.efficace .style04 .copy { top: 40px; right: 100px; }
.efficace .style04 .info-box { top: 380px; left: 70px; }
.efficace .style04 .ph-txt { margin-top: -0px; }
.efficace .style04 .item01 { top: 2%; left: 60%; }
.efficace .style04 .item02 { top: 23%; left: 64%; }
.efficace .style04 .item03 { top: 14%; left: 48%; }
.efficace .style04 .item04 { top: 45%; left: 43%; }
.efficace .style04 .item05 { top: 76%; left: 61%; }

.efficace .style05 .ph-box {  }
.efficace .style05 .copy { top: 40px; left: 30px; }
.efficace .style05 .info-box { top: 350px; right: 50px; }
.efficace .style05 .ph-txt { margin-top: 10px; }
.efficace .style05 .item01 { top: -1%; left: 45%; }
.efficace .style05 .item02 { top: 12%; left: 30%; }
.efficace .style05 .item03 { top: 57%; left: 45%; }
.efficace .style05 .item04 { top: 37%; left: 30%; }

.efficace .style06 .ph-box {  }
.efficace .style06 .copy { top: 40px; right: 80px; }
.efficace .style06 .info-box { top: 340px; left: 60px; }
.efficace .style06 .ph-txt { margin-top: -10px; }
.efficace .style06 .item01 { top: -1%; left: 61%; }
.efficace .style06 .item02 { top: 37%; left: 64%; }
.efficace .style06 .item03 { top: 75%; left: 50%; }

.efficace .style07 .ph-box {  }
.efficace .style07 .copy { top: 40px; left: 70px; }
.efficace .style07 .info-box { top: 350px; right: 50px; }
.efficace .style07 .ph-txt { margin-top: 5px; }
.efficace .style07 .item01 { top: -3%; left: 46%; }
.efficace .style07 .item02 { top: 11%; left: 36%; }
.efficace .style07 .item03 { top: 52%; left: 37%; }
.efficace .style07 .item04 { top: 37%; left: 53%; }
.efficace .style07 .item05 { top: 87%; left: 43%; }

.efficace .style08 .ph-box {  }
.efficace .style08 .copy { top: 40px; right: 90px; }
.efficace .style08 .info-box { top: 340px; left: 60px; }
.efficace .style08 .ph-txt { margin-top: -5px; }
.efficace .style08 .item01 { top: -2%; left: 57%; }
.efficace .style08 .item02 { top: 29%; left: 44%; }
.efficace .style08 .item03 { top: 45%; left: 43%; }
.efficace .style08 .item04 { top: 87%; left: 59%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .efficace */
.efficace .style01 .ph-box { margin: 0 -25vw 0 0; }
.efficace .style01 .copy { top: 4vw; left: 4vw; }
.efficace .style01 .info-box { top: inherit; right: inherit; }
.efficace .style01 .ph-txt { margin-top: 0; }

.efficace .style02 .ph-box { margin: 0 0 0 -25vw; }
.efficace .style02 .copy { top: 4vw; right: 9vw; }
.efficace .style02 .info-box { top: inherit; left: inherit; }
.efficace .style02 .ph-txt { margin-top: 0; }

.efficace .style03 .ph-box { margin: 0 -25vw 0 0; }
.efficace .style03 .copy { top: 4vw; left: 7vw; }
.efficace .style03 .info-box { top: inherit; right: inherit; }
.efficace .style03 .ph-txt { margin-top: 0; }

.efficace .style04 .ph-box { margin: 0 0 0 -25vw; }
.efficace .style04 .copy { top: 4vw; right: 10vw; }
.efficace .style04 .info-box { top: inherit; left: inherit; }
.efficace .style04 .ph-txt { margin-top: 0; }

.efficace .style05 .ph-box { margin: 0 -25vw 0 0; }
.efficace .style05 .copy { top: 4vw; left: 3vw; }
.efficace .style05 .info-box { top: inherit; right: inherit; }
.efficace .style05 .ph-txt { margin-top: 0; }

.efficace .style06 .ph-box { margin: 0 0 0 -25vw; }
.efficace .style06 .copy { top: 4vw; right: 8vw; }
.efficace .style06 .info-box { top: inherit; left: inherit; }
.efficace .style06 .ph-txt { margin-top: 0; }

.efficace .style07 .ph-box { margin: 0 -25vw 0 0; }
.efficace .style07 .copy { top: 4vw; left: 7vw; }
.efficace .style07 .info-box { top: inherit; right: inherit; }
.efficace .style07 .ph-txt { margin-top: 0; }

.efficace .style08 .ph-box { margin: 0 0 0 -25vw; }
.efficace .style08 .copy { top: 4vw; right: 9vw; }
.efficace .style08 .info-box { top: inherit; left: inherit; }
.efficace .style08 .ph-txt { margin-top: 0; }

}

@media screen and (max-width: 480px) {
}
