/* .fidra */
.fidra .style01 .ph-box {  }
.fidra .style01 .copy { top: 40px; left: 50px; }
.fidra .style01 .info-box { top: 400px; right: 70px; }
.fidra .style01 .ph-txt { margin-top: 5px; }
.fidra .style01 .item01 { top: -2%; left: 43%; }
.fidra .style01 .item02 { top: 14%; left: 51%; }
.fidra .style01 .item03 { top: 55%; left: 30%; }
.fidra .style01 .item04 { top: 39.5%; left: 51.2%; }
.fidra .style01 .item05 { top: 88.5%; left: 33%; }

.fidra .style02 .ph-box {  }
.fidra .style02 .copy { top: 40px; right: 30px; }
.fidra .style02 .info-box { top: 230px; left: 40px; }
.fidra .style02 .ph-txt { margin-top: 20px; }
.fidra .style02 .item01 { top: -2.5%; left: 63.2%; }
.fidra .style02 .item02 { top: 8.7%; left: 38.7%; }
.fidra .style02 .item03 { top: 78%; left: 70.5%; }

.fidra .style03 .ph-box {  }
.fidra .style03 .copy { top: 40px; left: 70px; }
.fidra .style03 .info-box { top: 290px; right: 60px; }
.fidra .style03 .ph-txt { margin-top: -10px; }
.fidra .style03 .item01 { top: -2.7%; left: 33.7%; }
.fidra .style03 .item02 { top: 15%; left: 23%; }
.fidra .style03 .item03 { top: 53%; left: 44%; }
.fidra .style03 .item04 { top: 37.5%; left: 38.5%; }
.fidra .style03 .item05 { top: 85.7%; left: 28.2%; }
.fidra .style03 .item06 { top: 24%; left: 53.8%; }

.fidra .style04 .ph-box {  }
.fidra .style04 .copy { top: 20px; right: 20px; }
.fidra .style04 .info-box { top: 200px; left: 20px; }
.fidra .style04 .ph-txt { margin-top: 20px; }
.fidra .style04 .item01 { top: -2%; left: 65.2%; }
.fidra .style04 .item02 { top: 5%; left: 32.4%; }
.fidra .style04 .item03 { top: 70%; left: 27%; }
.fidra .style04 .item04 { top: 55%; left: 61%; }

.fidra .style05 .ph-box {  }
.fidra .style05 .copy { top: 40px; left: 30px; }
.fidra .style05 .info-box { top: 340px; right: 50px; }
.fidra .style05 .ph-txt { margin-top: 5px; }
.fidra .style05 .item01 { top: -1.5%; left: 47.8%; }
.fidra .style05 .item02 { top: 19.5%; left: 32.6%; }
.fidra .style05 .item03 { top: 21.2%; left: 53.4%; }
.fidra .style05 .item04 { top: 53%; left: 48%; }
.fidra .style05 .item05 { top: 38%; left: 30%; }
.fidra .style05 .item06 { top: 86.5%; left: 51%; }

.fidra .style06 .ph-box {  }
.fidra .style06 .copy { top: 40px; right: 50px; }
.fidra .style06 .info-box { top: 200px; left: 70px; }
.fidra .style06 .ph-txt { margin-top: 20px; }
.fidra .style06 .item01 { top: -1%; left: 32.7%; }
.fidra .style06 .item02 { top: 60.4%; left: 70.8%; }
.fidra .style06 .item03 { top: 33.7%; left: 69.7%; }
.fidra .style06 .item04 { top: 77%; left: 74%; }
.fidra .style06 .item05 { top: 64%; left: 18.5%; }

.fidra .style07 .ph-box {  }
.fidra .style07 .copy { top: 240px; left: 70px; }
.fidra .style07 .info-box { top: 370px; right: 50px; }
.fidra .style07 .ph-txt { margin-top: 5px; }
.fidra .style07 .item01 { top: 2%; left: 26%; }
.fidra .style07 .item02 { top: 23.5%; left: 52.4%; }
.fidra .style07 .item03 { top: 51.7%; left: 36%; }
.fidra .style07 .item04 { top: 37.1%; left: 36.5%; }
.fidra .style07 .item05 { top: 88.7%; left: 45.4%; }

.fidra .style08 .ph-box {  }
.fidra .style08 .copy { top: 40px; right: 50px; }
.fidra .style08 .info-box { top: 320px; left: 70px; }
.fidra .style08 .ph-txt { margin-top: 20px; }
.fidra .style08 .item01 { top: -2%; left: 42.2%; }
.fidra .style08 .item02 { top: 45%; left: 71%; }
.fidra .style08 .item03 { top: 74.8%; left: 37.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .fidra */
.fidra .style01 .ph-box { margin: 0 -25vw 0 0; }
.fidra .style01 .copy { top: 4vw; left: 5vw; }
.fidra .style01 .info-box { top: inherit; right: inherit; }
.fidra .style01 .ph-txt { margin-top: 0; }

.fidra .style02 .ph-box { margin: 0 0 2vw -25vw; }
.fidra .style02 .copy { top: 4vw; right: 3vw; }
.fidra .style02 .info-box { top: inherit; left: inherit; }
.fidra .style02 .ph-txt { margin-top: 0; }

.fidra .style03 .ph-box { margin: 0 -25vw 0 0; }
.fidra .style03 .copy { top: 4vw; left: 6vw; }
.fidra .style03 .info-box { top: inherit; right: inherit; }
.fidra .style03 .ph-txt { margin-top: 0; }

.fidra .style04 .ph-box { margin: 0 5vw 1vw -30vw; }
.fidra .style04 .copy { top: 2vw; right: 1vw; }
.fidra .style04 .info-box { top: inherit; left: inherit; }
.fidra .style04 .ph-txt { margin-top: 0; }

.fidra .style05 .ph-box { margin: 0 -25vw 0 0; }
.fidra .style05 .copy { top: 4vw; left: 3vw; }
.fidra .style05 .info-box { top: inherit; right: inherit; }
.fidra .style05 .ph-txt { margin-top: 0; }

.fidra .style06 .ph-box { margin: 0 0 2vw -25vw; }
.fidra .style06 .copy { top: 4vw; right: 5vw; }
.fidra .style06 .info-box { top: inherit; left: inherit; }
.fidra .style06 .ph-txt { margin-top: 0; }

.fidra .style07 .ph-box { margin: 0 -25vw 0 0; }
.fidra .style07 .copy { top: 34vw; left: 7vw; }
.fidra .style07 .info-box { top: inherit; right: inherit; }
.fidra .style07 .ph-txt { margin-top: 0; }

.fidra .style08 .ph-box { margin: 0 0 2vw -25vw; }
.fidra .style08 .copy { top: 4vw; right: 5vw; }
.fidra .style08 .info-box { top: inherit; left: inherit; }
.fidra .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
