/* .lecoq */
.lecoq .style01 .ph-box {  }
.lecoq .style01 .copy { top: 40px; left: 40px; }
.lecoq .style01 .info-box { top: 100px; right: 40px; }
.lecoq .style01 .ph-txt { margin-top: 10px; }
.lecoq .style01 .item01 { top: -2.5%; left: 46.2%; }
.lecoq .style01 .item02 { top: 27%; left: 33%; }
.lecoq .style01 .item03 { top: 12%; left: 36.8%; }
.lecoq .style01 .item04 { top: 53%; left: 56.5%; }
.lecoq .style01 .item05 { top: 89%; left: 36%; }
.lecoq .style01 .item06 { top: 81%; left: 51%; }

.lecoq .style02 .ph-box {  }
.lecoq .style02 .copy { top: 40px; right: 60px; }
.lecoq .style02 .info-box { top: 250px; left: 30px; }
.lecoq .style02 .ph-txt { margin-top: -10px; }
.lecoq .style02 .item01 { top: -2.5%; left: 47%; }
.lecoq .style02 .item02 { top: 17%; left: 32%; }
.lecoq .style02 .item03 { top: 11%; left: 49.2%; }
.lecoq .style02 .item04 { top: 47%; left: 30.5%; }
.lecoq .style02 .item05 { top: 84%; left: 35.7%; }
.lecoq .style02 .item06 { top: 70%; left: 41%; }
.lecoq .style02 .item07 { top: 37.8%; left: 58.5%; }

.lecoq .style03 .ph-box {  }
.lecoq .style03 .copy { top: 40px; left: 50px; }
.lecoq .style03 .info-box { top: 380px; right: 60px; }
.lecoq .style03 .ph-txt { margin-top: -5px; }
.lecoq .style03 .item01 { top: 1%; left: 39%; }
.lecoq .style03 .item02 { top: 14%; left: 47%; }
.lecoq .style03 .item03 { top: 52%; left: 23%; }
.lecoq .style03 .item04 { top: 38%; left: 42.2%; }
.lecoq .style03 .item05 { top: 89%; left: 41%; }
.lecoq .style03 .item06 { top: 52.5%; left: 49.5%; }

.lecoq .style04 .ph-box {  }
.lecoq .style04 .copy { top: 40px; right: 100px; }
.lecoq .style04 .info-box { top: 360px; left: 70px; }
.lecoq .style04 .ph-txt { margin-top: 5px; }
.lecoq .style04 .item01 { top: -2%; left: 55%; }
.lecoq .style04 .item02 { top: 13.5%; left: 40%; }
.lecoq .style04 .item03 { top: 45%; left: 41.5%; }
.lecoq .style04 .item04 { top: 88%; left: 44.8%; }
.lecoq .style04 .item05 { top: 68.5%; left: 65%; }

.lecoq .style05 .ph-box {  }
.lecoq .style05 .copy { top: 40px; left: 20px; }
.lecoq .style05 .info-box { top: 490px; right: 30px; }
.lecoq .style05 .ph-txt { margin-top: -5px; }
.lecoq .style05 .item01 { top: -2%; left: 37%; }
.lecoq .style05 .item02 { top: 18%; left: 50%; }
.lecoq .style05 .item03 { top: 16%; left: 30%; }
.lecoq .style05 .item04 { top: 55%; left: 27%; }
.lecoq .style05 .item05 { top: 87.5%; left: 47.3%; }
.lecoq .style05 .item06 { top: 37.5%; left: 39%; }

.lecoq .style06 .ph-box {  }
.lecoq .style06 .copy { top: 40px; right: 80px; }
.lecoq .style06 .info-box { top: 350px; left: 70px; }
.lecoq .style06 .ph-txt { margin-top: -5px; }
.lecoq .style06 .item01 { top: 0;left: 50%; }
.lecoq .style06 .item02 { top: 18%; left: 41%; }
.lecoq .style06 .item03 { top: 13%; left: 61.7%; }
.lecoq .style06 .item04 { top: 46.5%; left: 64%; }
.lecoq .style06 .item05 { top: 33%; left: 46.2%; }
.lecoq .style06 .item06 { top: 88%; left: 47%; }
.lecoq .style06 .item07 { top: 82.5%; left: 57.4%; }

.lecoq .style07 .ph-box {  }
.lecoq .style07 .copy { top: 40px; left: 70px; }
.lecoq .style07 .info-box { top: 380px; right: 40px; }
.lecoq .style07 .ph-txt { margin-top: 5px; }
.lecoq .style07 .item01 { top: 1%; left: 51.7%; }
.lecoq .style07 .item02 { top: 16%; left: 55%; }
.lecoq .style07 .item03 { top: 54%; left: 50%; }
.lecoq .style07 .item04 { top: 38%; left: 33%; }
.lecoq .style07 .item05 { top: 84%; left: 28.5%; }
.lecoq .style07 .item06 { top: 67%; left: 21.5%; }

.lecoq .style08 .ph-box {  }
.lecoq .style08 .copy { top: 40px; right: 90px; }
.lecoq .style08 .info-box { top: 340px; left: 60px; }
.lecoq .style08 .ph-txt { margin-top: 5px; }
.lecoq .style08 .item01 { top: 0.7%; left: 44.7%; }
.lecoq .style08 .item02 { top: 13%; left: 62%; }
.lecoq .style08 .item03 { top: 46%; left: 41%; }
.lecoq .style08 .item04 { top: 85%; left: 44.2%; }
.lecoq .style08 .item05 { top: 69.2%; left: 68.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .lecoq */
.lecoq .style01 .ph-box { margin: 0 -25vw 0 0; }
.lecoq .style01 .copy { top: 4vw; left: 4vw; }
.lecoq .style01 .info-box { top: inherit; right: inherit; }
.lecoq .style01 .ph-txt { margin-top: 0; }

.lecoq .style02 .ph-box { margin: 0 0 0 -25vw; }
.lecoq .style02 .copy { top: 4vw; right: 6vw; }
.lecoq .style02 .info-box { top: inherit; left: inherit; }
.lecoq .style02 .ph-txt { margin-top: 0; }

.lecoq .style03 .ph-box { margin: 0 -25vw 0 0; }
.lecoq .style03 .copy { top: 4vw; left: 5vw; }
.lecoq .style03 .info-box { top: inherit; right: inherit; }
.lecoq .style03 .ph-txt { margin-top: 0; }

.lecoq .style04 .ph-box { margin: 0 0 0 -25vw; }
.lecoq .style04 .copy { top: 4vw; right: 10vw; }
.lecoq .style04 .info-box { top: inherit; left: inherit; }
.lecoq .style04 .ph-txt { margin-top: 0; }

.lecoq .style05 .ph-box { margin: 0 -25vw 0 0; }
.lecoq .style05 .copy { top: 4vw; left: 2vw; }
.lecoq .style05 .info-box { top: inherit; right: inherit; }
.lecoq .style05 .ph-txt { margin-top: 0; }

.lecoq .style06 .ph-box { margin: 0 0 0 -25vw; }
.lecoq .style06 .copy { top: 4vw; right: 8vw; }
.lecoq .style06 .info-box { top: inherit; left: inherit; }
.lecoq .style06 .ph-txt { margin-top: 0; }

.lecoq .style07 .ph-box { margin: 0 -25vw 0 0; }
.lecoq .style07 .copy { top: 4vw; left: 6vw; }
.lecoq .style07 .info-box { top: inherit; right: inherit; }
.lecoq .style07 .ph-txt { margin-top: 0; }

.lecoq .style08 .ph-box { margin: 0 0 0 -25vw; }
.lecoq .style08 .copy { top: 4vw; right: 9vw; }
.lecoq .style08 .info-box { top: inherit; left: inherit; }
.lecoq .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
