/* .fila */
.fila .style01 .ph-box {  }
.fila .style01 .copy { top: 40px; left: 40px; }
.fila .style01 .info-box { top: 100px; right: 50px; }
.fila .style01 .ph-txt { margin-top: 10px; }
.fila .style01 .item01 { top: %; left: %; }
.fila .style01 .item02 { top: %; left: %; }
.fila .style01 .item03 { top: %; left: %; }
.fila .style01 .item04 { top: %; left: %; }
.fila .style01 .item05 { top: %; left: %; }

.fila .style02 .ph-box {  }
.fila .style02 .copy { top: 40px; right: 90px; }
.fila .style02 .info-box { top: 280px; left: 70px; }
.fila .style02 .ph-txt { margin-top: 10px; }
.fila .style02 .item01 { top: %; left: %; }
.fila .style02 .item02 { top: %; left: %; }
.fila .style02 .item03 { top: %; left: %; }
.fila .style02 .item04 { top: %; left: %; }
.fila .style02 .item05 { top: %; left: %; }

.fila .style03 .ph-box {  }
.fila .style03 .copy { top: 40px; left: 70px; }
.fila .style03 .info-box { top: 290px; right: 60px; }
.fila .style03 .ph-txt { margin-top: 5px; }
.fila .style03 .item01 { top: %; left: %; }
.fila .style03 .item02 { top: %; left: %; }
.fila .style03 .item03 { top: %; left: %; }
.fila .style03 .item04 { top: %; left: %; }
.fila .style03 .item05 { top: %; left: %; }

.fila .style04 .ph-box {  }
.fila .style04 .copy { top: 40px; right: 100px; }
.fila .style04 .info-box { top: 320px; left: 70px; }
.fila .style04 .ph-txt { margin-top: 5px; }
.fila .style04 .item01 { top: %; left: %; }
.fila .style04 .item02 { top: %; left: %; }
.fila .style04 .item03 { top: %; left: %; }
.fila .style04 .item04 { top: %; left: %; }
.fila .style04 .item05 { top: %; left: %; }

.fila .style05 .ph-box {  }
.fila .style05 .copy { top: 40px; left: 30px; }
.fila .style05 .info-box { top: 350px; right: 70px; }
.fila .style05 .ph-txt { margin-top: -5px; }
.fila .style05 .item01 { top: %; left: %; }
.fila .style05 .item02 { top: %; left: %; }
.fila .style05 .item03 { top: %; left: %; }
.fila .style05 .item04 { top: %; left: %; }
.fila .style05 .item05 { top: %; left: %; }

.fila .style06 .ph-box {  }
.fila .style06 .copy { top: 40px; right: 80px; }
.fila .style06 .info-box { top: 350px; left: 60px; }
.fila .style06 .ph-txt { margin-top: -10px; }
.fila .style06 .item01 { top: %; left: %; }
.fila .style06 .item02 { top: %; left: %; }
.fila .style06 .item03 { top: %; left: %; }
.fila .style06 .item04 { top: %; left: %; }
.fila .style06 .item05 { top: %; left: %; }

.fila .style07 .ph-box {  }
.fila .style07 .copy { top: 40px; left: 70px; }
.fila .style07 .info-box { top: 360px; right: 50px; }
.fila .style07 .ph-txt { margin-top: 5px; }
.fila .style07 .item01 { top: %; left: %; }
.fila .style07 .item02 { top: %; left: %; }
.fila .style07 .item03 { top: %; left: %; }
.fila .style07 .item04 { top: %; left: %; }
.fila .style07 .item05 { top: %; left: %; }

.fila .style08 .ph-box {  }
.fila .style08 .copy { top: 40px; right: 90px; }
.fila .style08 .info-box { top: 340px; left: 70px; }
.fila .style08 .ph-txt { margin-top: -5px; }
.fila .style08 .item01 { top: %; left: %; }
.fila .style08 .item02 { top: %; left: %; }
.fila .style08 .item03 { top: %; left: %; }
.fila .style08 .item04 { top: %; left: %; }
.fila .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .fila */
.fila .style01 .ph-box { margin: 0 -25vw 0 0; }
.fila .style01 .copy { top: 4vw; left: 4vw; }
.fila .style01 .info-box { top: inherit; right: inherit; }
.fila .style01 .ph-txt { margin-top: 0; }

.fila .style02 .ph-box { margin: 0 0 0 -25vw; }
.fila .style02 .copy { top: 4vw; right: 9vw; }
.fila .style02 .info-box { top: inherit; left: inherit; }
.fila .style02 .ph-txt { margin-top: 0; }

.fila .style03 .ph-box { margin: 0 -25vw 0 0; }
.fila .style03 .copy { top: 4vw; left: 7vw; }
.fila .style03 .info-box { top: inherit; right: inherit; }
.fila .style03 .ph-txt { margin-top: 0; }

.fila .style04 .ph-box { margin: 0 0 0 -25vw; }
.fila .style04 .copy { top: 4vw; right: 10vw; }
.fila .style04 .info-box { top: inherit; left: inherit; }
.fila .style04 .ph-txt { margin-top: 0; }

.fila .style05 .ph-box { margin: 0 -25vw 0 0; }
.fila .style05 .copy { top: 4vw; left: 3vw; }
.fila .style05 .info-box { top: inherit; right: inherit; }
.fila .style05 .ph-txt { margin-top: 0; }

.fila .style06 .ph-box { margin: 0 0 0 -25vw; }
.fila .style06 .copy { top: 4vw; right: 8vw; }
.fila .style06 .info-box { top: inherit; left: inherit; }
.fila .style06 .ph-txt { margin-top: 0; }

.fila .style07 .ph-box { margin: 0 -25vw 0 0; }
.fila .style07 .copy { top: 4vw; left: 7vw; }
.fila .style07 .info-box { top: inherit; right: inherit; }
.fila .style07 .ph-txt { margin-top: 0; }

.fila .style08 .ph-box { margin: 0 0 0 -25vw; }
.fila .style08 .copy { top: 4vw; right: 9vw; }
.fila .style08 .info-box { top: inherit; left: inherit; }
.fila .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
