/* .clunk */
.clunk .style01 .ph-box {  }
.clunk .style01 .copy { top: 40px; left: 40px; }
.clunk .style01 .info-box { top: 90px; right: 50px; }
.clunk .style01 .ph-txt { margin-top: -5px; }
.clunk .style01 .item01 { top: -1%; left: 42%; }
.clunk .style01 .item02 { top: 31%; left: 29%; }
.clunk .style01 .item03 { top: 56.5%; left: 28.4%; }
.clunk .style01 .item04 { top: 39.4%; left: 46.5%; }
.clunk .style01 .item05 { top: 87%; left: 32.5%; }
.clunk .style01 .item06 { top: 81%; left: 75%; }

.clunk .style02 .ph-box {  }
.clunk .style02 .copy { top: 110px; right: 50px; }
.clunk .style02 .info-box { top: 260px; left: 40px; }
.clunk .style02 .ph-txt { margin-top: 20px; }
.clunk .style02 .item01 { top: -2%; left: 62.8%; }
.clunk .style02 .item02 { top: 8.2%; left: 38.5%; }
.clunk .style02 .item03 { top: 73%; left: 36%; }

.clunk .style03 .ph-box {  }
.clunk .style03 .copy { top: 40px; left: 50px; }
.clunk .style03 .info-box { top: 290px; right: 60px; }
.clunk .style03 .ph-txt { margin-top: 10px; }
.clunk .style03 .item01 { top: -2%; left: 46.5%; }
.clunk .style03 .item02 { top: 11.5%; left: 29.5%; }
.clunk .style03 .item03 { top: 16.8%; left: 52.8%; }
.clunk .style03 .item04 { top: 54%; left: 25.5%; }
.clunk .style03 .item05 { top: 39.4%; left: 45%; }
.clunk .style03 .item06 { top: 87%; left: 16.4%; }

.clunk .style04 .ph-box {  }
.clunk .style04 .copy { top: 40px; right: 50px; }
.clunk .style04 .info-box { top: 240px; left: 50px; }
.clunk .style04 .ph-txt { margin-top: 20px; }
.clunk .style04 .item01 { top: -3%; left: 36%; }
.clunk .style04 .item02 { top: 42%; left: 72.5%; }
.clunk .style04 .item03 { top: 76%; left: 35.5%; }

.clunk .style05 .ph-box {  }
.clunk .style05 .copy { top: 40px; left: 30px; }
.clunk .style05 .info-box { top: 200px; right: 50px; }
.clunk .style05 .ph-txt { margin-top: 5px; }
.clunk .style05 .item01 { top: -2.8%; left: 42%; }
.clunk .style05 .item02 { top: 15%; left: 50%; }
.clunk .style05 .item03 { top: 54.7%; left: 28.5%; }
.clunk .style05 .item04 { top: 38.5%; left: 31%; }
.clunk .style05 .item05 { top: 88.5%; left: 28.8%; }

.clunk .style06 .ph-box {  }
.clunk .style06 .copy { top: 280px; right: 20px; }
.clunk .style06 .info-box { top: 240px; left: 20px; }
.clunk .style06 .ph-txt { margin-top: 10px; }
.clunk .style06 .item01 { top: 0.5%; left: 28.8%; }
.clunk .style06 .item02 { top: 35.5%; left: 57.4%; }
.clunk .style06 .item03 { top: 62.2%; left: 29.5%; }

.clunk .style07 .ph-box {  }
.clunk .style07 .copy { top: 40px; left: 70px; }
.clunk .style07 .info-box { top: 340px; right: 50px; }
.clunk .style07 .ph-txt { margin-top: -5px; }
.clunk .style07 .item01 { top: -2%; left: 38%; }
.clunk .style07 .item02 { top: 14.7%; left: 55.4%; }
.clunk .style07 .item03 { top: 55%; left: 48%; }
.clunk .style07 .item04 { top: 36.5%; left: 30%; }
.clunk .style07 .item05 { top: 84.7%; left: 22%; }

.clunk .style08 .ph-box {  }
.clunk .style08 .copy { top: 200px; right: 50px; }
.clunk .style08 .info-box { top: 190px; left: 50px; }
.clunk .style08 .ph-txt { margin-top: 10px; }
.clunk .style08 .item01 { top: -1.5%; left: 65.8%; }
.clunk .style08 .item02 { top: 41%; left: 68.8%; }
.clunk .style08 .item03 { top: 85.8%; left: 22.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .clunk */
.clunk .style01 .ph-box { margin: 0 -25vw 0 0; }
.clunk .style01 .copy { top: 4vw; left: 4vw; }
.clunk .style01 .info-box { top: inherit; right: inherit; }
.clunk .style01 .ph-txt { margin-top: 0; }

.clunk .style02 .ph-box { margin: 0 0 2vw -25vw; }
.clunk .style02 .copy { top: 11vw; right: 5vw; }
.clunk .style02 .info-box { top: inherit; left: inherit; }
.clunk .style02 .ph-txt { margin-top: 0; }

.clunk .style03 .ph-box { margin: 0 -25vw 0 0; }
.clunk .style03 .copy { top: 4vw; left: 5vw; }
.clunk .style03 .info-box { top: inherit; right: inherit; }
.clunk .style03 .ph-txt { margin-top: 0; }

.clunk .style04 .ph-box { margin: 0 0 2vw -25vw; }
.clunk .style04 .copy { top: 4vw; right: 5vw; }
.clunk .style04 .info-box { top: inherit; left: inherit; }
.clunk .style04 .ph-txt { margin-top: 0; }

.clunk .style05 .ph-box { margin: 0 -25vw 0 0; }
.clunk .style05 .copy { top: 4vw; left: 3vw; }
.clunk .style05 .info-box { top: inherit; right: inherit; }
.clunk .style05 .ph-txt { margin-top: 0; }

.clunk .style06 .ph-box { margin: 0 3vw 1vw -28vw; }
.clunk .style06 .copy { top: 28vw; right: 2vw; }
.clunk .style06 .info-box { top: inherit; left: inherit; }
.clunk .style06 .ph-txt { margin-top: 0; }

.clunk .style07 .ph-box { margin: 0 -25vw 0 0; }
.clunk .style07 .copy { top: 4vw; left: 7vw; }
.clunk .style07 .info-box { top: inherit; right: inherit; }
.clunk .style07 .ph-txt { margin-top: 0; }

.clunk .style08 .ph-box { margin: 0 0 1vw -25vw; }
.clunk .style08 .copy { top: 20vw; right: 5vw; }
.clunk .style08 .info-box { top: inherit; left: inherit; }
.clunk .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
