/* .vivaheart */
.vivaheart .style01 .ph-box {  }
.vivaheart .style01 .copy { top: 40px; left: 40px; }
.vivaheart .style01 .info-box { top: 140px; right: 50px; }
.vivaheart .style01 .ph-txt { margin-top: -10px; }
.vivaheart .style01 .item01 { top: 12%; left: 46%; }
.vivaheart .style01 .item02 { top: 50%; left: 30%; }
.vivaheart .style01 .item03 { top: -0.5%; left: 26%; }
.vivaheart .style01 .item04 { top: 38.2%; left: 44%; }

.vivaheart .style02 .ph-box {  }
.vivaheart .style02 .copy { top: 40px; right: 90px; }
.vivaheart .style02 .info-box { top: 280px; left: 70px; }
.vivaheart .style02 .ph-txt { margin-top: -20px; }
.vivaheart .style02 .item01 { top: 17%; left: 40%; }
.vivaheart .style02 .item02 { top: 14.5%; left: 59%; }
.vivaheart .style02 .item03 { top: 49%; left: 63%; }
.vivaheart .style02 .item04 { top: -1%; left: 62%; }
.vivaheart .style02 .item05 { top: 35%; left: 43%; }
.vivaheart .style02 .item06 { top: 39%; left: 57%; }
.vivaheart .style02 .item07 { top: 71%; left: 47%; }
.vivaheart .style02 .item08 { top: 80.5%; left: 62%; }

.vivaheart .style03 .ph-box {  }
.vivaheart .style03 .copy { top: 40px; left: 70px; }
.vivaheart .style03 .info-box { top: 290px; right: 50px; }
.vivaheart .style03 .ph-txt { margin-top: -10px; }
.vivaheart .style03 .item01 { top: 15%; left: 54%; }
.vivaheart .style03 .item02 { top: 51%; left: 27%; }
.vivaheart .style03 .item03 { top: -1%; left: 49%; }
.vivaheart .style03 .item04 { top: 39.5%; left: 48%; }

.vivaheart .style04 .ph-box {  }
.vivaheart .style04 .copy { top: 40px; right: 90px; }
.vivaheart .style04 .info-box { top: 60px; left: 80px; }
.vivaheart .style04 .ph-txt { margin-top: -30px; }
.vivaheart .style04 .item01 { top: 12%; left: 46%; }
.vivaheart .style04 .item02 { top: 48%; left: 69%; }
.vivaheart .style04 .item03 { top: 0;left: 64.5%; }
.vivaheart .style04 .item04 { top: 33%; left: 49.5%; }
.vivaheart .style04 .item05 { top: 37%; left: 70%; }
.vivaheart .style04 .item06 { top: 82%; left: 62.2%; }

.vivaheart .style05 .ph-box {  }
.vivaheart .style05 .copy { top: 40px; left: 30px; }
.vivaheart .style05 .info-box { top: 350px; right: 50px; }
.vivaheart .style05 .ph-txt { margin-top: -5px; }
.vivaheart .style05 .item01 { top: 13%; left: 51%; }
.vivaheart .style05 .item02 { top: 57%; left: 31%; }
.vivaheart .style05 .item03 { top: -1.5%; left: 43.7%; }
.vivaheart .style05 .item04 { top: 38.7%; left: 36%; }

.vivaheart .style06 .ph-box {  }
.vivaheart .style06 .copy { top: 40px; right: 70px; }
.vivaheart .style06 .info-box { top: 220px; left: 40px; }
.vivaheart .style06 .ph-txt { margin-top: -20px; }
.vivaheart .style06 .item01 { top: -2%; left: 43%; }
.vivaheart .style06 .item02 { top: 12%; left: 34%; }
.vivaheart .style06 .item03 { top: 53%; left: 28%; }
.vivaheart .style06 .item04 { top: 67.5%; left: 53%; }
.vivaheart .style06 .item05 { top: 39%; left: 64.5%; }

.vivaheart .style07 .ph-box {  }
.vivaheart .style07 .copy { top: 40px; left: 60px; }
.vivaheart .style07 .info-box { top: 420px; right: 50px; }
.vivaheart .style07 .ph-txt { margin-top: -5px; }
.vivaheart .style07 .item01 { top: 12%; left: 48%; }
.vivaheart .style07 .item02 { top: 55%; left: 31%; }
.vivaheart .style07 .item03 { top: -1%; left: 27%; }
.vivaheart .style07 .item04 { top: 40%; left: 46%; }

.vivaheart .style08 .ph-box {  }
.vivaheart .style08 .copy { top: 40px; right: 90px; }
.vivaheart .style08 .info-box { top: 420px; left: 70px; }
.vivaheart .style08 .ph-txt { margin-top: -10px; }
.vivaheart .style08 .item01 { top: 12%; left: 41%; }
.vivaheart .style08 .item02 { top: 50%; left: 58%; }
.vivaheart .style08 .item03 { top: -2.2%; left: 56.2%; }
.vivaheart .style08 .item04 { top: 41.2%; left: 33.4%; }
.vivaheart .style08 .item05 { top: 83%; left: 56.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .vivaheart */
.vivaheart .style01 .ph-box { margin: 0 -25vw 0 0; }
.vivaheart .style01 .copy { top: 4vw; left: 4vw; }
.vivaheart .style01 .info-box { top: inherit; right: inherit; }
.vivaheart .style01 .ph-txt { margin-top: 0; }

.vivaheart .style02 .ph-box { margin: 0 0 0 -25vw; }
.vivaheart .style02 .copy { top: 4vw; right: 9vw; }
.vivaheart .style02 .info-box { top: inherit; left: inherit; }
.vivaheart .style02 .ph-txt { margin-top: 0; }

.vivaheart .style03 .ph-box { margin: 0 -25vw 0 0; }
.vivaheart .style03 .copy { top: 4vw; left: 7vw; }
.vivaheart .style03 .info-box { top: inherit; right: inherit; }
.vivaheart .style03 .ph-txt { margin-top: 0; }

.vivaheart .style04 .ph-box { margin: 0 -4vw 0 -21vw; }
.vivaheart .style04 .copy { top: 4vw; right: 6vw; }
.vivaheart .style04 .info-box { top: inherit; left: inherit; }
.vivaheart .style04 .ph-txt { margin-top: 0; }

.vivaheart .style05 .ph-box { margin: 0 -25vw 0 0; }
.vivaheart .style05 .copy { top: 4vw; left: 3vw; }
.vivaheart .style05 .info-box { top: inherit; right: inherit; }
.vivaheart .style05 .ph-txt { margin-top: 0; }

.vivaheart .style06 .ph-box { margin: 0 0 0 -25vw; }
.vivaheart .style06 .copy { top: 4vw; right: 7vw; }
.vivaheart .style06 .info-box { top: inherit; left: inherit; }
.vivaheart .style06 .ph-txt { margin-top: 0; }

.vivaheart .style07 .ph-box { margin: 0 -25vw 0 0; }
.vivaheart .style07 .copy { top: 4vw; left: 6vw; }
.vivaheart .style07 .info-box { top: inherit; right: inherit; }
.vivaheart .style07 .ph-txt { margin-top: 0; }

.vivaheart .style08 .ph-box { margin: 0 0 0 -25vw; }
.vivaheart .style08 .copy { top: 4vw; right: 9vw; }
.vivaheart .style08 .info-box { top: inherit; left: inherit; }
.vivaheart .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
