/* .munsing */
.munsing .style01 .ph-box {  }
.munsing .style01 .copy { top: 40px; left: 50px; }
.munsing .style01 .info-box { top: 440px; right: 30px; }
.munsing .style01 .ph-txt { margin-top: -5px; }
.munsing .style01 .item01 { top: -2.5%; left: 51%; }
.munsing .style01 .item02 { top: 14%; left: 62%; }
.munsing .style01 .item03 { top: 13%; left: 42%; }
.munsing .style01 .item04 { top: 56%; left: 40%; }
.munsing .style01 .item05 { top: 85%; left: 57.5%; }

.munsing .style02 .ph-box {  }
.munsing .style02 .copy { top: 40px; right: 90px; }
.munsing .style02 .info-box { top: 260px; left: 80px; }
.munsing .style02 .ph-txt { margin-top: -5px; }
.munsing .style02 .item01 { top: -3%; left: 61%; }
.munsing .style02 .item02 { top: 16%; left: 37%; }
.munsing .style02 .item03 { top: 10%; left: 64%; }
.munsing .style02 .item04 { top: 46%; left: 46%; }
.munsing .style02 .item05 { top: 75%; left: 52%; }
.munsing .style02 .item06 { top: 67%; left: 74%; }
.munsing .style02 .item07 { top: 85.5%; left: 66.5%; }

.munsing .style03 .ph-box {  }
.munsing .style03 .copy { top: 40px; left: 70px; }
.munsing .style03 .info-box { top: 380px; right: 60px; }
.munsing .style03 .ph-txt { margin-top: -5px; }
.munsing .style03 .item01 { top: -2%; left: 47%; }
.munsing .style03 .item02 { top: 20%; left: 57%; }
.munsing .style03 .item03 { top: 54%; left: 31%; }
.munsing .style03 .item04 { top: 88.5%; left: 37.2%; }

.munsing .style04 .ph-box {  }
.munsing .style04 .copy { top: 40px; left: 70px; }
.munsing .style04 .info-box { top: 440px; right: 60px; }
.munsing .style04 .ph-txt { margin-top: -10px; }
.munsing .style04 .item01 { top: -2%; left: 37.5%; }
.munsing .style04 .item02 { top: 16.5%; left: 57.5%; }
.munsing .style04 .item03 { top: 12%; left: 38.7%; }
.munsing .style04 .item04 { top: 47%; left: 30%; }
.munsing .style04 .item05 { top: 77.4%; left: 46%; }
.munsing .style04 .item06 { top: 86.5%; left: 35%; }

.munsing .style05 .ph-box {  }
.munsing .style05 .copy { top: 40px; left: 30px; }
.munsing .style05 .info-box { top: 500px; right: 40px; }
.munsing .style05 .ph-txt { margin-top: -5px; }
.munsing .style05 .item01 { top: -1%; left: 56%; }
.munsing .style05 .item02 { top: 14%; left: 39%; }
.munsing .style05 .item03 { top: 53%; left: 38%; }
.munsing .style05 .item04 { top: 40.5%; left: 57.5%; }
.munsing .style05 .item05 { top: 86%; left: 54.2%; }

.munsing .style06 .ph-box {  }
.munsing .style06 .copy { top: 40px; right: 80px; }
.munsing .style06 .info-box { top: 330px; left: 70px; }
.munsing .style06 .ph-txt { margin-top: -5px; }
.munsing .style06 .item01 { top: -1%; left: 50%; }
.munsing .style06 .item02 { top: 13%; left: 41%; }
.munsing .style06 .item03 { top: 45.5%; left: 67%; }
.munsing .style06 .item04 { top: 84.2%; left: 61.5%; }
.munsing .style06 .item05 { top: 64%; left: 37%; }
.munsing .style06 .item06 { top: 87.3%; left: 34%; }

.munsing .style07 .ph-box {  }
.munsing .style07 .copy { top: 40px; left: 70px; }
.munsing .style07 .info-box { top: 360px; right: 50px; }
.munsing .style07 .ph-txt { margin-top: -10px; }
.munsing .style07 .item01 { top: -2.5%; left: 37%; }
.munsing .style07 .item02 { top: 13.5%; left: 54.5%; }
.munsing .style07 .item03 { top: 53%; left: 51%; }
.munsing .style07 .item04 { top: 38.4%; left: 35.7%; }
.munsing .style07 .item05 { top: 84%; left: 31.5%; }

.munsing .style08 .ph-box {  }
.munsing .style08 .copy { top: 40px; right: 90px; }
.munsing .style08 .info-box { top: 320px; left: 70px; }
.munsing .style08 .ph-txt { margin-top: -10px; }
.munsing .style08 .item01 { top: -2%; left: 61%; }
.munsing .style08 .item02 { top: 14%; left: 64.5%; }
.munsing .style08 .item03 { top: 46.5%; left: 41%; }
.munsing .style08 .item04 { top: 80%; left: 47%; }
.munsing .style08 .item05 { top: 87.5%; left: 57.3%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .munsing */
.munsing .style01 .ph-box { margin: 0 -25vw 0 0; }
.munsing .style01 .copy { top: 4vw; left: 5vw; }
.munsing .style01 .info-box { top: inherit; right: inherit; }
.munsing .style01 .ph-txt { margin-top: 0; }

.munsing .style02 .ph-box { margin: 0 0 0 -25vw; }
.munsing .style02 .copy { top: 4vw; right: 9vw; }
.munsing .style02 .info-box { top: inherit; left: inherit; }
.munsing .style02 .ph-txt { margin-top: 0; }

.munsing .style03 .ph-box { margin: 0 -25vw 0 0; }
.munsing .style03 .copy { top: 4vw; left: 7vw; }
.munsing .style03 .info-box { top: inherit; right: inherit; }
.munsing .style03 .ph-txt { margin-top: 0; }

.munsing .style04 .ph-box { margin: 0 -25vw 0 0; }
.munsing .style04 .copy { top: 4vw; left: 7vw; }
.munsing .style04 .info-box { top: inherit; right: inherit; }
.munsing .style04 .ph-txt { margin-top: 0; }

.munsing .style05 .ph-box { margin: 0 -25vw 0 0; }
.munsing .style05 .copy { top: 4vw; left: 3vw; }
.munsing .style05 .info-box { top: inherit; right: inherit; }
.munsing .style05 .ph-txt { margin-top: 0; }

.munsing .style06 .ph-box { margin: 0 0 0 -25vw; }
.munsing .style06 .copy { top: 4vw; right: 8vw; }
.munsing .style06 .info-box { top: inherit; left: inherit; }
.munsing .style06 .ph-txt { margin-top: 0; }

.munsing .style07 .ph-box { margin: 0 -25vw 0 0; }
.munsing .style07 .copy { top: 4vw; left: 7vw; }
.munsing .style07 .info-box { top: inherit; right: inherit; }
.munsing .style07 .ph-txt { margin-top: 0; }

.munsing .style08 .ph-box { margin: 0 0 0 -25vw; }
.munsing .style08 .copy { top: 4vw; right: 9vw; }
.munsing .style08 .info-box { top: inherit; left: inherit; }
.munsing .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
