/* .waac */
.waac .style01 .ph-box {  }
.waac .style01 .copy { top: 40px; left: 40px; }
.waac .style01 .info-box { top: 100px; right: 50px; }
.waac .style01 .ph-txt { margin-top: -5px; }
.waac .style01 .item01 { top: %; left: %; }
.waac .style01 .item02 { top: %; left: %; }
.waac .style01 .item03 { top: %; left: %; }
.waac .style01 .item04 { top: %; left: %; }
.waac .style01 .item05 { top: %; left: %; }

.waac .style02 .ph-box {  }
.waac .style02 .copy { top: 40px; right: 90px; }
.waac .style02 .info-box { top: 240px; left: 60px; }
.waac .style02 .ph-txt { margin-top: -5px; }
.waac .style02 .item01 { top: %; left: %; }
.waac .style02 .item02 { top: %; left: %; }
.waac .style02 .item03 { top: %; left: %; }
.waac .style02 .item04 { top: %; left: %; }
.waac .style02 .item05 { top: %; left: %; }

.waac .style03 .ph-box {  }
.waac .style03 .copy { top: 40px; left: 70px; }
.waac .style03 .info-box { top: 290px; right: 50px; }
.waac .style03 .ph-txt { margin-top: 5px; }
.waac .style03 .item01 { top: %; left: %; }
.waac .style03 .item02 { top: %; left: %; }
.waac .style03 .item03 { top: %; left: %; }
.waac .style03 .item04 { top: %; left: %; }
.waac .style03 .item05 { top: %; left: %; }

.waac .style04 .ph-box {  }
.waac .style04 .copy { top: 40px; right: 90px; }
.waac .style04 .info-box { top: 320px; left: 80px; }
.waac .style04 .ph-txt { margin-top: -5px; }
.waac .style04 .item01 { top: %; left: %; }
.waac .style04 .item02 { top: %; left: %; }
.waac .style04 .item03 { top: %; left: %; }
.waac .style04 .item04 { top: %; left: %; }
.waac .style04 .item05 { top: %; left: %; }

.waac .style05 .ph-box {  }
.waac .style05 .copy { top: 40px; left: 30px; }
.waac .style05 .info-box { top: 350px; right: 60px; }
.waac .style05 .ph-txt { margin-top: -10px; }
.waac .style05 .item01 { top: %; left: %; }
.waac .style05 .item02 { top: %; left: %; }
.waac .style05 .item03 { top: %; left: %; }
.waac .style05 .item04 { top: %; left: %; }
.waac .style05 .item05 { top: %; left: %; }

.waac .style06 .ph-box {  }
.waac .style06 .copy { top: 40px; right: 80px; }
.waac .style06 .info-box { top: 240px; left: 50px; }
.waac .style06 .ph-txt { margin-top: -10px; }
.waac .style06 .item01 { top: %; left: %; }
.waac .style06 .item02 { top: %; left: %; }
.waac .style06 .item03 { top: %; left: %; }
.waac .style06 .item04 { top: %; left: %; }
.waac .style06 .item05 { top: %; left: %; }

.waac .style07 .ph-box {  }
.waac .style07 .copy { top: 40px; left: 60px; }
.waac .style07 .info-box { top: 470px; right: 40px; }
.waac .style07 .ph-txt { margin-top: -10px; }
.waac .style07 .item01 { top: %; left: %; }
.waac .style07 .item02 { top: %; left: %; }
.waac .style07 .item03 { top: %; left: %; }
.waac .style07 .item04 { top: %; left: %; }
.waac .style07 .item05 { top: %; left: %; }

.waac .style08 .ph-box {  }
.waac .style08 .copy { top: 40px; right: 140px; }
.waac .style08 .info-box { top: 300px; left: 50px; }
.waac .style08 .ph-txt { margin-top: -5px; }
.waac .style08 .item01 { top: %; left: %; }
.waac .style08 .item02 { top: %; left: %; }
.waac .style08 .item03 { top: %; left: %; }
.waac .style08 .item04 { top: %; left: %; }
.waac .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .waac */
.waac .style01 .ph-box { margin: 0 -25vw 0 0; }
.waac .style01 .copy { top: 4vw; left: 4vw; }
.waac .style01 .info-box { top: inherit; right: inherit; }
.waac .style01 .ph-txt { margin-top: 0; }

.waac .style02 .ph-box { margin: 0 0 0 -25vw; }
.waac .style02 .copy { top: 4vw; right: 9vw; }
.waac .style02 .info-box { top: inherit; left: inherit; }
.waac .style02 .ph-txt { margin-top: 0; }

.waac .style03 .ph-box { margin: 0 -25vw 0 0; }
.waac .style03 .copy { top: 4vw; left: 7vw; }
.waac .style03 .info-box { top: inherit; right: inherit; }
.waac .style03 .ph-txt { margin-top: 0; }

.waac .style04 .ph-box { margin: 0 0 0 -25vw; }
.waac .style04 .copy { top: 4vw; right: 9vw; }
.waac .style04 .info-box { top: inherit; left: inherit; }
.waac .style04 .ph-txt { margin-top: 0; }

.waac .style05 .ph-box { margin: 0 -25vw 0 0; }
.waac .style05 .copy { top: 4vw; left: 3vw; }
.waac .style05 .info-box { top: inherit; right: inherit; }
.waac .style05 .ph-txt { margin-top: 0; }

.waac .style06 .ph-box { margin: 0 0 0 -25vw; }
.waac .style06 .copy { top: 4vw; right: 8vw; }
.waac .style06 .info-box { top: inherit; left: inherit; }
.waac .style06 .ph-txt { margin-top: 0; }

.waac .style07 .ph-box { margin: 0 -25vw 0 0; }
.waac .style07 .copy { top: 4vw; left: 6vw; }
.waac .style07 .info-box { top: inherit; right: inherit; }
.waac .style07 .ph-txt { margin-top: 0; }

.waac .style08 .ph-box { margin: 0 0 0 -25vw; }
.waac .style08 .copy { top: 4vw; right: 14vw; }
.waac .style08 .info-box { top: inherit; left: inherit; }
.waac .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
