/* .tommy */
.tommy .style01 .ph-box {  }
.tommy .style01 .copy { top: 40px; left: 40px; }
.tommy .style01 .info-box { top: 100px; right: 50px; }
.tommy .style01 .ph-txt { margin-top: -10px; }
.tommy .style01 .item01 { top: -2%; left: 33.2%; }
.tommy .style01 .item02 { top: 16%; left: 49%; }
.tommy .style01 .item03 { top: 50%; left: 45%; }
.tommy .style01 .item04 { top: 39.8%; left: 25%; }
.tommy .style01 .item05 { top: 51%; left: 67%; }
.tommy .style01 .item06 { top: 67%; left: 62%; }
.tommy .style01 .item07 { top: 37.2%; left: 46.5%; }

.tommy .style02 .ph-box {  }
.tommy .style02 .copy { top: 40px; right: 90px; }
.tommy .style02 .info-box { top: 270px; left: 70px; }
.tommy .style02 .ph-txt { margin-top: -20px; }
.tommy .style02 .item01 { top: -2%; left: 48.8%; }
.tommy .style02 .item02 { top: 12%; left: 46%; }
.tommy .style02 .item03 { top: 52%; left: 67%; }
.tommy .style02 .item04 { top: 40%; left: 62%; }
.tommy .style02 .item05 { top: 81%; left: 37.5%; }
.tommy .style02 .item06 { top: 59%; left: 45%; }

.tommy .style03 .ph-box {  }
.tommy .style03 .copy { top: 40px; left: 60px; }
.tommy .style03 .info-box { top: 290px; right: 50px; }
.tommy .style03 .ph-txt { margin-top: -20px; }
.tommy .style03 .item01 { top: -2%; left: 42%; }
.tommy .style03 .item02 { top: 12%; left: 50%; }
.tommy .style03 .item03 { top: 54%; left: 49.5%; }
.tommy .style03 .item04 { top: 37.5%; left: 32%; }
.tommy .style03 .item05 { top: 2%; left: %; }
.tommy .style03 .item06 { top: 59.5%; left: 23%; }
.tommy .style03 .item07 { top: 81.2%; left: 50%; }

.tommy .style04 .ph-box {  }
.tommy .style04 .copy { top: 40px; right: 100px; }
.tommy .style04 .info-box { top: 370px; left: 70px; }
.tommy .style04 .ph-txt { margin-top: 5px; }
.tommy .style04 .item01 { top: 12%; left: 56.5%; }
.tommy .style04 .item02 { top: 28.5%; left: 62.5%; }
.tommy .style04 .item03 { top: 56%; left: 42%; }
.tommy .style04 .item04 { top: 5%; left: 20%; }
.tommy .style04 .item05 { top: 88.2%; left: 48%; }

.tommy .style05 .ph-box {  }
.tommy .style05 .copy { top: 40px; left: 40px; }
.tommy .style05 .info-box { top: 370px; right: 40px; }
.tommy .style05 .ph-txt { margin-top: -5px; }
.tommy .style05 .item01 { top: -2%; left: 45%; }
.tommy .style05 .item02 { top: 29%; left: 40%; }
.tommy .style05 .item03 { top: 20%; left: 60%; }
.tommy .style05 .item04 { top: 57%; left: 56%; }
.tommy .style05 .item05 { top: 43%; left: 40%; }
.tommy .style05 .item06 { top: 2%; left: %; }
.tommy .style05 .item07 { top: 83%; left: 59%; }
.tommy .style05 .item08 { top: 58%; left: 18%; }

.tommy .style06 .ph-box {  }
.tommy .style06 .copy { top: 40px; right: 80px; }
.tommy .style06 .info-box { top: 330px; left: 60px; }
.tommy .style06 .ph-txt { margin-top: -40px; }
.tommy .style06 .item01 { top: -2%; left: 53.4%; }
.tommy .style06 .item02 { top: 29%; left: 62%; }
.tommy .style06 .item03 { top: 13.5%; left: 42%; }
.tommy .style06 .item04 { top: 47%; left: 37.5%; }
.tommy .style06 .item05 { top: 39%; left: 51.5%; }
.tommy .style06 .item06 { top: 79%; left: 47%; }
.tommy .style06 .item07 { top: 2%; left: %; }
.tommy .style06 .item08 { top: 67%; left: 62.5%; }
.tommy .style06 .item09 { top: 2%; left: %; }

.tommy .style07 .ph-box {  }
.tommy .style07 .copy { top: 40px; left: 60px; }
.tommy .style07 .info-box { top: 400px; right: 50px; }
.tommy .style07 .ph-txt { margin-top: 5px; }
.tommy .style07 .item01 { top: -1.5%; left: 29%; }
.tommy .style07 .item02 { top: 12%; left: 50%; }
.tommy .style07 .item03 { top: 14%; left: 30.5%; }
.tommy .style07 .item04 { top: 67%; left: 50%; }
.tommy .style07 .item05 { top: 51%; left: 56.5%; }
.tommy .style07 .item07 { top: 73%; left: 30.5%; }
.tommy .style07 .item08 { top: 65%; left: 20%; }
.tommy .style07 .item09 { top: 86%; left: 36%; }

.tommy .style08 .ph-box {  }
.tommy .style08 .copy { top: 40px; right: 60px; }
.tommy .style08 .info-box { top: 180px; left: 80px; }
.tommy .style08 .ph-txt { margin-top: -40px; }
.tommy .style08 .item01 { top: -2%; left: 54.8%; }
.tommy .style08 .item02 { top: 12%; left: 47.5%; }
.tommy .style08 .item03 { top: 47%; left: 68.5%; }
.tommy .style08 .item04 { top: 2%; left: %; }
.tommy .style08 .item05 { top: 34%; left: 60.7%; }
.tommy .style08 .item06 { top: 55%; left: 18.7%; }
.tommy .style08 .item07 { top: 63%; left: 45%; }
.tommy .style08 .item08 { top: 74.5%; left: 64.5%; }
.tommy .style08 .item09 { top: 2%; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .tommy */
.tommy .style01 .ph-box { margin: 0 -17vw 0 -1vw; }
.tommy .style01 .copy { top: 4vw; left: 1vw; }
.tommy .style01 .info-box { top: inherit; right: inherit; }
.tommy .style01 .ph-txt { margin-top: 0; }

.tommy .style02 .ph-box { margin: 0 0 0 -25vw; }
.tommy .style02 .copy { top: 4vw; right: 9vw; }
.tommy .style02 .info-box { top: inherit; left: inherit; }
.tommy .style02 .ph-txt { margin-top: 0; }

.tommy .style03 .ph-box { margin: 0 -25vw 0 0; }
.tommy .style03 .copy { top: 40px; left: 60px; }
.tommy .style03 .info-box { top: inherit; right: inherit; }
.tommy .style03 .ph-txt { margin-top: 0; }

.tommy .style04 .ph-box { margin: 0 -10vw 0 -20vw; }
.tommy .style04 .copy { top: 4vw; right: 5vw; }
.tommy .style04 .info-box { top: inherit; left: inherit; }
.tommy .style04 .ph-txt { margin-top: 0; }

.tommy .style05 .ph-box { margin: 0 -25vw 0 0; }
.tommy .style05 .copy { top: 4vw; left: 4vw; }
.tommy .style05 .info-box { top: inherit; right: inherit; }
.tommy .style05 .ph-txt { margin-top: 0; }

.tommy .style06 .ph-box { margin: 0 0 0 -25vw; }
.tommy .style06 .copy { top: 4vw; right: 8vw; }
.tommy .style06 .info-box { top: inherit; left: inherit; }
.tommy .style06 .ph-txt { margin-top: 0; }

.tommy .style07 .ph-box { margin: 0 -25vw 0 0; }
.tommy .style07 .copy { top: 4vw; left: 6vw; }
.tommy .style07 .info-box { top: inherit; right: inherit; }
.tommy .style07 .ph-txt { margin-top: 0; }

.tommy .style08 .ph-box { margin: 0 -4vw 0 -9vw; }
.tommy .style08 .copy { top: 4vw; right: 1vw; }
.tommy .style08 .info-box { top: inherit; left: inherit; }
.tommy .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
