/* .rands */
.rands .style01 .ph-box {  }
.rands .style01 .copy { top: 40px; left: 40px; }
.rands .style01 .info-box { top: 100px; right: 50px; }
.rands .style01 .ph-txt { margin-top: -5px; }
.rands .style01 .item01 { top: %; left: %; }
.rands .style01 .item02 { top: %; left: %; }
.rands .style01 .item03 { top: %; left: %; }
.rands .style01 .item04 { top: %; left: %; }
.rands .style01 .item05 { top: %; left: %; }

.rands .style02 .ph-box {  }
.rands .style02 .copy { top: 40px; right: 80px; }
.rands .style02 .info-box { top: 220px; left: 70px; }
.rands .style02 .ph-txt { margin-top: 5px; }
.rands .style02 .item01 { top: %; left: %; }
.rands .style02 .item02 { top: %; left: %; }
.rands .style02 .item03 { top: %; left: %; }
.rands .style02 .item04 { top: %; left: %; }
.rands .style02 .item05 { top: %; left: %; }

.rands .style03 .ph-box {  }
.rands .style03 .copy { top: 40px; left: 40px; }
.rands .style03 .info-box { top: 350px; right: 60px; }
.rands .style03 .ph-txt { margin-top: -5px; }
.rands .style03 .item01 { top: %; left: %; }
.rands .style03 .item02 { top: %; left: %; }
.rands .style03 .item03 { top: %; left: %; }
.rands .style03 .item04 { top: %; left: %; }
.rands .style03 .item05 { top: %; left: %; }

.rands .style04 .ph-box {  }
.rands .style04 .copy { top: 40px; right: 60px; }
.rands .style04 .info-box { top: 190px; left: 70px; }
.rands .style04 .ph-txt { margin-top: -5px; }
.rands .style04 .item01 { top: %; left: %; }
.rands .style04 .item02 { top: %; left: %; }
.rands .style04 .item03 { top: %; left: %; }
.rands .style04 .item04 { top: %; left: %; }
.rands .style04 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .rands */
.rands .style01 .ph-box { margin: 0 -25vw 0 0; }
.rands .style01 .copy { top: 4vw; left: 4vw; }
.rands .style01 .info-box { top: inherit; right: inherit; }
.rands .style01 .ph-txt { margin-top: 0; }

.rands .style02 .ph-box { margin: 0 0 0 -25vw; }
.rands .style02 .copy { top: 4vw; right: 8vw; }
.rands .style02 .info-box { top: inherit; left: inherit; }
.rands .style02 .ph-txt { margin-top: 0; }

.rands .style03 .ph-box { margin: 0 -25vw 0 0; }
.rands .style03 .copy { top: 4vw; left: 4vw; }
.rands .style03 .info-box { top: inherit; right: inherit; }
.rands .style03 .ph-txt { margin-top: 0; }

.rands .style04 .ph-box { margin: 0 0 0 -25vw; }
.rands .style04 .copy { top: 4vw; right: 6vw; }
.rands .style04 .info-box { top: inherit; left: inherit; }
.rands .style04 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
