body {
	font-family: "游ゴシック", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
}

img {
	vertical-align:middle;
	max-width:100%;
}

.pcnone{ display:none !important; }
.spnone{ display:inherit !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	margin: 0 auto;
	padding: 60px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
#detail .brand-title01{
}
#detail .brand-title01 .logo{
	margin-bottom: 20px;
}
#detail .brand-title01 .txt {
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: normal;
}
#detail .brand-copy {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
#detail .brand-lead {
	font-size: 16px;
	margin-bottom: 40px;
}

#detail .detail-wrapper .detail-inner{
	margin: 0 auto;
}

#detail .brand-box01 {
	margin: 0 auto 50px;
	width: 820px;
	text-align: left;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
	z-index: 20;
}
/* --------------------------追記-------------------------- */
#detail .brand-box01 .copy-style {
	background-size: 100% !important;
	padding: 110px 0 0 30px;
	width: 115px;
	font-size: 26px;
	line-height: 1.4;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#detail .brand-box01 .m01 { background: url(../img/style_m01.png) 0 0 no-repeat; }
#detail .brand-box01 .m02 { background: url(../img/style_m02.png) 0 0 no-repeat; }
#detail .brand-box01 .m03 { background: url(../img/style_m03.png) 0 0 no-repeat; }
#detail .brand-box01 .m04 { background: url(../img/style_m04.png) 0 0 no-repeat; }
#detail .brand-box01 .m05 { background: url(../img/style_m05.png) 0 0 no-repeat; }
#detail .brand-box01 .m06 { background: url(../img/style_m06.png) 0 0 no-repeat; }
#detail .brand-box01 .m07 { background: url(../img/style_m07.png) 0 0 no-repeat; }
#detail .brand-box01 .m08 { background: url(../img/style_m08.png) 0 0 no-repeat; }
#detail .brand-box01 .w01 { background: url(../img/style_w01.png) 0 0 no-repeat; }
#detail .brand-box01 .w02 { background: url(../img/style_w02.png) 0 0 no-repeat; }
#detail .brand-box01 .w03 { background: url(../img/style_w03.png) 0 0 no-repeat; }
#detail .brand-box01 .w04 { background: url(../img/style_w04.png) 0 0 no-repeat; }
#detail .brand-box01 .w05 { background: url(../img/style_w05.png) 0 0 no-repeat; }
#detail .brand-box01 .w06 { background: url(../img/style_w06.png) 0 0 no-repeat; }
#detail .brand-box01 .w07 { background: url(../img/style_w07.png) 0 0 no-repeat; }
#detail .brand-box01 .w08 { background: url(../img/style_w08.png) 0 0 no-repeat; }
/* --------------------------追記-------------------------- */
#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
	/* z-index: 10; */
}

@media all and (-ms-high-contrast: none) {
#detail .brand-box01 .ph-box .ph img {
width: 100%;
}
}

#detail .brand-box01 .info-box {
	position: absolute;
	width: 240px;
	/* z-index: 20; */
}
#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}
#detail .brand-box01 .info-box .point-txt {
	margin-bottom: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
#detail .brand-box01 .info-box .point-ph {
}
.ph-txt {
	position: relative;
	margin: 0 auto;
	width: 580px;
	z-index: 10;
}

/* ボタン */
.btn-box{
	margin: 0 auto;
	width: 80%;
}
a.brand-btn01{
	background: #fff;
	position: relative;
	color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	font-size: 30px;
	border: solid 1px #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a.brand-btn01:after{
	font-family: "Font Awesome 5 Free";
	content: "\f054";
	font-weight: 900;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -0.56em;
}
a.brand-btn01:hover{
	background: #f3c564;
}
a.brand-btn01 .logo{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
a.brand-btn01 .txt{
	font-size: 14px;
	font-weight: bold;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
.pcnone{ display:inherit !important; }
.spnone{ display:none !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	padding: 6vw 4vw;
	overflow: hidden;
}
#detail .brand-title01 .logo{
	margin-bottom: 2vw;
}
#detail .brand-title01 .txt {
	margin-bottom: 2.5vw;
	font-size: 15px;
	font-weight: normal;
}
#detail .brand-copy {
	margin-bottom: 2vw;
	font-size: 18px;
	text-align: left;
}
#detail .brand-lead {
	font-size: 15px;
	margin-bottom: 4vw;
	text-align: left;
}

#detail .brand-box01 {
	margin: 0 auto 6vw;
	width: auto;
	text-align: center;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
}
/* --------------------------追記-------------------------- */
#detail .brand-box01 .copy-style {
	padding: 15vw 0 0 4.1vw;
	width: 17vw;
	font-size: 4.5vw;
	text-align: left;
}
/* --------------------------追記-------------------------- */
#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
}
#detail .brand-box01 .info-box {
	position: inherit;
	width: auto;
	text-align: left;
	margin-bottom: 2vw;
}
#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 1vw;
	font-size: 17px;
}
#detail .brand-box01 .info-box .point-txt {
	margin-bottom: 0;
	font-size: 14px;
}
#detail .brand-box01 .info-box .point-ph {
	text-align: center;
	padding: 2vw;
}
#detail .brand-box01 .info-box .point-ph img {
	width: 220px;
}
#detail .brand-box01 .ph-txt {
	padding-bottom: 4vw;
	width: auto;
	text-align: left;
	border-bottom: dotted 1px #8a8a8a;
}

/* ボタン */
.btn-box{
	width: 90%;
}
a.brand-btn01{
	padding: 2%;
	font-size: 2em;
}
a.brand-btn01:after{
	right: 3%;
}
a.brand-btn01 .logo{
	margin-bottom: 1vw;
}
a.brand-btn01 .txt{
	font-size: 14px;
}

}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.spon{ display:inherit !important; }

/* ボタン */
.btn-box{
	width: auto;
}
a.brand-btn01 .logo img{
	height: 20px;
}

}


