/* .nb */
.nb .style01 .ph-box {  }
.nb .style01 .copy { top: 40px; left: 30px; }
.nb .style01 .info-box { top: 50px; right: 25px; }
.nb .style01 .ph-txt { margin-top: -20px; }
.nb .style01 .item01 { top: %; left: %; }
.nb .style01 .item02 { top: %; left: %; }
.nb .style01 .item03 { top: %; left: %; }
.nb .style01 .item04 { top: %; left: %; }
.nb .style01 .item05 { top: %; left: %; }

.nb .style02 .ph-box {  }
.nb .style02 .copy { top: 40px; right: 80px; }
.nb .style02 .info-box { top: 190px; right: 200px; }
.nb .style02 .ph-txt { margin-top: -20px; }
.nb .style02 .item01 { top: %; left: %; }
.nb .style02 .item02 { top: %; left: %; }
.nb .style02 .item03 { top: %; left: %; }
.nb .style02 .item04 { top: %; left: %; }
.nb .style02 .item05 { top: %; left: %; }

.nb .style03 .ph-box {  }
.nb .style03 .copy { top: 40px; left: 70px; }
.nb .style03 .info-box { top: 290px; right: 60px; }
.nb .style03 .ph-txt { margin-top: -5px; }
.nb .style03 .item01 { top: %; left: %; }
.nb .style03 .item02 { top: %; left: %; }
.nb .style03 .item03 { top: %; left: %; }
.nb .style03 .item04 { top: %; left: %; }
.nb .style03 .item05 { top: %; left: %; }

.nb .style04 .ph-box {  }
.nb .style04 .copy { top: 40px; right: 100px; }
.nb .style04 .info-box { top: 360px; left: 70px; }
.nb .style04 .ph-txt { margin-top: -20px; }
.nb .style04 .item01 { top: %; left: %; }
.nb .style04 .item02 { top: %; left: %; }
.nb .style04 .item03 { top: %; left: %; }
.nb .style04 .item04 { top: %; left: %; }
.nb .style04 .item05 { top: %; left: %; }

.nb .style05 .ph-box {  }
.nb .style05 .copy { top: 40px; left: 40px; }
.nb .style05 .info-box { top: 400px; right: 80px; }
.nb .style05 .ph-txt { margin-top: 5px; }
.nb .style05 .item01 { top: %; left: %; }
.nb .style05 .item02 { top: %; left: %; }
.nb .style05 .item03 { top: %; left: %; }
.nb .style05 .item04 { top: %; left: %; }
.nb .style05 .item05 { top: %; left: %; }

.nb .style06 .ph-box {  }
.nb .style06 .copy { top: 40px; right: 80px; }
.nb .style06 .info-box { top: 330px; left: 60px; }
.nb .style06 .ph-txt { margin-top: -10px; }
.nb .style06 .item01 { top: %; left: %; }
.nb .style06 .item02 { top: %; left: %; }
.nb .style06 .item03 { top: %; left: %; }
.nb .style06 .item04 { top: %; left: %; }
.nb .style06 .item05 { top: %; left: %; }

.nb .style07 .ph-box {  }
.nb .style07 .copy { top: 90px; left: 40px; }
.nb .style07 .info-box { top: 430px; right: 50px; }
.nb .style07 .ph-txt { margin-top: 5px; }
.nb .style07 .item01 { top: %; left: %; }
.nb .style07 .item02 { top: %; left: %; }
.nb .style07 .item03 { top: %; left: %; }
.nb .style07 .item04 { top: %; left: %; }
.nb .style07 .item05 { top: %; left: %; }

.nb .style08 .ph-box {  }
.nb .style08 .copy { top: 40px; right: 90px; }
.nb .style08 .info-box { top: 260px; left: 60px; }
.nb .style08 .ph-txt { margin-top: -30px; }
.nb .style08 .item01 { top: %; left: %; }
.nb .style08 .item02 { top: %; left: %; }
.nb .style08 .item03 { top: %; left: %; }
.nb .style08 .item04 { top: %; left: %; }
.nb .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .nb */
.nb .style01 .ph-box { margin: 0 -25vw 0 0; }
.nb .style01 .copy { top: 4vw; left: 3vw; }
.nb .style01 .info-box { top: inherit; right: inherit; }
.nb .style01 .ph-txt { margin-top: 0; }

.nb .style02 .ph-box { margin: 0 -14vw 0 -9vw; }
.nb .style02 .copy { top: 4vw; right: 3vw; }
.nb .style02 .info-box { top: inherit; right: inherit; }
.nb .style02 .ph-txt { margin-top: 0; }

.nb .style03 .ph-box { margin: 0 -25vw 0 0; }
.nb .style03 .copy { top: 4vw; left: 7vw; }
.nb .style03 .info-box { top: inherit; right: inherit; }
.nb .style03 .ph-txt { margin-top: 0; }

.nb .style04 .ph-box { margin: 0 0 0 -25vw; }
.nb .style04 .copy { top: 4vw; right: 10vw; }
.nb .style04 .info-box { top: inherit; left: inherit; }
.nb .style04 .ph-txt { margin-top: 0; }

.nb .style05 .ph-box { margin: 0 -25vw 0 0; }
.nb .style05 .copy { top: 4vw; left: 4vw; }
.nb .style05 .info-box { top: inherit; right: inherit; }
.nb .style05 .ph-txt { margin-top: 0; }

.nb .style06 .ph-box { margin: 0 0 0 -25vw; }
.nb .style06 .copy { top: 4vw; right: 8vw; }
.nb .style06 .info-box { top: inherit; left: inherit; }
.nb .style06 .ph-txt { margin-top: 0; }

.nb .style07 .ph-box { margin: 0 -10vw 0 -2vw; }
.nb .style07 .copy { top: 9vw; left: 2vw; }
.nb .style07 .info-box { top: inherit; right: inherit; }
.nb .style07 .ph-txt { margin-top: 0; }

.nb .style08 .ph-box { margin: 0 0 0 -25vw; }
.nb .style08 .copy { top: 4vw; right: 9vw; }
.nb .style08 .info-box { top: inherit; left: inherit; }
.nb .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
