/* .sta */
.sta .style01 .ph-box {  }
.sta .style01 .copy { top: 40px; left: 40px; }
.sta .style01 .info-box { top: 100px; right: 40px; }
.sta .style01 .ph-txt { margin-top: -20px; }
.sta .style01 .item01 { top: 1%; left: 55%; }
.sta .style01 .item02 { top: 14%; left: 33%; }
.sta .style01 .item03 { top: 55%; left: 51%; }
.sta .style01 .item04 { top: 39%; left: 25%; }
.sta .style01 .item05 { top: 86%; left: 29%; }

.sta .style02 .ph-box {  }
.sta .style02 .copy { top: 40px; right: 40px; }
.sta .style02 .info-box { top: 400px; left: 30px; }
.sta .style02 .ph-txt { margin-top: -30px; }
.sta .style02 .item01 { top: -2%; left: 38%; }
.sta .style02 .item02 { top: 13%; left: 30%; }
.sta .style02 .item03 { top: 14%; left: 52%; }
.sta .style02 .item04 { top: 45%; left: 32%; }
.sta .style02 .item05 { top: 48%; left: 63%; }

.sta .style03 .ph-box {  }
.sta .style03 .copy { top: 40px; left: 70px; }
.sta .style03 .info-box { top: 290px; right: 50px; }
.sta .style03 .ph-txt { margin-top: -20px; }
.sta .style03 .item01 { top: 2%; left: 33%; }
.sta .style03 .item02 { top: 17%; left: 29%; }
.sta .style03 .item03 { top: 12%; left: 51%; }
.sta .style03 .item04 { top: 51%; left: 55%; }
.sta .style03 .item05 { top: 47%; left: 26%; }

.sta .style04 .ph-box {  }
.sta .style04 .copy { top: 40px; right: 80px; }
.sta .style04 .info-box { top: 120px; left: 70px; }
.sta .style04 .ph-txt { margin-top: -10px; }
.sta .style04 .item01 { top: -2%; left: 52%; }
.sta .style04 .item02 { top: 14.5%; left: 69%; }
.sta .style04 .item03 { top: 46%; left: 48%; }
.sta .style04 .item04 { top: 73%; left: 32.7%; }
.sta .style04 .item05 { top: 87%; left: 63%; }

.sta .style05 .ph-box {  }
.sta .style05 .copy { top: 40px; left: 20px; }
.sta .style05 .info-box { top: 130px; right: 20px; }
.sta .style05 .ph-txt { margin-top: -20px; }
.sta .style05 .item01 { top: 0;left: 35.5%; }
.sta .style05 .item02 { top: 12%; left: 42%; }
.sta .style05 .item03 { top: 51%; left: 22%; }
.sta .style05 .item04 { top: 65%; left: 70%; }
.sta .style05 .item05 { top: 84%; left: 27%; }

.sta .style06 .ph-box {  }
.sta .style06 .copy { top: 40px; right: 80px; }
.sta .style06 .info-box { top: 420px; left: 60px; }
.sta .style06 .ph-txt { margin-top: -30px; }
.sta .style06 .item01 { top: -2%; left: 51%; }
.sta .style06 .item02 { top: 12%; left: 69%; }
.sta .style06 .item03 { top: 37%; left: 47%; }
.sta .style06 .item04 { top: 68%; left: 44%; }
.sta .style06 .item05 { top: 82%; left: 70%; }

.sta .style07 .ph-box {  }
.sta .style07 .copy { top: 40px; left: 70px; }
.sta .style07 .info-box { top: 360px; right: 60px; }
.sta .style07 .ph-txt { margin-top: -5px; }
.sta .style07 .item01 { top: -1%; left: 42%; }
.sta .style07 .item02 { top: 14%; left: 49%; }
.sta .style07 .item03 { top: 55%; left: 47%; }
.sta .style07 .item04 { top: 85%; left: 37%; }

.sta .style08 .ph-box {  }
.sta .style08 .copy { top: 40px; right: 90px; }
.sta .style08 .info-box { top: 350px; left: 70px; }
.sta .style08 .ph-txt { margin-top: -10px; }
.sta .style08 .item01 { top: -1%; left: 51%; }
.sta .style08 .item02 { top: 12%; left: 65%; }
.sta .style08 .item03 { top: 48%; left: 68%; }
.sta .style08 .item04 { top: 65%; left: 38%; }
.sta .style08 .item05 { top: 87%; left: 47%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .sta */
.sta .style01 .ph-box { margin: 0 -25vw 0 0; }
.sta .style01 .copy { top: 4vw; left: 4vw; }
.sta .style01 .info-box { top: inherit; right: inherit; }
.sta .style01 .ph-txt { margin-top: 0; }

.sta .style02 .ph-box { margin: 0 0 0 -25vw; }
.sta .style02 .copy { top: 4vw; right: 2vw; }
.sta .style02 .info-box { top: inherit; left: inherit; }
.sta .style02 .ph-txt { margin-top: 0; }

.sta .style03 .ph-box { margin: 0 -25vw 0 0; }
.sta .style03 .copy { top: 4vw; left: 7vw; }
.sta .style03 .info-box { top: inherit; right: inherit; }
.sta .style03 .ph-txt { margin-top: 0; }

.sta .style04 .ph-box { margin: 0 0 0 -25vw; }
.sta .style04 .copy { top: 4vw; right: 8vw; }
.sta .style04 .info-box { top: inherit; left: inherit; }
.sta .style04 .ph-txt { margin-top: 0; }

.sta .style05 .ph-box { margin: 0 -25vw 0 0; }
.sta .style05 .copy { top: 4vw; left: 2vw; }
.sta .style05 .info-box { top: inherit; right: inherit; }
.sta .style05 .ph-txt { margin-top: 0; }

.sta .style06 .ph-box { margin: 0 0 0 -25vw; }
.sta .style06 .copy { top: 4vw; right: 8vw; }
.sta .style06 .info-box { top: inherit; left: inherit; }
.sta .style06 .ph-txt { margin-top: 0; }

.sta .style07 .ph-box { margin: 0 -25vw 0 0; }
.sta .style07 .copy { top: 4vw; left: 7vw; }
.sta .style07 .info-box { top: inherit; right: inherit; }
.sta .style07 .ph-txt { margin-top: 0; }

.sta .style08 .ph-box { margin: 0 0 0 -25vw; }
.sta .style08 .copy { top: 4vw; right: 9vw; }
.sta .style08 .info-box { top: inherit; left: inherit; }
.sta .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
