/* .riendasuelta */
.riendasuelta .style01 .ph-box {  }
.riendasuelta .style01 .copy { top: 40px; left: 50px; }
.riendasuelta .style01 .info-box { top: 220px; right: 50px; }
.riendasuelta .style01 .ph-txt { margin-top: -10px; }
.riendasuelta .style01 .item01 { top: 14.5%; left: 52.5%; }
.riendasuelta .style01 .item02 { top: 84.2%; left: 35.5%; }
.riendasuelta .style01 .item03 { top: 69%; left: 57%; }

.riendasuelta .style02 .ph-box {  }
.riendasuelta .style02 .copy { top: 40px; right: 30px; }
.riendasuelta .style02 .info-box { top: 110px; left: 80px; }
.riendasuelta .style02 .ph-txt { margin-top: -5px; }
.riendasuelta .style02 .item01 { top: 15%; left: 52%; }
.riendasuelta .style02 .item02 { top: 51%; left: 56%; }
.riendasuelta .style02 .item03 { top: 87.5%; left: 70.7%; }
.riendasuelta .style02 .item04 { top: 67%; left: 23.5%; }

.riendasuelta .style03 .ph-box {  }
.riendasuelta .style03 .copy { top: 40px; left: 70px; }
.riendasuelta .style03 .info-box { top: 350px; right: 50px;}
.riendasuelta .style03 .ph-txt { margin-top: -10px; }
.riendasuelta .style03 .item01 { top: 14%; left: 52.3%; }
.riendasuelta .style03 .item02 { top: 45%; left: 31.2%; }

.riendasuelta .style04 .ph-box {  }
.riendasuelta .style04 .copy { top: 40px; right: 60px; }
.riendasuelta .style04 .info-box { top: 350px; left: 60px; }
.riendasuelta .style04 .ph-txt { margin-top: -10px; }
.riendasuelta .style04 .item01 { top: 24%; left: 40.5%; }
.riendasuelta .style04 .item02 { top: 11%; left: 51.5%; }
.riendasuelta .style04 .item03 { top: 46%; left: 69.5%; }
.riendasuelta .style04 .item04 { top: 78.5%; left: 49%; }
.riendasuelta .style04 .item05 { top: 59.5%; left: 34.5%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .riendasuelta */
.riendasuelta .style01 .ph-box { margin: 0 -25vw 0 0; }
.riendasuelta .style01 .copy { top: 4vw; left: 5vw; }
.riendasuelta .style01 .info-box { top: inherit; right: inherit; }
.riendasuelta .style01 .ph-txt { margin-top: 0; }

.riendasuelta .style02 .ph-box { margin: 0 0 0 -25vw; }
.riendasuelta .style02 .copy { top: 4vw; right: 3vw; }
.riendasuelta .style02 .info-box { top: inherit; left: inherit; }
.riendasuelta .style02 .ph-txt { margin-top: 0; }

.riendasuelta .style03 .ph-box { margin: 0 -25vw 0 0; }
.riendasuelta .style03 .copy { top: 4vw; left: 7vw; }
.riendasuelta .style03 .info-box { top: inherit; right: inherit; }
.riendasuelta .style03 .ph-txt { margin-top: 0; }

.riendasuelta .style04 .ph-box { margin: 0 0 0 -25vw; }
.riendasuelta .style04 .copy { top: 4vw; right: 6vw; }
.riendasuelta .style04 .info-box { top: inherit; left: inherit; }
.riendasuelta .style04 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
