/* .kiss */
.kiss .style01 .ph-box {  }
.kiss .style01 .copy { top: 40px; left: 50px; }
.kiss .style01 .info-box { top: 350px; right: 40px; }
.kiss .style01 .ph-txt { margin-top: -5px; }
.kiss .style01 .item01 { top: -1.5%; left: 50.5%; }
.kiss .style01 .item02 { top: 11.2%; left: 32.2%; }
.kiss .style01 .item03 { top: 25.6%; left: 64.4%; }
.kiss .style01 .item04 { top: 84.8%; left: 45.5%; }

.kiss .style02 .ph-box {  }
.kiss .style02 .copy { top: 40px; right: 100px; }
.kiss .style02 .info-box { top: 360px; left: 70px; }
.kiss .style02 .ph-txt { margin-top: 10px; }
.kiss .style02 .item01 { top: -2%; left: 44.2%; }
.kiss .style02 .item02 { top: 18%; left: 35.5%; }
.kiss .style02 .item03 { top: 12%; left: 56%; }
.kiss .style02 .item04 { top: 46%; left: 41.5%; }
.kiss .style02 .item05 { top: 35.8%; left: 71%; }
.kiss .style02 .item06 { top: 75.8%; left: 48%; }

.kiss .style03 .ph-box {  }
.kiss .style03 .copy { top: 40px; left: 50px; }
.kiss .style03 .info-box { top: 330px; right: 40px; }
.kiss .style03 .ph-txt { margin-top: -10px; }
.kiss .style03 .item01 { top: 15%; left: 55%; }
.kiss .style03 .item02 { top: 52.8%; left: 47.2%; }
.kiss .style03 .item03 { top: 42.5%; left: 25.5%; }
.kiss .style03 .item04 { top: 76.5%; left: 48%; }

.kiss .style04 .ph-box {  }
.kiss .style04 .copy { top: 40px; right: 90px; }
.kiss .style04 .info-box { top: 340px; left: 70px; }
.kiss .style04 .ph-txt { margin-top: -25px; }
.kiss .style04 .item01 { top: -1%; left: 60.8%; }
.kiss .style04 .item02 { top: 12.8%; left: 67%; }
.kiss .style04 .item03 { top: 43.2%; left: 43.5%; }
.kiss .style04 .item04 { top: 34.2%; left: 56.2%; }
.kiss .style04 .item05 { top: 67.7%; left: 65.4%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .kiss */
.kiss .style01 .ph-box { margin: 0 -25vw 0 0; }
.kiss .style01 .copy { top: 4vw; left: 5vw; }
.kiss .style01 .info-box { top: inherit; right: inherit; }
.kiss .style01 .ph-txt { margin-top: 0; }

.kiss .style02 .ph-box { margin: 0 0 0 -25vw; }
.kiss .style02 .copy { top: 4vw; right: 10vw; }
.kiss .style02 .info-box { top: inherit; left: inherit; }
.kiss .style02 .ph-txt { margin-top: 0; }

.kiss .style03 .ph-box { margin: 0 -25vw 0 0; }
.kiss .style03 .copy { top: 4vw; left: 5vw; }
.kiss .style03 .info-box { top: inherit; right: inherit; }
.kiss .style03 .ph-txt { margin-top: 0; }

.kiss .style04 .ph-box { margin: 0 0 0 -25vw; }
.kiss .style04 .copy { top: 4vw; right: 9vw; }
.kiss .style04 .info-box { top: inherit; left: inherit; }
.kiss .style04 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
