/* .junrope */
.junrope .style01 .ph-box {  }
.junrope .style01 .copy { top: 40px; left: 30px; }
.junrope .style01 .info-box { top: 240px; right: 50px; }
.junrope .style01 .ph-txt { margin-top: 20px; }
.junrope .style01 .item01 { top: -3%; left: 29%; }
.junrope .style01 .item02 { top: 7%; left: 53%; }
.junrope .style01 .item03 { top: 70%; left: 47.4%; }
.junrope .style01 .item04 { top: 63.5%; left: 19.2%; }
.junrope .style01 .item05 { top: 79.8%; left: 62.2%; }

.junrope .style02 .ph-box {  }
.junrope .style02 .copy { top: 40px; right: 40px; }
.junrope .style02 .info-box { top: 240px; left: 70px; }
.junrope .style02 .ph-txt { margin-top: 20px; }
.junrope .style02 .item01 { top: -2%; left: 62%; }
.junrope .style02 .item02 { top: 18%; left: 39.8%; }
.junrope .style02 .item03 { top: 5.7%; left: 47.7%; }
.junrope .style02 .item04 { top: 55%; left: 68.5%; }
.junrope .style02 .item05 { top: 82%; left: 59%; }

.junrope .style03 .ph-box {  }
.junrope .style03 .copy { top: 40px; left: 30px; }
.junrope .style03 .info-box { top: 380px; right: 50px; }
.junrope .style03 .ph-txt { margin-top: 20px; }
.junrope .style03 .item01 { top: -1%; left: 61.8%; }
.junrope .style03 .item02 { top: 26%; left: 62%; }
.junrope .style03 .item03 { top: 7%; left: 33%; }
.junrope .style03 .item04 { top: 68%; left: 23.5%; }
.junrope .style03 .item05 { top: 2%; left: %; }

.junrope .style04 .ph-box {  }
.junrope .style04 .copy { top: 40px; right: 40px; }
.junrope .style04 .info-box { top: 180px; left: 30px; }
.junrope .style04 .ph-txt { margin-top: 20px; }
.junrope .style04 .item01 { top: -2%; left: 67%; }
.junrope .style04 .item02 { top: 13%; left: 37%; }
.junrope .style04 .item03 { top: 0;left: 44%; }
.junrope .style04 .item04 { top: 60%; left: 70%; }
.junrope .style04 .item05 { top: 91%; left: 59%; }

.junrope .style05 .ph-box {  }
.junrope .style05 .copy { top: 40px; left: 30px; }
.junrope .style05 .info-box { top: 110px; right: 40px; }
.junrope .style05 .ph-txt { margin-top: 20px; }
.junrope .style05 .item01 { top: -2%; left: 29.5%; }
.junrope .style05 .item02 { top: 10%; left: 55%; }
.junrope .style05 .item03 { top: 79%; left: 26.7%; }
.junrope .style05 .item04 { top: 52%; left: 20.4%; }
.junrope .style05 .item05 { top: 87.5%; left: 53.7%; }
.junrope .style05 .item06 { top: 48%; left: 79%; }

.junrope .style06 .ph-box {  }
.junrope .style06 .copy { top: 40px; right: 30px; }
.junrope .style06 .info-box { top: 300px; left: 50px; }
.junrope .style06 .ph-txt { margin-top: 20px; }
.junrope .style06 .item01 { top: -2%; left: 68.5%; }
.junrope .style06 .item02 { top: 13%; left: 32.5%; }
.junrope .style06 .item03 { top: 62%; left: 70%; }
.junrope .style06 .item04 { top: 88.5%; left: 49%; }

.junrope .style07 .ph-box {  }
.junrope .style07 .copy { top: 40px; left: 40px; }
.junrope .style07 .info-box { top: 360px; right: 40px; }
.junrope .style07 .ph-txt { margin-top: 20px; }
.junrope .style07 .item01 { top: 1%; left: 61%; }
.junrope .style07 .item02 { top: 27%; left: 62%; }
.junrope .style07 .item03 { top: 5.7%; left: 33%; }
.junrope .style07 .item04 { top: 70%; left: 25%; }
.junrope .style07 .item05 { top: 2%; left: %; }

.junrope .style08 .ph-box {  }
.junrope .style08 .copy { top: 40px; right: 90px; }
.junrope .style08 .info-box { top: 350px; left: 70px; }
.junrope .style08 .ph-txt { margin-top: 20px; }
.junrope .style08 .item01 { top: 4%; left: 35%; }
.junrope .style08 .item02 { top: 28%; left: 39%; }
.junrope .style08 .item03 { top: 64%; left: 73%; }
.junrope .style08 .item04 { top: 50.5%; left: 44.5%; }
.junrope .style08 .item05 { top: 89%; left: 41.5%; }
.junrope .style08 .item06 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .junrope */
.junrope .style01 .ph-box { margin: 0 -28vw 1.5vw 3vw; }
.junrope .style01 .copy { top: 4vw; left: 4vw; }
.junrope .style01 .info-box { top: inherit; right: inherit; }
.junrope .style01 .ph-txt { margin-top: 0; }

.junrope .style02 .ph-box { margin: 0 0 1vw -30vw; }
.junrope .style02 .copy { top: 4vw; right: 4vw; }
.junrope .style02 .info-box { top: inherit; left: inherit; }
.junrope .style02 .ph-txt { margin-top: 0; }

.junrope .style03 .ph-box { margin: 0 -25vw 2vw 0; }
.junrope .style03 .copy { top: 4vw; left: 3vw; }
.junrope .style03 .info-box { top: inherit; right: inherit; }
.junrope .style03 .ph-txt { margin-top: 0; }

.junrope .style04 .ph-box { margin: 0 0 1.5vw -25vw; }
.junrope .style04 .copy { top: 4vw; right: 4vw; }
.junrope .style04 .info-box { top: inherit; left: inherit; }
.junrope .style04 .ph-txt { margin-top: 0; }

.junrope .style05 .ph-box { margin: 0 -16vw 1.5vw -2vw; }
.junrope .style05 .copy { top: 4vw; left: 1vw; }
.junrope .style05 .info-box { top: inherit; right: inherit; }
.junrope .style05 .ph-txt { margin-top: 0; }

.junrope .style06 .ph-box { margin: 0 0 1.5vw -25vw; }
.junrope .style06 .copy { top: 4vw; right: 2vw; }
.junrope .style06 .info-box { top: inherit; left: inherit; }
.junrope .style06 .ph-txt { margin-top: 0; }

.junrope .style07 .ph-box { margin: 0 -25vw 2vw 0; }
.junrope .style07 .copy { top: 4vw; left: 4vw; }
.junrope .style07 .info-box { top: inherit; right: inherit; }
.junrope .style07 .ph-txt { margin-top: 0; }

.junrope .style08 .ph-box { margin: 0 0 1.5vw -25vw; }
.junrope .style08 .copy { top: 4vw; right: 7vw; }
.junrope .style08 .info-box { top: inherit; left: inherit; }
.junrope .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
