/* .pearlygates */
.pearlygates .style01 .ph-box {  }
.pearlygates .style01 .copy { top: 40px; left: 10px; }
.pearlygates .style01 .info-box { top: 40px; right: 20px; }
.pearlygates .style01 .ph-txt { margin-top: -10px; }

.pearlygates .style02 .ph-box {  }
.pearlygates .style02 .copy { top: 20px; right: 40px; }
.pearlygates .style02 .info-box { top: 440px; left: 30px; }
.pearlygates .style02 .ph-txt { margin-top: -50px; }

.pearlygates .style03 .ph-box {  }
.pearlygates .style03 .copy { top: 80px; left: 40px; }
.pearlygates .style03 .info-box { top: 300px; right: 40px; }
.pearlygates .style03 .ph-txt { margin-top: -20px; }

.pearlygates .style04 .ph-box {  }
.pearlygates .style04 .copy { top: 40px; right: 100px; }
.pearlygates .style04 .info-box { top: 480px; left: 60px; }
.pearlygates .style04 .ph-txt { margin-top: -10px; }

.pearlygates .style05 .ph-box {  }
.pearlygates .style05 .copy { top: 40px; left: 30px; }
.pearlygates .style05 .info-box { top: 110px; right: 30px; }
.pearlygates .style05 .ph-txt { margin-top: -5px; }

.pearlygates .style06 .ph-box {  }
.pearlygates .style06 .copy { top: 40px; right: 70px; }
.pearlygates .style06 .info-box { top: 330px; left: 60px; }
.pearlygates .style06 .ph-txt { margin-top: -10px; }

.pearlygates .style07 .ph-box {  }
.pearlygates .style07 .copy { top: 40px; left: 70px; }
.pearlygates .style07 .info-box { top: 380px; right: 50px; }
.pearlygates .style07 .ph-txt { margin-top: -5px; }

.pearlygates .style08 .ph-box {  }
.pearlygates .style08 .copy { top: 40px; right: 90px; }
.pearlygates .style08 .info-box { top: 420px; left: 60px; }
.pearlygates .style08 .ph-txt { margin-top: -10px; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .pearlygates */
.pearlygates .style01 .ph-box { margin: 0 -30vw 0 5vw; }
.pearlygates .style01 .copy { top: 4vw; left: 2vw; }
.pearlygates .style01 .info-box { top: inherit; right: inherit; }
.pearlygates .style01 .ph-txt { margin-top: 0; }

.pearlygates .style02 .ph-box { margin: 0 0 0 -25vw; }
.pearlygates .style02 .copy { top: 2vw; right: 2vw; }
.pearlygates .style02 .info-box { top: inherit; left: inherit; }
.pearlygates .style02 .ph-txt { margin-top: 0; }

.pearlygates .style03 .ph-box { margin: 0 -25vw 0 0; }
.pearlygates .style03 .copy { top: 18vw; left: 4vw; }
.pearlygates .style03 .info-box { top: inherit; right: inherit; }
.pearlygates .style03 .ph-txt { margin-top: 0; }

.pearlygates .style04 .ph-box { margin: 0 0 0 -25vw; }
.pearlygates .style04 .copy { top: 4vw; right: 10vw; }
.pearlygates .style04 .info-box { top: inherit; left: inherit; }
.pearlygates .style04 .ph-txt { margin-top: 0; }

.pearlygates .style05 .ph-box { margin: 0 -25vw 0 0; }
.pearlygates .style05 .copy { top: 4vw; left: 3vw; }
.pearlygates .style05 .info-box { top: inherit; right: inherit; }
.pearlygates .style05 .ph-txt { margin-top: 0; }

.pearlygates .style06 .ph-box { margin: 0 0 0 -25vw; }
.pearlygates .style06 .copy { top: 4vw; right: 7vw; }
.pearlygates .style06 .info-box { top: inherit; left: inherit; }
.pearlygates .style06 .ph-txt { margin-top: 0; }

.pearlygates .style07 .ph-box { margin: 0 -25vw 0 0; }
.pearlygates .style07 .copy { top: 4vw; left: 7vw; }
.pearlygates .style07 .info-box { top: inherit; right: inherit; }
.pearlygates .style07 .ph-txt { margin-top: 0; }

.pearlygates .style08 .ph-box { margin: 0 0 0 -25vw; }
.pearlygates .style08 .copy { top: 4vw; right: 9vw; }
.pearlygates .style08 .info-box { top: inherit; left: inherit; }
.pearlygates .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
