html {
	overflow: auto;
}
body {
	font-family: "游ゴシック", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
	-webkit-text-size-adjust: 100%;
	position:relative;
	background: #fff;
	overflow: hidden;
	min-width: 1260px;
}
img {
	vertical-align:middle;
	max-width:100%;
}

.pcnone{ display:none !important; }
.spnone{ display:inline-block!important; }
.spon{ display:none; }

/* common link ==================================================================== */
a:link 		{color: #19b8ff;text-decoration: none;}
a:visited 	{color: #19b8ff;text-decoration: none;}
a:active	{color: #19b8ff;text-decoration: none;}
a:hover 	{color: #19b8ff;text-decoration: underline;}

/* wrapper ==================================================================== */
#wrapper {
	background: #f3c564;
	margin: 0 auto;
	min-width: 1260px;
}
#wrapper i {
	margin-left: 3px;
}

/* footer ==================================================================== */
footer {
	transform:skew(0deg, -5deg);
	margin-bottom: -80px;
	background: #fff;
}
footer .footer-inner {
	transform:skew(0deg, 5deg);
	text-align: center;
	padding: 0 0 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
footer .flogo {
	text-align: right;
}
footer .flogo img {
	margin: -30px 40px 50px;
}
footer .copyright {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* page-top ==================================================================== */
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index:8888;
	font-size:60px;
	line-height: 1;
}
#page-top a {
	color: #000;
}
#page-top a:hover {
	opacity:0.7;
}

/* ************************************************************************************************ */
@media screen and (min-width: 768px) {
	a[href^="tel:"] {
		display: inline-block;
		pointer-events: none;
		text-decoration: none;
	}
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
body {
	min-width:inherit;
	background-size: 100%;
	min-width: inherit;
}

.pcnone{ display:inherit !important; }
.spnone{ display:none !important; }
.spon{ display:none; }

/* wrapper ==================================================================== */
#wrapper {
	min-width: inherit;
}
#wrapper i {
	margin-right: 5px;
}

/* footer ==================================================================== */
footer {
	margin-bottom: -8vw;
}
footer .footer-inner {
	padding: 0 0 15vw;
}
footer .flogo img {
	width: 200px;
	margin: -1vw 2vw 4vw;
}
footer .copyright {
	font-size: 13px;
}

/* page-top ==================================================================== */
#page-top {
	bottom: 3vw;
	right: 2vw;
	font-size:40px;
}

}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.spon{ display:inherit !important; }

/* footer ==================================================================== */
footer .copyright {
	font-size: 12px;
}

/* page-top ==================================================================== */
#page-top {
	font-size:28px;
}
}


