/* main ==================================================================== */
.main {
	margin: 0 auto 35px;
	min-width: 1260px;
	max-width: 1400px;
}
.main h1 {
	margin: -6px -30px 0;
}

#contents {
	margin: 0 auto;
	padding: 0 0 100px 0;
	min-width: 1260px;
	max-width: 1400px;
	text-align: center;
}
#contents .comingsoon {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	padding: 50px;
	width: 1000px;
	font-size: 110px;
	border: 1px solid #d6a236;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.brand-wrap {
	width: 1040px;
	margin: 0 auto;
}
.brand-wrap .brand-title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 110px;
}
.brand-wrap .brand-list {
	overflow: hidden;
}
.brand-wrap .brand-list li {
	display: inline-block;
	margin: 0 5px 12px;
}
.brand-wrap .brand-list li a {
	background: #fff;
	display: block;
	transition-duration: .3s;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 2px 0px 0px #cfa855;
}
.brand-wrap .brand-list li a:hover {
	opacity: 0.8;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* main ==================================================================== */
.main {
	margin: 0 auto 3vw;
	min-width: inherit;
	max-width: inherit;
}
.main h1 {
	margin: -1vw -3vw 0;
}

#contents {
	padding: 0 4vw 10vw;
	min-width: inherit;
	max-width: inherit;
}
#contents .comingsoon {
	padding: 4vw;
	width: auto;
	font-size: 9vw;
	border-radius: 5px;
}

.brand-wrap {
	width: auto;
	margin: 0 auto;
}
.brand-wrap .brand-title {
	font-size: 10vw;
}
.brand-wrap .brand-list {
	overflow: hidden;
}
.brand-wrap .brand-list li {
	display: inline-block;
	margin: 0 1vw 2.5vw;
	width: 42vw;
}
.brand-wrap .brand-list li a {
	transition-duration: 0;
}
.brand-wrap .brand-list li a img {
	max-height: 100px;
}
.brand-wrap .brand-list li a:hover {
	opacity: 1;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
}


