/* modal base ==================================================================== */
body.compensate-for-scrollbar {
	margin: 0;
}
.fancybox-bg {
	background: #000;
}
.fancybox-is-open .fancybox-bg {
	opacity: .8;
}
.fancybox-slide--iframe .fancybox-content {
	background: #fff;
	height: calc(100% - 44px) !important;
	margin-bottom: 44px;
}
.fancybox-video,
.fancybox-iframe {
	max-width: 900px;
	min-width: 840px;
	background: #fff;
}
/*155*/
.fancybox-slide--iframe {
	padding: 60px 44px 0;
}
/* Close button on the top right corner of html content */
.fancybox-close-small {
	background: #ffe479;
	border: 0;
	border-radius: 0;
	color: #555;
	cursor: pointer;
	height: 40px;
	margin: 0;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	z-index: 10;
}
.fancybox-close-small svg {
	fill: transparent;
	opacity: .8;
	stroke: currentColor;
	stroke-width: 1.5;
	transition: stroke .1s;
}
.fancybox-close-small:focus {
	outline: none;
}
.fancybox-close-small:hover svg {
	opacity: 1;
}
.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
	color: #000;
	padding: 5px;
	right: 0;
	top: -40px;
}
.fancybox-slide--image .fancybox-close-small:hover svg,
.fancybox-slide--video .fancybox-close-small:hover svg,
.fancybox-slide--iframe .fancybox-close-small:hover svg {
	background: transparent;
	color: #000;
}
.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
	display: none;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* modal base ==================================================================== */
.fancybox-slide--iframe .fancybox-content {
	height: calc(100% - 20px) !important;
	margin-bottom: 20px;
}
.fancybox-video,
.fancybox-iframe {
	max-width: inherit;
	min-width: inherit;
}
/*155*/
.fancybox-slide--iframe {
	padding: 50px 20px 0;
}
/* Close button on the top right corner of html content */
.fancybox-close-small {
	height: 30px;
	padding: 6px;
	width: 30px;
}
.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
	padding: 5px;
	top: -30px;
}

}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
}


