a.item-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	padding-top: 9px;
	vertical-align: middle;
	text-align: center;
	background: #ff2d2d;
	border: solid 3px #ef0000;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 3px 3px rgba(0,0,0,0.3);
}
a.item-btn i {
	color: #fff;
	font-size: 24px;
	margin: 0 2px 0 0 !important;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 1.0s ease-in-out infinite alternate;
	-moz-animation:blink 1.0s ease-in-out infinite alternate;
	animation:blink 1.0s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}

.link-info {
	opacity: 0;
}

/* ************************************************************************************************ */
@media screen and (min-width: 769px) {
a.item-btn {
	transform: scale(0.35);
	width: 140px;
	height: 140px;
	padding-top: 25px;
	vertical-align: middle;
	text-align: center;
	background: #ff2d2d;
	border: solid 6px #ef0000;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	box-shadow: 8px 8px rgba(0,0,0,0.3);
}
a.item-btn i {
	color: #fff;
	font-size: 70px;
	margin: 0 6px 0 0 !important;
}

a.item-btn {
	transition: 0.5s;
}
.link-info {
	width: 100%;
	text-align: center;
	position: absolute;
	opacity: 0;
	transition: 0.8s;
	top: 0;
	left: 0;
}
.link-info .name { display: block; padding: 25px 0 0 0; font-size: 14px; color: #fff !important; }
.link-info .name2 { display: block; padding: 15px 0 2px 0; line-height: 1.2; font-size: 14px; color: #fff !important; }
.link-info .price { display: block; margin: 0 0 5px 0; font-size: 14px; color: #fff !important; }
.link-info .price em { font-size: 11px; font-style: normal; }
.link-info .icon { display: block; margin: 0 0 2px 0; }
.link-info .icon i { font-size: 24px !important; color: #fff !important; }
.link-info .onlineshop { display: block; font-size: 12px; color: #fff !important; }

a.item-btn:hover {
	transform: scale(1);
	border: solid 4px #ef0000;
}
a.item-btn:hover .blinking {
	display: none;
}
a.item-btn:hover .link-info {
	opacity: 1;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
a.item-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding-top: 7px;
	border: solid 2px #ef0000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
a.item-btn i {
	font-size: 22px;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
}


