.menu-wrap{
	height: 100%;
}

/* main */
.main {
	position: relative;
	overflow: hidden;
	width: 1400px;
	height: 100%;
	min-height: 920px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main .title-even{
	position: absolute;
	width: 100%;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main .copyright{
	position: absolute;
	width: 100%;
	padding: 20px;
	font-size: 13px;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.collection-box {
	background: #fff;
	float: left;
	width: 50%;
	height: 100%;
	padding: 131px 10px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.collection-box .title {
	margin-bottom: 71px;
}
.collection-box .btn {
	margin-bottom: 70px;
}
.collection-box .btn a{
	background: #000;
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	color: #fff;
	font-size: 24px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.collection-box .btn a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -0.56em;
}
.collection-box .btn a:hover{
	background: #393939;
}
.collection-box .img {
}

.rakuen-box {
	background: #feecd2;
	float: right;
	width: 50%;
	height: 100%;
	padding: 120px 10px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rakuen-box .title {
	margin-bottom: 50px;
}
.rakuen-box .btn {
	margin-bottom: 58px;
}
.rakuen-box .btn a{
	background: #f08200;
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	color: #55240c;
	font-size: 24px;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rakuen-box .btn a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -0.56em;
}
.rakuen-box .btn a:hover{
	background: #ff961b;
}
.rakuen-box .img {
}


/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* main */
.main {
	width: auto;
	height: auto;
}
.main .title-even{
	padding: 3%;
}
.main .title-even img{
	height: 5vw;
}
.main .copyright{
	position:inherit;
	width: auto;
	padding: 2%;
}

.collection-box {
	float: none;
	width: auto;
	height: auto;
	padding: 12% 4% 4%;
}
.collection-box .title {
	margin-bottom: 5%;
}
.collection-box .btn {
	margin-bottom: 5%;
}
.collection-box .btn a{
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	font-size: 2em;
}
.collection-box .btn a img{
	height: 30px;
}
.collection-box .btn a:after{
	right: 4%;
}
.collection-box .btn a:hover{
	background: #000;
}
.collection-box .img {
	padding: 0 8%;
}

.rakuen-box {
	float: none;
	width: auto;
	padding: 4%;
}
.rakuen-box .title {
	margin-bottom: 5%;
}
.rakuen-box .btn {
	margin-bottom: 5%;
}
.rakuen-box .btn a{
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	font-size: 2em;
}
.rakuen-box .btn a img{
	height: 30px;
}
.rakuen-box .btn a:after{
	right: 4%;
}
.rakuen-box .btn a:hover{
	background: #f08200;
}
.rakuen-box .img {
	padding: 0 7%;
}

}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.collection-box {
	padding: 13% 4% 4%;
}
.collection-box .btn a{
	width: 80%;
}
.collection-box .btn a img{
	height: 22px;
}
.rakuen-box .btn a{
	width: 80%;
}
.rakuen-box .btn a img{
	height: 22px;
}
}


