/* and per se */
.aps .style01 .ph-box { margin: 0 0 0 158px; }
.aps .style01 .copy { top: 33px; left: 116px; }
.aps .style01 .info-box { top: 176px; left: 506px; }
.aps .style01 .item01 { position: absolute; top: -5%; left: 33%; }
.aps .style01 .item02 { position: absolute; top: 9%; left: 7%; }
.aps .style01 .item03 { position: absolute; top: 32%; left: 14%; }
.aps .style01 .item04 { position: absolute; top: 47%; left: 3%; }
.aps .style01 .item05 { position: absolute; top: 40.5%; right: 32%; }
.aps .style01 .item06 { position: absolute; top: 72%; right: 19%; }

.aps .style02 .ph-box { margin: 0 0 0 41px; }
.aps .style02 .copy { top: 27px; left: 538px; }
.aps .style02 .info-box { top: 439px; left: 416px; }
.aps .style02 .item01 { position: absolute; top: -1%; left: 34%; }
.aps .style02 .item02 { position: absolute; top: 13%; left: 8%; }
.aps .style02 .item03 { position: absolute; top: 32.5%; left: 24%; }
.aps .style02 .item04 { position: absolute; top: 47%; left: 12%; }
.aps .style02 .item05 { position: absolute; top: 39%; right: -2%; }

.aps .style03 .ph-box { margin: 0 0 0 161px; }
.aps .style03 .copy { top: 27px; left: 95px; }
.aps .style03 .info-box { top: 430px; left: 518px; }
.aps .style03 .item01 { position: absolute; top: -4%; right: 9%; }
.aps .style03 .item02 { position: absolute; top: 16%; right: -4%; }
.aps .style03 .item03 { position: absolute; top: 31%; left: 29%; }
.aps .style03 .item04 { position: absolute; top: 54%; right: 20%; }
.aps .style03 .item05 { position: absolute; top: 28%; left: 6%; }

.aps .style04 .ph-box { margin: 0 0 0 24px; }
.aps .style04 .copy { top: 448px; left: 518px; }
.aps .style04 .info-box { top: 45px; left: 460px; }
.aps .style04 .item01 { position: absolute; top: -4%; left: 44%; }
.aps .style04 .item02 { position: absolute; top: 9%; right: 4%; }
.aps .style04 .item03 { position: absolute; top: 17%; left: 26.5%; }
.aps .style04 .item04 { position: absolute; top: 52%; right: 4.5%; }
.aps .style04 .item05 { position: absolute; top: 36%; left: 0%; }


/* beams */
.beams .style01 .ph-box { margin: 0 0 0 188px; }
.beams .style01 .copy { top: 30px; left: 136px; }
.beams .style01 .info-box { top: 271px; left: 516px; }
.beams .style01 .item01 { position: absolute; top: -3.5%; right: 32%; }
.beams .style01 .item02 { position: absolute; top: 14%; right: 9%; }
.beams .style01 .item03 { position: absolute; top: 34%; right: 21%; }
.beams .style01 .item04 { position: absolute; top: 47%; left: 15%; }
.beams .style01 .item05 { position: absolute; top: 45%; right: 10%; }
.beams .style01 .item06 { position: absolute; top: 79%; right: -4%; }

.beams .style02 .ph-box { margin: 0 0 0 45px; }
.beams .style02 .copy { top: 488px; left: 538px; }
.beams .style02 .info-box { top: 72px; left: 436px; }
.beams .style02 .item01 { position: absolute; top: -4%; left: 20%; }
.beams .style02 .item02 { position: absolute; top: 8%; left: 19%; }
.beams .style02 .item03 { position: absolute; top: 16%; right: 11%; }
.beams .style02 .item04 { position: absolute; top: 53%; left: 12%; }
.beams .style02 .item05 { position: absolute; top: 40.5%; right: 19%; }
.beams .style02 .item06 { position: absolute; top: 82%; right: 9.5%; }

.beams .style03 .ph-box { margin: 0 0 0 122px; }
.beams .style03 .copy { top: 119px; left: 79px; }
.beams .style03 .info-box { top: 92px; left: 506px; }
.beams .style03 .item01 { position: absolute; top: -2%; left: 25%; }
.beams .style03 .item02 { position: absolute; top: 9%; right: 5%; }
.beams .style03 .item03 { position: absolute; top: 12%; left: 35%; }
.beams .style03 .item04 { position: absolute; top: 52%; right: 12%; }
.beams .style03 .item05 { position: absolute; top: 79%; left: 16%; }

.beams .style04 .ph-box { margin: 0 0 0 25px; }
.beams .style04 .copy { top: 37px; left: 578px; }
.beams .style04 .info-box { top: 428px; left: 450px; }
.beams .style04 .item01 { position: absolute; top: -5%; left: 36%; }
.beams .style04 .item02 { position: absolute; top: 8%; left: 27%; }
.beams .style04 .item03 { position: absolute; top: 23%; right: 1%; }
.beams .style04 .item04 { position: absolute; top: 48.5%; right: -1%; }
.beams .style04 .item05 { position: absolute; top: 51%; left: 21%; }
.beams .style04 .item06 { position: absolute; top: 67%; right: 11%; }
.beams .style04 .item07 { position: absolute; top: 82%; left: 33%; }


/* fila */
.fila .style01 .ph-box { margin: 0 0 0 155px; }
.fila .style01 .copy { top: 31px; left: 136px; }
.fila .style01 .info-box { top: 352px; left: 516px; }
.fila .style01 .item01 { position: absolute; top: -3%; right: 8%; }
.fila .style01 .item02 { position: absolute; top: 9%; left: 32%; }
.fila .style01 .item03 { position: absolute; top: 18%; right: -3%; }
.fila .style01 .item04 { position: absolute; top: 50%; left: 19%; }

.fila .style02 .ph-box { margin: 0 0 0 292px; }
.fila .style02 .copy { top: 9px; left: 219px; }
.fila .style02 .info-box { top: 390px; left: 92px; }
.fila .style02 .item01 { position: absolute; top: 0%; right: 37%; }
.fila .style02 .item02 { position: absolute; top: 9%; left: 12%; }
.fila .style02 .item03 { position: absolute; top: 18%; right: 22%; }
.fila .style02 .item04 { position: absolute; top: 49%; left: 4%; }

.fila .style03 .ph-box { margin: 0 0 0 153px; }
.fila .style03 .copy { top: 16px; left: 114px; }
.fila .style03 .info-box { top: 359px; left: 506px; }
.fila .style03 .item01 { position: absolute; top: 10%; right: 34%; }
.fila .style03 .item02 { position: absolute; top: 12%; right: 4%; }
.fila .style03 .item03 { position: absolute; top: 19%; left: 14%; }
.fila .style03 .item04 { position: absolute; top: 44%; right: 18%; }

.fila .style04 .ph-box { margin: 0 0 0 230px; }
.fila .style04 .copy { top: 22px; left: 608px; }
.fila .style04 .info-box { top: 304px; left: 70px; }
.fila .style04 .item01 { position: absolute; top: -3%; left: 38.5%; }
.fila .style04 .item02 { position: absolute; top: 13%; right: 8%; }
.fila .style04 .item03 { position: absolute; top: 18%; left: 16%; }
.fila .style04 .item04 { position: absolute; top: 51%; right: 10%; }


/* loudmouth */
.loudmouth .style01 .ph-box { margin: 0 0 0 298px; }
.loudmouth .style01 .copy { top: 6px; left: 647px; }
.loudmouth .style01 .info-box { top: 176px; left: 110px; }
.loudmouth .style01 .item01 { position: absolute; top: -5%; right: 31%; }
.loudmouth .style01 .item02 { position: absolute; top: 9%; left: 12%; }
.loudmouth .style01 .item03 { position: absolute; top: 11%; right: 8%; }
.loudmouth .style01 .item04 { position: absolute; top: 44%; left: 16%; }

.loudmouth .style02 .ph-box { margin: 0 0 0 149px; }
.loudmouth .style02 .copy { top: 21px; left: 123px; }
.loudmouth .style02 .info-box { top: 214px; left: 514px; }
.loudmouth .style02 .item01 { position: absolute; top: -3%; left: 32%; }
.loudmouth .style02 .item02 { position: absolute; top: 10%; right: 11%; }
.loudmouth .style02 .item03 { position: absolute; top: 20%; left: 8%; }
.loudmouth .style02 .item04 { position: absolute; top: 52%; right: 14%; }
.loudmouth .style02 .item05 { position: absolute; top: 51%; left: -7%; }

.loudmouth .style03 .ph-box { margin: 0 0 0 220px; }
.loudmouth .style03 .copy { top: 29px; left: 595px; }
.loudmouth .style03 .info-box { top: 310px; left: 71px; }
.loudmouth .style03 .item01 { position: absolute; top: -4%; right: 36%; }
.loudmouth .style03 .item02 { position: absolute; top: 9.5%; left: 12%; }
.loudmouth .style03 .item03 { position: absolute; top: 15%; right: 15%; }
.loudmouth .style03 .item04 { position: absolute; top: 62%; left: 22%; }
.loudmouth .style03 .item05 { position: absolute; top: 41.7%; right: 6%; }

.loudmouth .style04 .ph-box { margin: 0 0 0 159px; }
.loudmouth .style04 .copy { top: 328px; left: 101px; }
.loudmouth .style04 .info-box { top: 180px; left: 509px; }
.loudmouth .style04 .item01 { position: absolute; top: -3.5%; right: 23%; }
.loudmouth .style04 .item02 { position: absolute; top: 15%; left: 0%; }
.loudmouth .style04 .item03 { position: absolute; top: 52%; left: 11.5%; }


/* ras */
.ras .style01 .ph-box { margin: 0 0 0 158px; }
.ras .style01 .copy { top: 4px; left: 136px; }
.ras .style01 .info-box { top: 375px; left: 526px; }
.ras .style01 .item01 { position: absolute; top: -5%; left: 23%; }
.ras .style01 .item02 { position: absolute; top: 12%; right: 9%; }
.ras .style01 .item03 { position: absolute; top: 22%; left: 23%; }
.ras .style01 .item04 { position: absolute; top: 51%; left: 22%; }

.ras .style02 .ph-box { margin: 0 0 0 88px; }
.ras .style02 .copy { top: 9px; left: 589px; }
.ras .style02 .info-box { top: 392px; left: 426px; }
.ras .style02 .item01 { position: absolute; top: -5%; left: 28%; }
.ras .style02 .item02 { position: absolute; top: 7%; left: 23%; }
.ras .style02 .item03 { position: absolute; top: 21%; right: -2%; }
.ras .style02 .item04 { position: absolute; top: 49%; right: 12%; }

.ras .style03 .ph-box { margin: 0 0 0 199px; }
.ras .style03 .copy { top: 5px; left: 114px; }
.ras .style03 .info-box { top: 58px; left: 516px; }
.ras .style03 .item01 { position: absolute; top: -6%; left: 13%; }
.ras .style03 .item02 { position: absolute; top: 12%; left: 3%; }
.ras .style03 .item03 { position: absolute; top: 17%; right: 37%; }
.ras .style03 .item04 { position: absolute; top: 51%; left: 7%; }
.ras .style03 .item05 { position: absolute; top: 38%; right: 47%; }

.ras .style04 .ph-box { margin: 0 0 0 70px; }
.ras .style04 .copy { top: 419px; left: 518px; }
.ras .style04 .info-box { top: 20px; left: 459px; }
.ras .style04 .item01 { position: absolute; top: -3%; left: 32%; }
.ras .style04 .item02 { position: absolute; top: 9%; left: 29%; }
.ras .style04 .item03 { position: absolute; top: 21.5%; right: 20%; }
.ras .style04 .item04 { position: absolute; top: 46%; right: 18%; }
.ras .style04 .item05 { position: absolute; top: 59.5%; left: 0%; }


/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.aps .brand-title01 .logo img{
	height: 160px;
}
.aps .style01 .ph-box { margin: 0 10%; }
.aps .style01 .copy { top: 3%; left: inherit; right: 10% }
.aps .style01 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.aps .style01 .item01 { position: absolute; top: 0%; left: 28%; }
.aps .style01 .item02 { position: absolute; top: 15%; left: 17%; }
.aps .style01 .item03 { position: absolute; top: 38%; left: 24%; }
.aps .style01 .item04 { position: absolute; top: 52%; left: 13%; }
.aps .style01 .item05 { position: absolute; top: 49.5%; right: 33%; }
.aps .style01 .item06 { position: absolute; top: 78%; right: 29%; }

.aps .style02 .ph-box { margin: 0 5% 0 15%; }
.aps .style02 .copy { top: 3%; left: 5%; }
.aps .style02 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.aps .style02 .item01 { position: absolute; top: 4%; left: 45%; }
.aps .style02 .item02 { position: absolute; top: 18%; left: 22%; }
.aps .style02 .item03 { position: absolute; top: 38.5%; left: 37%; }
.aps .style02 .item04 { position: absolute; top: 54%; left: 25%; }
.aps .style02 .item05 { position: absolute; top: 45%; right: 11%; }

.aps .style03 .ph-box { margin: 0 4% 0 15%; }
.aps .style03 .copy { top: 3%; left: 8%; }
.aps .style03 .info-box { top: inherit; left: inherit; margin: -11% 0 0 0; }
.aps .style03 .item01 { position: absolute; top: 1%; right: 21%; }
.aps .style03 .item02 { position: absolute; top: 22%; right: 9%; }
.aps .style03 .item03 { position: absolute; top: 36%; left: 41%; }
.aps .style03 .item04 { position: absolute; top: 58%; right: 21%; }
.aps .style03 .item05 { position: absolute; top: 42%; left: 6%; }

.aps .style04 .ph-box { margin: 0 13% 0 4%; }
.aps .style04 .copy { top: 35%; left: inherit; right: 5% }
.aps .style04 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.aps .style04 .item01 { position: absolute; top: 2%; left: 56%; }
.aps .style04 .item02 { position: absolute; top: 15%; right: 16%; }
.aps .style04 .item03 { position: absolute; top: 21%; left: 39.5%; }
.aps .style04 .item04 { position: absolute; top: 58%; right: 15.5%; }
.aps .style04 .item05 { position: absolute; top: 41%; left: 10%; }

/* beams */
.beams .brand-title01 .logo img{
	height: 50px;
}
.beams .style01 .ph-box { margin: 0 5% 0 15%; }
.beams .style01 .copy { top: 3%; left: 12%; }
.beams .style01 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.beams .style01 .item01 { position: absolute; top: 2.5%; right: 46%; }
.beams .style01 .item02 { position: absolute; top: 20%; right: 24%; }
.beams .style01 .item03 { position: absolute; top: 39%; right: 34%; }
.beams .style01 .item04 { position: absolute; top: 55%; left: 30%; }
.beams .style01 .item05 { position: absolute; top: 50%; right: 22%; }
.beams .style01 .item06 { position: absolute; top: 84%; right: 11%; }

.beams .style02 .ph-box { margin: 0 15% 0 5%; }
.beams .style02 .copy { top: 8%; left: inherit; right: 10%; }
.beams .style02 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.beams .style02 .item01 { position: absolute; top: 1.5%; left: 32%; }
.beams .style02 .item02 { position: absolute; top: 14%; left: 31%; }
.beams .style02 .item03 { position: absolute; top: 22%; right: 24%; }
.beams .style02 .item04 { position: absolute; top: 59%; left: 25%; }
.beams .style02 .item05 { position: absolute; top: 45.5%; right: 31%; }
.beams .style02 .item06 { position: absolute; top: 88%; right: 21.5%; }

.beams .style03 .ph-box { margin: 0 5% 0 15%; }
.beams .style03 .copy { top: 9%; left: 9%; }
.beams .style03 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.beams .style03 .item01 { position: absolute; top: 3%; left: 38%; }
.beams .style03 .item02 { position: absolute; top: 14%; right: 19%; }
.beams .style03 .item03 { position: absolute; top: 17.2%; left: 48%; }
.beams .style03 .item04 { position: absolute; top: 58%; right: 24%; }
.beams .style03 .item05 { position: absolute; top: 85%; left: 27%; }

.beams .style04 .ph-box { margin: 0 15% 0 5%; }
.beams .style04 .copy { top: 3%; left: inherit; right: 5% }
.beams .style04 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.beams .style04 .item01 { position: absolute; top: 1%; left: 48%; }
.beams .style04 .item02 { position: absolute; top: 14%; left: 39%; }
.beams .style04 .item03 { position: absolute; top: 28%; right: 12%; }
.beams .style04 .item04 { position: absolute; top: 54.5%; right: 11%; }
.beams .style04 .item05 { position: absolute; top: 57%; left: 32%; }
.beams .style04 .item06 { position: absolute; top: 73%; right: 24%; }
.beams .style04 .item07 { position: absolute; top: 87%; left: 46%; }


/* fila */
.fila .brand-title01 .logo img{
	height: 130px;
}
.fila .style01 .ph-box { margin: 0 5% 0 15%; }
.fila .style01 .copy { top: 3%; left: 10%; }
.fila .style01 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.fila .style01 .item01 { position: absolute; top: 3%; right: 21%; }
.fila .style01 .item02 { position: absolute; top: 14.5%; left: 45.5%; }
.fila .style01 .item03 { position: absolute; top: 24%; right: 9%; }
.fila .style01 .item04 { position: absolute; top: 56%; left: 32%; }

.fila .style02 .ph-box { margin: 0 1% 0 15%; }
.fila .style02 .copy { top: 1%; left: 5%; }
.fila .style02 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.fila .style02 .item01 { position: absolute; top: 5.2%; right: 47%; }
.fila .style02 .item02 { position: absolute; top: 15%; left: 22%; }
.fila .style02 .item03 { position: absolute; top: 24%; right: 33%; }
.fila .style02 .item04 { position: absolute; top: 54%; left: 15%; }

.fila .style03 .ph-box { margin: 0 4% 0 15%; }
.fila .style03 .copy { top: 1%; left: 10%; }
.fila .style03 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.fila .style03 .item01 { position: absolute; top: 17%; right: 48%; }
.fila .style03 .item02 { position: absolute; top: 20%; right: 18%; }
.fila .style03 .item03 { position: absolute; top: 25.5%; left: 26%; }
.fila .style03 .item04 { position: absolute; top: 56%; right: 31%; }

.fila .style04 .ph-box { margin: 0 15% 0 4%; }
.fila .style04 .copy { top: 2%; left: inherit; right: 5% }
.fila .style04 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.fila .style04 .item01 { position: absolute; top: 3%; left: 52.5%; }
.fila .style04 .item02 { position: absolute; top: 18%; right: 22%; }
.fila .style04 .item03 { position: absolute; top: 24%; left: 28%; }
.fila .style04 .item04 { position: absolute; top: 58%; right: 23%; }


/* loudmouth */
.loudmouth .brand-title01 .logo img{
	height: 80px;
}
.loudmouth .style01 .ph-box { margin: 0 15% 0 5%; }
.loudmouth .style01 .copy { top: 1%; left: inherit; right: 5%; }
.loudmouth .style01 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.loudmouth .style01 .item01 { position: absolute; top: 1%; right: 45%; }
.loudmouth .style01 .item02 { position: absolute; top: 15%; left: 28%; }
.loudmouth .style01 .item03 { position: absolute; top: 16%; right: 22%; }
.loudmouth .style01 .item04 { position: absolute; top: 49.5%; left: 27%; }

.loudmouth .style02 .ph-box { margin: 0 5% 0 15%; }
.loudmouth .style02 .copy { top: 2%; left: 9%; }
.loudmouth .style02 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.loudmouth .style02 .item01 { position: absolute; top: 3%; left: 46%; }
.loudmouth .style02 .item02 { position: absolute; top: 15%; right: 23.5%; }
.loudmouth .style02 .item03 { position: absolute; top: 25%; left: 21%; }
.loudmouth .style02 .item04 { position: absolute; top: 58%; right: 26%; }
.loudmouth .style02 .item05 { position: absolute; top: 57.5%; left: 6.8%; }

.loudmouth .style03 .ph-box { margin: 0 15% 0 5%; }
.loudmouth .style03 .copy { top: 2%; left: inherit; right: 6%; }
.loudmouth .style03 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.loudmouth .style03 .item01 { position: absolute; top: 1%; right: 49%; }
.loudmouth .style03 .item02 { position: absolute; top: 15%; left: 24.5%; }
.loudmouth .style03 .item03 { position: absolute; top: 20%; right: 27%; }
.loudmouth .style03 .item04 { position: absolute; top: 69%; left: 31%; }
.loudmouth .style03 .item05 { position: absolute; top: 47%; right: 18%; }

.loudmouth .style04 .ph-box { margin: 0 5% 0 15%; }
.loudmouth .style04 .copy { top: 28%; left: 8%; }
.loudmouth .style04 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.loudmouth .style04 .item01 { position: absolute; top: 2%; right: 37.5%; }
.loudmouth .style04 .item02 { position: absolute; top: 20%; left: 15%; }
.loudmouth .style04 .item03 { position: absolute; top: 58%; left: 25%; }


/* ras */
.ras .brand-title01 .logo img{
	height: 160px;
}
.ras .style01 .ph-box { margin: 0 5% 0 15%; }
.ras .style01 .copy { top: 1%; left: 9%; }
.ras .style01 .info-box { top: inherit; left: inherit; margin: -14% 0 0 0; }
.ras .style01 .item01 { position: absolute; top: 0.5%; left: 37%; }
.ras .style01 .item02 { position: absolute; top: 17.5%; right: 21.5%; }
.ras .style01 .item03 { position: absolute; top: 27%; left: 34%; }
.ras .style01 .item04 { position: absolute; top: 56%; left: 34%; }

.ras .style02 .ph-box { margin: 0 15% 0 5%; }
.ras .style02 .copy { top: 1%; left: inherit; right: 5%; }
.ras .style02 .info-box { top: inherit; left: inherit; margin: -14% 0 0 0; }
.ras .style02 .item01 { position: absolute; top: 1.2%; left: 41.5%; }
.ras .style02 .item02 { position: absolute; top: 13%; left: 38%; }
.ras .style02 .item03 { position: absolute; top: 27.5%; right: 11.5%; }
.ras .style02 .item04 { position: absolute; top: 56%; right: 26%; }

.ras .style03 .ph-box { margin: 0 10% 0 2%; }
.ras .style03 .copy { top: 1%; left: inherit; right: 17% }
.ras .style03 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }
.ras .style03 .item01 { position: absolute; top: 0.5%; left: 22%; }
.ras .style03 .item02 { position: absolute; top: 17.2%; left: 13.5%; }
.ras .style03 .item03 { position: absolute; top: 23%; right: 44%; }
.ras .style03 .item04 { position: absolute; top: 57%; left: 18%; }
.ras .style03 .item05 { position: absolute; top: 44%; right: 56%; }

.ras .style04 .ph-box { margin: 0 15% 0 2%; }
.ras .style04 .copy { top: 28%; left: inherit; right: 10% }
.ras .style04 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }
.ras .style04 .item01 { position: absolute; top: 3%; left: 43%; }
.ras .style04 .item02 { position: absolute; top: 14.5%; left: 41%; }
.ras .style04 .item03 { position: absolute; top: 26.5%; right: 31%; }
.ras .style04 .item04 { position: absolute; top: 51.5%; right: 30.5%; }
.ras .style04 .item05 { position: absolute; top: 62%; left: 7%; }


}

@media screen and (max-width: 480px) {
/* and per se */
.aps .brand-title01 .logo img{
	height: 140px;
}
.aps .style01 .ph-box { margin: 0; }
.aps .style01 .copy { top: 3%; left: inherit; right: 10% }
.aps .style01 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.aps .style02 .ph-box { margin: 0 0 0 15%; }
.aps .style02 .copy { top: 3%; left: 5%; }
.aps .style02 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }

.aps .style03 .ph-box { margin: 0 0 0 12%; }
.aps .style03 .copy { top: 3%; left: 1%; }
.aps .style03 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }

.aps .style04 .ph-box { margin: 0 8% 0 0; }
.aps .style04 .copy { top: 35%; left: inherit; right: 1% }
.aps .style04 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }


/* beams */
.beams .brand-title01 .logo img{
	height: 35px;
}
.beams .style01 .ph-box { margin: 0 0 0 15%; }
.beams .style01 .copy { top: 3%; left: 10%; }
.beams .style01 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }

.beams .style02 .ph-box { margin: 0 10% 0 0; }
.beams .style02 .copy { top: 8%; left: inherit; right: 7%; }
.beams .style02 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }

.beams .style03 .ph-box { margin: 0 0 0 10%; }
.beams .style03 .copy { top: 9%; left: 9%; }
.beams .style03 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.beams .style04 .ph-box { margin: 0 10% 0 -5%; }
.beams .style04 .copy { top: 3%; left: inherit; right: 5% }
.beams .style04 .info-box { top: inherit; left: inherit; margin: -3% 0 0 0; }


/* fila */
.fila .brand-title01 .logo img{
	height: 110px;
}
.fila .style01 .ph-box { margin: 0 0 0 12%; }
.fila .style01 .copy { top: 3%; left: 8%; }
.fila .style01 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.fila .style02 .ph-box { margin: 0 -4% 0 8%; }
.fila .style02 .copy { top: 1%; left: 3%; }
.fila .style02 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.fila .style03 .ph-box { margin: 0 0 0 15%; }
.fila .style03 .copy { top: 1%; left: 8%; }
.fila .style03 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }

.fila .style04 .ph-box { margin: 0 14% 0 -2%; }
.fila .style04 .copy { top: 2%; left: inherit; right: 4% }
.fila .style04 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }


/* loudmouth */
.loudmouth .brand-title01 .logo img{
	height: 55px;
}
.loudmouth .style01 .ph-box { margin: 0 16% 0 3%; }
.loudmouth .style01 .copy { top: 1%; left: inherit; right: 5%; }
.loudmouth .style01 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }

.loudmouth .style02 .ph-box { margin: 0 0 0 14%; }
.loudmouth .style02 .copy { top: 2%; left: 8%; }
.loudmouth .style02 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.loudmouth .style03 .ph-box { margin: 0 5% 0 0; }
.loudmouth .style03 .copy { top: 2%; left: inherit; right: 6%; }
.loudmouth .style03 .info-box { top: inherit; left: inherit; margin: -11% 0 0 0; }

.loudmouth .style04 .ph-box { margin: 0 2% 0 15%; }
.loudmouth .style04 .copy { top: 32%; left: 8%; }
.loudmouth .style04 .info-box { top: inherit; left: inherit; margin: -17% 0 0 0; }


/* ras */
.ras .brand-title01 .logo img{
	height: 140px;
}
.ras .style01 .ph-box { margin: 0 -5% 0 10%; }
.ras .style01 .copy { top: 1%; left: 8%; }
.ras .style01 .info-box { top: inherit; left: inherit; margin: -14% 0 0 0; }

.ras .style02 .ph-box { margin: 0 15% 0 0; }
.ras .style02 .copy { top: 1%; left: inherit; right: 5%; }
.ras .style02 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }

.ras .style03 .ph-box { margin: 0 0 0 -2%; }
.ras .style03 .copy { top: 1%; left: inherit; right: 17% }
.ras .style03 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.ras .style04 .ph-box { margin: 0 5% 0 0; }
.ras .style04 .copy { top: 26%; left: inherit; right: 8% }
.ras .style04 .info-box { top: inherit; left: inherit; margin: -12% 0 0 0; }


}
