html {
	overflow: auto;
	height: 100%;
}
body {
	font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
	background: #f9f9f9;
	color:#000000;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	height: 100%;
}
img {
	vertical-align:middle;
	max-width:100%;
}

.pcnone{ display:none !important; }
.spnone{ display:inherit !important; }
.spon{ display:none; }

/* common link ==================================================================== */
a:link 		{color: #ff3333;text-decoration: underline;}
a:visited 	{color: #ff3333;text-decoration: underline;}
a:active	{color: #ff3333;text-decoration: underline;}
a:hover 	{color: #ff3333;text-decoration: none;}

/* wrapper ==================================================================== */
#wrapper {
	margin: 0 auto;
	height: 100%;
}
#wrapper i {
	margin-left: 3px;
}

/* page-top ==================================================================== */
#page-top {
	position: fixed;
	bottom: 65px;
	right: 20px;
	z-index:8888;
	font-size:60px;
	line-height: 1;
}
#page-top a {
	color: #000;
}
#page-top a:hover {
	opacity:0.7;
}


/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
body {
	min-width:inherit;
	height: auto;
}

/* wrapper ==================================================================== */
#wrapper {
	width: auto;
	height: auto;
}
#wrapper i {
	margin-right: 5px;
}

.pcnone{ display:inherit !important; }
.spnone{ display:none !important; }
.spon{ display:none; }

/* page-top ==================================================================== */
#page-top {
	bottom: 50px;
	right: 10px;
	font-size:40px;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.spon{ display:inherit !important; }

/* page-top ==================================================================== */
#page-top {
	bottom: 30px;
	right: 5px;
	z-index:8888;
	font-size:30px;
}
}


