/* .pearlygates */
.pearlygates .style01 .ph-box {  }
.pearlygates .style01 .copy { top: 40px; left: 10px; }
.pearlygates .style01 .info-box { top: 76px; left: 209px;  }
.pearlygates .style01 .ph-txt { margin-top: -10px; }

.pearlygates .style02 .ph-box {  }
.pearlygates .style02 .copy { top: 20px; right: 40px; }
.pearlygates .style02 .info-box { top: 150px; right: 207px; width: 200px !important; }
.pearlygates .style02 .ph-txt { margin-top: -21px; }

.pearlygates .style03 .ph-box {  }
.pearlygates .style03 .copy { top: 80px; left: 40px; }
.pearlygates .style03 .info-box { top: 74px; left: 201px;}
.pearlygates .style03 .ph-txt { margin-top: -20px; }

.pearlygates .style04 .ph-box {  }
.pearlygates .style04 .copy { top: 40px; right: 100px; }
.pearlygates .style04 .info-box { top: 79px; left: 124px;}
.pearlygates .style04 .ph-txt { margin-top: -35px; }

.pearlygates .style05 .ph-box {  }
.pearlygates .style05 .copy { top: 40px; left: 30px; }
.pearlygates .style05 .info-box { top: 123px; left: 235px; }
.pearlygates .style05 .info-box2 { top: 440px; left: 159px;}
.pearlygates .style05 .ph-txt { margin-top: -5px; }

.pearlygates .style06 .ph-box {  }
.pearlygates .style06 .copy { top: 40px; right: 70px; }
.pearlygates .style06 .info-box { top: 100px; right: 227px; }
.pearlygates .style06 .info-box2 { top: 389px; right: 170px; width: 200px !important; }
.pearlygates .style06 .ph-txt { margin-top: 3px; }

.pearlygates .style07 .ph-box {  }
.pearlygates .style07 .copy { top: 40px; left: 70px; }
.pearlygates .style07 .info-box { top: 123px; left: 235px; }
.pearlygates .style07 .info-box2 {  top: 440px; left: 159px;}
.pearlygates .style07 .ph-txt { margin-top: -5px; }

.pearlygates .style08 .ph-box {  }
.pearlygates .style08 .copy { top: 40px; right: 90px; }
.pearlygates .style08 .info-box {  top: 100px; right: 190px; width: 200px !important; }
.pearlygates .style08 .info-box2 { top: 576px; right: 132px; width: 240px !important; }
.pearlygates .style08 .ph-txt { margin-top: 0; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .pearlygates */
.pearlygates .style01 .ph-box { margin: 0 3vw 0 -28vw; }
.pearlygates .style01 .copy { top: 4vw; left: 2vw; }
.pearlygates .style01 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style01 .ph-txt { margin-top: 0; }

.pearlygates .style02 .ph-box { margin:4vw -30vw 0 5vw; }
.pearlygates .style02 .copy { top: 2vw; right: 2vw; }
.pearlygates .style02 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style02 .ph-txt { margin-top: 0; }
.pearlygates .style02 .info-box .point-ph img {width: 145px !important;}

.pearlygates .style03 .ph-box { margin:4vw 0vw 0 -25vw; }
.pearlygates .style03 .copy { top: 18vw; left: 4vw; }
.pearlygates .style03 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style03 .ph-txt { margin-top: 0; }
.pearlygates .style03 .info-box .point-ph img {width: 145px !important;}

.pearlygates .style04 .ph-box { margin:4vw -13vw 0 -12vw; }
.pearlygates .style04 .copy { top: 4vw; right: 10vw; }
.pearlygates .style04 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style04 .ph-txt { margin-top: 0; }

.pearlygates .style05 .ph-box { margin:0 10vw 0 -35vw; }
.pearlygates .style05 .copy { top: 4vw; left: 3vw; }
.pearlygates .style05 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style05 .ph-txt { margin-top: 0; }

.pearlygates .style06 .ph-box { margin:0 -35vw 0 10vw; }
.pearlygates .style06 .copy { top: 4vw; right: 7vw; }
.pearlygates .style06 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style06 .ph-txt { margin-top: 0; }
.pearlygates .style06 .info-box .point-ph img {width: inherit!important;}
.pearlygates .style06 .info-box2 .point-ph img {width: 145px !important;}

.pearlygates .style07 .ph-box { margin:0 10vw 0 -35vw; }
.pearlygates .style07 .copy { top: 4vw; left: 7vw; }
.pearlygates .style07 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style07 .ph-txt { margin-top: 0; }

.pearlygates .style08 .ph-box { margin:0 -30vw 0 5vw; }
.pearlygates .style08 .copy { top: 4vw; right: 9vw; }
.pearlygates .style08 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style08 .ph-txt { margin-top: 0; }
.pearlygates .style08 .info-box .point-ph img {width: 145px !important;}
.pearlygates .style08 .info-box2 .point-ph img {width: inherit!important;}
}

@media screen and (max-width: 480px) {
}
