/* .loudmouth */
.loudmouth .style01 .ph-box {  }
.loudmouth .style01 .copy { top: 40px; left: 40px; }
.loudmouth .style01 .info-box { top:395px; right: 50px; }
.loudmouth .style01 .ph-txt { margin-top: 5px; }
.loudmouth .style01 .item01 { top: %; left: %; }
.loudmouth .style01 .item02 { top: %; left: %; }
.loudmouth .style01 .item03 { top: %; left: %; }
.loudmouth .style01 .item04 { top: %; left: %; }
.loudmouth .style01 .item05 { top: %; left: %; }

.loudmouth .style02 .ph-box {  }
.loudmouth .style02 .copy { top: 40px; right: 40px; }
.loudmouth .style02 .info-box {top: 150px; right:226px; }
.loudmouth .style02 .ph-txt { margin-top: -10px; }
.loudmouth .style02 .item01 { top: %; left: %; }
.loudmouth .style02 .item02 { top: %; left: %; }
.loudmouth .style02 .item03 { top: %; left: %; }
.loudmouth .style02 .item04 { top: %; left: %; }
.loudmouth .style02 .item05 { top: %; left: %; }

.loudmouth .style03 .ph-box {  }
.loudmouth .style03 .copy { top: 40px; left: 70px; }
.loudmouth .style03 .info-box {top: 78px; left: 206px;}
.loudmouth .style03 .ph-txt { margin-top: 7px; }
.loudmouth .style03 .item01 { top: %; left: %; }
.loudmouth .style03 .item02 { top: %; left: %; }
.loudmouth .style03 .item03 { top: %; left: %; }
.loudmouth .style03 .item04 { top: %; left: %; }
.loudmouth .style03 .item05 { top: %; left: %; }

.loudmouth .style04 .ph-box {  }
.loudmouth .style04 .copy { top: 40px; right: 100px; }
.loudmouth .style04 .info-box { top: 150px; right:226px; }
.loudmouth .style04 .ph-txt { margin-top: 0; }
.loudmouth .style04 .item01 { top: %; left: %; }
.loudmouth .style04 .item02 { top: %; left: %; }
.loudmouth .style04 .item03 { top: %; left: %; }
.loudmouth .style04 .item04 { top: %; left: %; }
.loudmouth .style04 .item05 { top: %; left: %; }

.loudmouth .style05 .ph-box {  }
.loudmouth .style05 .copy { top: 40px; left: 30px; }
.loudmouth .style05 .info-box { top: 123px; left: 239px;  }
.loudmouth .style05 .info-box2 { top: 440px; left: 155px; }
.loudmouth .style05 .ph-txt { margin-top: -5px; }
.loudmouth .style05 .item01 { top: %; left: %; }
.loudmouth .style05 .item02 { top: %; left: %; }
.loudmouth .style05 .item03 { top: %; left: %; }
.loudmouth .style05 .item04 { top: %; left: %; }
.loudmouth .style05 .item05 { top: %; left: %; }

.loudmouth .style06 .ph-box {  }
.loudmouth .style06 .copy { top: 40px; right: 80px; }
.loudmouth .style06 .info-box { top: 139px; right:179px; }
.loudmouth .style06 .info-box2 { top: 444px; right: 123px;}
.loudmouth .style06 .ph-txt { margin-top: -10px; }
.loudmouth .style06 .item01 { top: %; left: %; }
.loudmouth .style06 .item02 { top: %; left: %; }
.loudmouth .style06 .item03 { top: %; left: %; }
.loudmouth .style06 .item04 { top: %; left: %; }
.loudmouth .style06 .item05 { top: %; left: %; }

.loudmouth .style07 .ph-box {  }
.loudmouth .style07 .copy { top: 40px; left: 50px; }
.loudmouth .style07 .info-box { top: 123px; left: 225px;  }
.loudmouth .style07 .info-box2 { top: 440px; left: 155px; }
.loudmouth .style07 .ph-txt { margin-top: 5px; }
.loudmouth .style07 .item01 { top: %; left: %; }
.loudmouth .style07 .item02 { top: %; left: %; }
.loudmouth .style07 .item03 { top: %; left: %; }
.loudmouth .style07 .item04 { top: %; left: %; }
.loudmouth .style07 .item05 { top: %; left: %; }

.loudmouth .style08 .ph-box {  }
.loudmouth .style08 .copy { top: 40px; right: 90px; }
.loudmouth .style08 .info-box { top: 166px; right: 201px; width: 200px !important; }
.loudmouth .style08 .info-box2 {top: 483px; right: 146px; width: 200px !important;}
.loudmouth .style08 .ph-txt { margin-top: 10px; }
.loudmouth .style08 .item01 { top: %; left: %; }
.loudmouth .style08 .item02 { top: %; left: %; }
.loudmouth .style08 .item03 { top: %; left: %; }
.loudmouth .style08 .item04 { top: %; left: %; }
.loudmouth .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .loudmouth */
.loudmouth .style01 .ph-box { margin: 0 -25vw 0 0; }
.loudmouth .style01 .copy { top: 4vw; left: 4vw; }
.loudmouth .style01 .info-box { top: inherit; right: inherit; }
.loudmouth .style01 .ph-txt { margin-top: 0; }

.loudmouth .style02 .ph-box { margin: 4vw -35vw 0 10vw; }
.loudmouth .style02 .copy { top: 4vw; right: 2vw }
.loudmouth .style02 .info-box { top: inherit; right: inherit; }
.loudmouth .style02 .ph-txt { margin-top: 0; }

.loudmouth .style03 .ph-box { margin:4vw 10vw 0 -35vw; }
.loudmouth .style03 .copy { top: 4vw; left: 7vw; }
.loudmouth .style03 .info-box { top: inherit; left: inherit; }
.loudmouth .style03 .ph-txt { margin-top: 0; }

.loudmouth .style04 .ph-box { margin: 4vw -33vw 0 8vw; }
.loudmouth .style04 .copy { top: 4vw; right: 10vw; }
.loudmouth .style04 .info-box { top: inherit; right: inherit; }
.loudmouth .style04 .ph-txt { margin-top: 0; }

.loudmouth .style05 .ph-box { margin:0 10vw 0 -35vw; }
.loudmouth .style05 .copy { top: 4vw; left: 2vw; }
.loudmouth .style05 .info-box { top: inherit; right: inherit; left: inherit;}
.loudmouth .style05 .ph-txt { margin-top: 0; }

.loudmouth .style06 .ph-box { margin: 0 -32vw 0 7vw; }
.loudmouth .style06 .copy { top: 4vw; right: 8vw; }
.loudmouth .style06 .info-box { top: inherit; left: inherit; right: inherit;}
.loudmouth .style06 .ph-txt { margin-top: 0; }

.loudmouth .style07 .ph-box { margin:0 15vw 0 -40vw; }
.loudmouth .style07 .copy { top: 4vw; left: 5vw; }
.loudmouth .style07 .info-box { top: inherit; right: inherit; left: inherit;}
.loudmouth .style07 .ph-txt { margin-top: 0; }

.loudmouth .style08 .ph-box { margin:0 -35vw 0 10vw; }
.loudmouth .style08 .copy { top: 4vw; right: 9vw; }
.loudmouth .style08 .info-box { top: inherit; left: inherit; right: inherit; width: auto !important;}
.loudmouth .style08 .info-box img {width: 200px !important;}
.loudmouth .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
