/* .nb */
.nb .style01 .ph-box {  }
.nb .style01 .copy { top: 40px; left: 30px; }
.nb .style01 .info-box { top: 29px; right: 46px; }
.nb .style01 .ph-txt { margin-top: -20px; }
.nb .style01 .item01 { top: -1%; left: 39%;}
.nb .style01 .item02 { top: 16%; left: 38%;}
.nb .style01 .item03 { top: 30%; left: 33%;}
.nb .style01 .item04 { top: 53%; left: 37%;}
.nb .style01 .item05 { top: 41%; left: 36%;}
.nb .style01 .item06 { top: 86%; left: 35%; }
.nb .style01 .item07 { top: 44%; left: 57%;}
.nb .style01 .item08 { top: 54%; left: 81%;}
.nb .style01 .item09 { top: 34%; left: 78%; }
.nb .style01 .item10 { top: 34%; left: 64%;}

.nb .style02 .ph-box {  }
.nb .style02 .copy { top: 40px; right: 80px; }
.nb .style02 .info-box { top: 462px; right: 106px; width: 200px !important;}
.nb .style02 .ph-txt { margin-top: -20px; }
.nb .style02 .item01 { top: 0%; left: 31%; }
.nb .style02 .item02 { top: 19%; left: 37%; }
.nb .style02 .item03 { top: 12%; left: 19%; }
.nb .style02 .item04 { top: 45%; left: 16%; } 
.nb .style02 .item05 { top: 70%; left: 19%; }
.nb .style02 .item06 { top: 48%; left: 37%; }
.nb .style02 .item07 { top: 50%; left: 58%; }
.nb .style02 .item08 { top: 28%; left: 44%; }
.nb .style02 .item09 { top: 35%; left: 53%; }
.nb .style02 .item10 { top: 82%; left: 18%; }

.nb .style03 .ph-box {  }
.nb .style03 .copy { top: 40px; left: 70px; }
.nb .style03 .info-box { top: 237px; left: 206px; }
.nb .style03 .ph-txt { margin-top: -5px; }
.nb .style03 .item01 { top: -1%; left: 61%; }
.nb .style03 .item02 { top: 30%; left: 52%; }
.nb .style03 .item03 { top: 11%; left: 60%;}
.nb .style03 .item04 { top: 60%; left: 77%; }
.nb .style03 .item05 { top: 84%;  left: 60%; }
.nb .style03 .item06 { top: 62%; left: 51%; }

.nb .style04 .ph-box {  }
.nb .style04 .copy { top: 40px; right: 100px; }
.nb .style04 .info-box { top: 79px; right: 199px; width: 200px !important; }
.nb .style04 .ph-txt { margin-top: -20px; }
.nb .style04 .item01 { top: 1%; left: 26%;}
.nb .style04 .item02 { top: 19%; left: 16%; }
.nb .style04 .item03 { top: 14%; left: 37%; }
.nb .style04 .item04 { top: 52%; left: 24%; }
.nb .style04 .item05 { top: 51%; left: 6%;  }
.nb .style04 .item06 { top: 70%; left: 54%; }
.nb .style04 .item07 { top: 84%; left: 35%; }

.nb .style05 .ph-box {  }
.nb .style05 .copy { top: 40px; left: 40px; }
.nb .style05 .info-box { top: 123px; left: 186px; }
.nb .style05 .info-box2 { top: 440px; left: 254px; }
.nb .style05 .ph-txt { margin-top: 5px; }
.nb .style05 .item01 { top: 12%; left: 72%; }
.nb .style05 .item02 { top: 30%; left: 81%;}
.nb .style05 .item03 { top: 21%; left: 60%; }
.nb .style05 .item04 { top: 62%; left: 57%; }
.nb .style05 .item05 { top: 42%; left: 58%;}
.nb .style05 .item06 { top: 86%; left: 73%;}
.nb .style05 .item07 { top: 50%; left: 81%; }

.nb .style06 .ph-box {  }
.nb .style06 .copy { top: 40px; right: 80px; }
.nb .style06 .info-box { top: 125px; right: 200px; }
.nb .style06 .info-box2 { top: 450px; right: 132px;}
.nb .style06 .ph-txt { margin-top: -5px; }
.nb .style06 .item01 { top: 5%; left: 24%; }
.nb .style06 .item02 { top: 32%; left: 37%;}
.nb .style06 .item03 { top: 24%; left: 15%; }
.nb .style06 .item04 { top: 49%; left: 38%; }
.nb .style06 .item05 { top: 59%; left: 10%;}
.nb .style06 .item06 { top: 79%; left: 37%; }
.nb .style06 .item07 { top: 50%; left: 14%;}
.nb .style06 .item08 { top: 87%; left: 14%;}


.nb .style07 .ph-box {  }
.nb .style07 .copy { top: 90px; left: 40px; }
.nb .style07 .info-box { top: 123px; left: 220px; }
.nb .style07 .info-box2 { top: 440px; left: 114px; }
.nb .style07 .ph-txt { margin-top: 5px; }
.nb .style07 .item01 { top: 5%; left: 79%; }
.nb .style07 .item02 { top: 30%; left: 56%; }
.nb .style07 .item03 { top: 44%; left: 80%;}
.nb .style07 .item04 { top: 18%; left: 79%;}
.nb .style07 .item05 { top: 63%; left: 75%;}
.nb .style07 .item06 { top: 45%; left: 59%;}
.nb .style07 .item07 { top: 87%; left: 54%; }
.nb .style07 .item08 { top: 68%; left: 46%; }
.nb .style07 .item09 { top: 55%; left: 52%; }

.nb .style08 .ph-box {  }
.nb .style08 .copy { top: 40px; right: 90px; }
.nb .style08 .info-box { top: 270px; right: 145px; }
.nb .style08 .info-box2 { top: 560px; right: 90px;}
.nb .style08 .ph-txt { margin-top: 0; }
.nb .style08 .item01 { top: 6%; left: 25%; }
.nb .style08 .item02 { top: 25%; left: 16%; }
.nb .style08 .item03 { top: 17%; left: 38%; }
.nb .style08 .item04 { top: 52%; left: 18%;}
.nb .style08 .item05 { top: 43%; left: 38%; }
.nb .style08 .item06 { top: 77%; left: 22%; }
.nb .style08 .item07 { top: 32%; left: 50%; }
.nb .style08 .item08 { top: 87%; left: 34%; }
	
/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .nb */
.nb .style01 .ph-box { margin:0 -6vw 0 -19vw; }
.nb .style01 .copy { top: 4vw; left: 3vw; }
.nb .style01 .info-box { top: inherit; right: inherit; }
.nb .style01 .ph-txt { margin-top: 0; }

.nb .style02 .ph-box { margin: 4vw -25vw 0 0vw; }
.nb .style02 .copy { top: 4vw; right: 3vw; }
.nb .style02 .info-box { top: inherit; right: inherit; width: auto !important;}
.nb .style02 .info-box img { width: 145px !important;}
.nb .style02 .ph-txt { margin-top: 0; }

.nb .style03 .ph-box { margin:4vw 11vw 0 -36vw; }
.nb .style03 .copy { top: 4vw; left: 7vw; }
.nb .style03 .info-box { top: inherit; left: inherit; }
.nb .style03 .ph-txt { margin-top: 0; }

.nb .style04 .ph-box { margin:4vw -30vw 0 5vw; }
.nb .style04 .copy { top: 4vw; right: 10vw; }
.nb .style04 .info-box { top: inherit; right: inherit; width: auto !important; }
.nb .style04 .info-box img { width: 145px !important;}
.nb .style04 .ph-txt { margin-top: 0; }

.nb .style05 .ph-box { margin: 0 10vw 0 -35vw; }
.nb .style05 .copy { top: 4vw; left: 4vw; }
.nb .style05 .info-box,.nb .style05 .info-box2 { top: inherit; left: inherit; }
.nb .style05 .ph-txt { margin-top: 0; }

.nb .style06 .ph-box { margin:0 -35vw 0 10vw; }
.nb .style06 .copy { top: 4vw; right: 8vw; }
.nb .style06 .info-box,.nb .style06 .info-box2 { top: inherit; right: inherit; }
.nb .style06 .ph-txt { margin-top: 0; }

.nb .style07 .ph-box { margin: 0 10vw 0 -35vw; }
.nb .style07 .copy { top: 9vw; left: 2vw; }
.nb .style07 .info-box,.nb .style07 .info-box2 { top: inherit; left: inherit; }
.nb .style07 .ph-txt { margin-top: 0; }

.nb .style08 .ph-box { margin: 0 -32vw 0 7vw; }
.nb .style08 .copy { top: 4vw; right: 9vw; }
.nb .style08 .info-box,.nb .style08 .info-box2 { top: inherit; right: inherit; }
.nb .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
