/* .kiss */
.kiss .style01 .ph-box {  }
.kiss .style01 .copy { top: 40px; left: 50px; }
.kiss .style01 .info-box { top: 79px; left: 220px;}
.kiss .style01 .ph-txt { margin-top: 0; }
.kiss .style01 .item01 { top: -1.5%; left:74.5%;}
.kiss .style01 .item02 { top: 18.2%; left: 56.2%;}
.kiss .style01 .item03 { top: 56.6%; left: 81.4%;}
.kiss .style01 .item04 { top: 32.8%; left: 61.5%; }
.kiss .style01 .item05 { top: 44.8%; left: 85.5%;}
.kiss .style01 .item06 { top: 71.8%; left: 52.5%; }

.kiss .style02 .ph-box {  }
.kiss .style02 .copy { top: 40px; right: 100px; }
.kiss .style02 .info-box { top: 255px; right: 200px; }
.kiss .style02 .ph-txt { margin-top: 10px; }
.kiss .style02 .item01 { top: -1%; left: 17.2%;}
.kiss .style02 .item02 { top: 16%; left: 37.5%; }
.kiss .style02 .item03 { top: 44%; left: 14%;}
.kiss .style02 .item04 { top: 78%; left: 33.5%; }
.kiss .style02 .item05 { top: 43.8%; left: 41%;}

.kiss .style03 .ph-box {  }
.kiss .style03 .copy { top: 40px; left: 50px; }
.kiss .style03 .info-box { top: 123px; left: 220px;}
.kiss .style03 .info-box2 { top: 440px; left: 180px;}
.kiss .style03 .ph-txt { margin-top: -10px; }
.kiss .style03 .item01 { top: 9%; left: 79%;}
.kiss .style03 .item02 { top: 33.8%; left: 55.2%; }
.kiss .style03 .item03 { top: 45.5%; left: 80.5%; }
.kiss .style03 .item04 { top: 76.5%; left: 76%;}
.kiss .style03 .item05 { top: 48.5%; left: 50%;}

.kiss .style04 .ph-box {  }
.kiss .style04 .copy { top: 40px; right: 90px; }
.kiss .style04 .info-box { top: 125px; right: 220px; }
.kiss .style04 .info-box2 { top: 426px; right: 142px;}
.kiss .style04 .ph-txt { margin-top: 0; }
.kiss .style04 .item01 { top: 8%; left: 19.8%;}
.kiss .style04 .item02 { top: 25.8%; left: 12%; }
.kiss .style04 .item03 { top: 78.2%; left: 30.5%;}
.kiss .style04 .item04 { top: 53.2%; left: 39.2%;}
.kiss .style04 .item05 { top: 67.7%; left: 65.4%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .kiss */
.kiss .style01 .ph-box { margin:0 15vw 0 -40vw; }
.kiss .style01 .copy { top: 4vw; left: 5vw; }
.kiss .style01 .info-box { top: inherit; left: inherit; }
.kiss .style01 .ph-txt { margin-top: 0; }

.kiss .style02 .ph-box { margin:4vw -35vw 0 10vw; }
.kiss .style02 .copy { top: 4vw; right: 10vw; }
.kiss .style02 .info-box { top: inherit; right: inherit; }
.kiss .style02 .ph-txt { margin-top: 0; }

.kiss .style03 .ph-box { margin:0 11vw 0 -36vw; }
.kiss .style03 .copy { top: 4vw; left: 5vw; }
.kiss .style03 .info-box { top: inherit; left: inherit; }
.kiss .style03 .ph-txt { margin-top: 0; }

.kiss .style04 .ph-box { margin:0 -40vw 0 15vw; }
.kiss .style04 .copy { top: 4vw; right: 9vw; }
.kiss .style04 .info-box { top: inherit; right: inherit; }
.kiss .style04 .ph-txt { margin-top: 0; }
.kiss .style04 .info-box .point-ph img {width: inherit!important;}
.kiss .style04 .info-box2 .point-ph img {width: 145px!important;}

}

@media screen and (max-width: 480px) {
}
