/* .rands */
.rands .style01 .ph-box {  }
.rands .style01 .copy { top: 40px; left: 40px; }
.rands .style01 .info-box {top: 79px; left: 220px;}
.rands .style01 .ph-txt { margin-top: 0; }
.rands .style01 .item01 { top: %; left: %; }
.rands .style01 .item02 { top: %; left: %; }
.rands .style01 .item03 { top: %; left: %; }
.rands .style01 .item04 { top: %; left: %; }
.rands .style01 .item05 { top: %; left: %; }

.rands .style02 .ph-box {  }
.rands .style02 .copy { top: 40px; right: 80px; }
.rands .style02 .info-box { top: 209px; left: 414px;}
.rands .style02 .ph-txt { margin-top: 5px; }
.rands .style02 .item01 { top: %; left: %; }
.rands .style02 .item02 { top: %; left: %; }
.rands .style02 .item03 { top: %; left: %; }
.rands .style02 .item04 { top: %; left: %; }
.rands .style02 .item05 { top: %; left: %; }

.rands .style03 .ph-box {  }
.rands .style03 .copy { top: 40px; left: 40px; }
.rands .style03 .info-box { top: 123px; left: 200px;  }
.rands .style03 .info-box2 { top: 440px; left: 155px; }
.rands .style03 .ph-txt { margin-top: -5px; }
.rands .style03 .item01 { top: %; left: %; }
.rands .style03 .item02 { top: %; left: %; }
.rands .style03 .item03 { top: %; left: %; }
.rands .style03 .item04 { top: %; left: %; }
.rands .style03 .item05 { top: %; left: %; }

.rands .style04 .ph-box {  }
.rands .style04 .copy { top: 40px; right: 60px; }
.rands .style04 .info-box { top: 125px; right:169px; }
.rands .style04 .info-box2 { top: 426px; right: 95px;}
.rands .style04 .ph-txt { margin-top: -5px; }
.rands .style04 .item01 { top: %; left: %; }
.rands .style04 .item02 { top: %; left: %; }
.rands .style04 .item03 { top: %; left: %; }
.rands .style04 .item04 { top: %; left: %; }
.rands .style04 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .rands */
.rands .style01 .ph-box { margin:0 10vw 0 -35vw; }
.rands .style01 .copy { top: 4vw; left: 4vw; }
.rands .style01 .info-box { top: inherit; left: inherit; }
.rands .style01 .ph-txt { margin-top: 0; }

.rands .style02 .ph-box { margin:4vw -35vw 0 10vw; }
.rands .style02 .copy { top: 4vw; right: 8vw; }
.rands .style02 .info-box { top: inherit; left: inherit; }
.rands .style02 .ph-txt { margin-top: 0; }

.rands .style03 .ph-box { margin:0 10vw 0 -35vw; }
.rands .style03 .copy { top: 4vw; left: 4vw; }
.rands .style03 .info-box { top: inherit; left: inherit; }
.rands .style03 .ph-txt { margin-top: 0; }

.rands .style04 .ph-box { margin:0 -25vw 0 0vw; }
.rands .style04 .copy { top: 4vw; right: 6vw; }
.rands .style04 .info-box { top: inherit; right: inherit; }
.rands .style04 .info-box2 {margin-bottom: 0 !important;}
.rands .style04 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
