/* and per se */
.andperse .style01 .ph-box {  }
.andperse .style01 .copy { top: 40px; left: 37px; }
.andperse .style01 .info-box { top: 76px; left: 209px; }
.andperse .style01 .ph-txt { margin-top: -10px; }
.andperse .style01 .item01 { top: 1%; left: 76.8%; }
.andperse .style01 .item02 { top: 14%; left: 28%; }
.andperse .style01 .item03 { top: 16%; left: 51%; }
.andperse .style01 .item04 { top: 52%; left: 30%; }
.andperse .style01 .item05 { top: 74%; left: 57%; }

.andperse .style02 .ph-box {  }
.andperse .style02 .copy { top: 40px; right: 90px; }
.andperse .style02 .info-box { top: 189px; left: 443px;}
.andperse .style02 .ph-txt { margin-top: 0; }
.andperse .style02 .item01 { top: -1%; left: 45%; }
.andperse .style02 .item02 { top: 12.5%; left: 44%; }
.andperse .style02 .item03 { top: 17.5%; left: 65.8%; }
.andperse .style02 .item04 { top: 51%; left: 41%; }
.andperse .style02 .item05 { top: 71%; left: 46%; }

.andperse .style03 .ph-box {  }
.andperse .style03 .copy { top: 40px; left: 70px; }
.andperse .style03 .info-box { top: 261px; left: 199px;}
.andperse .style03 .ph-txt { margin-top: 0; }
.andperse .style03 .item01 { top: 0;left: 48%; }
.andperse .style03 .item02 { top: 12%; left: 32%; }
.andperse .style03 .item03 { top: 23%; left: 55%; }
.andperse .style03 .item04 { top: 52%; left: 28%; }
.andperse .style03 .item05 { top: 65%; left: 54%; }

.andperse .style04 .ph-box {  }
.andperse .style04 .copy { top: 40px; right: 100px; }
.andperse .style04 .info-box { top: 63px; left: 119px;}
.andperse .style04 .ph-txt { margin-top: 0; }
.andperse .style04 .item01 { top: 0;left: 46.5%; }
.andperse .style04 .item02 { top: 13%; left: 62%; }
.andperse .style04 .item03 { top: 14.5%; left: 39%; }
.andperse .style04 .item04 { top: 44%; left: 38.4%; }
.andperse .style04 .item05 { top: 68.8%; left: 67%; }

.andperse .style05 .ph-box {  }
.andperse .style05 .copy { top: 40px; left: 30px; }
.andperse .style05 .info-box { top: 171px; left: 238px; }
.andperse .style05 .info-box2 { top: 460px; left: 179px; }
.andperse .style05 .ph-txt { margin-top: -5px; }
.andperse .style05 .item01 { top: -1%; left: 29%; }
.andperse .style05 .item02 { top: 15%; left: 49%; }
.andperse .style05 .item03 { top: 12%; left: 29%; }
.andperse .style05 .item04 { top: 54%; left: 27%; }

.andperse .style06 .ph-box {  }
.andperse .style06 .copy { top: 40px; right: 75px; }
.andperse .style06 .info-box { top: 125px; right: 200px; }
.andperse .style06 .info-box2 { top: 545px; right: 132px; }
.andperse .style06 .ph-txt { margin-top: -5px; }
.andperse .style06 .item01 { top: -2.2%; left: 44.5%; }
.andperse .style06 .item02 { top: 13%; left: 38%; }
.andperse .style06 .item03 { top: 11.7%; left: 56.8%; }
.andperse .style06 .item04 { top: 51%; left: 40%; }
.andperse .style06 .item05 { top: 43%; left: 63%; }

.andperse .style07 .ph-box {  }
.andperse .style07 .copy { top: 40px; left: 70px; }
.andperse .style07 .info-box { top: 145px; left: 238px; }
.andperse .style07 .info-box2 { top: 460px; left: 179px; }
.andperse .style07 .ph-txt { margin-top: -15px; }
.andperse .style07 .item01 { top: -2.8%; left: 45.7%; }
.andperse .style07 .item02 { top: 16%; left: 32%; }
.andperse .style07 .item03 { top: 8.5%; left: 48%; }
.andperse .style07 .item04 { top: 51%; left: 56%; }
.andperse .style07 .item05 { top: 68%; left: 33%; }

.andperse .style08 .ph-box {  }
.andperse .style08 .copy { top: 40px; right: 95px; }
.andperse .style08 .info-box { top: 104px; right: 174px; }
.andperse .style08 .info-box2 { top: 545px; right: 132px; }
.andperse .style08 .ph-txt { margin-top: 0; }
.andperse .style08 .item01 { top: -2.5%; left: 47%; }
.andperse .style08 .item02 { top: 23%; left: 59%; }
.andperse .style08 .item03 { top: 11%; left: 44.5%; }
.andperse .style08 .item04 { top: 50.5%; left: 41%; }
.andperse .style08 .item05 { top: 47.5%; left: 63.7%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.andperse .style01 .ph-box { margin:0 0 0 -25vw; }
.andperse .style01 .copy { top: 4vw; left: 4vw; }
.andperse .style01 .info-box { top: inherit; left: inherit; }
.andperse .style01 .ph-txt { margin-top: 0; }

.andperse .style02 .ph-box { margin: 5vw -30vw 0 5vw; }
.andperse .style02 .copy { top: 4vw; right: 9vw; }
.andperse .style02 .info-box { top: inherit; left: inherit; }
.andperse .style02 .ph-txt { margin-top: 0; }
.andperse .style02 .info-box .point-ph img { width: 145px !important; }

.andperse .style03 .ph-box { margin: 4vw 12vw 0 -37vw; }
.andperse .style03 .copy { top: 4vw; left: 7vw; }
.andperse .style03 .info-box { top: inherit; left: inherit; }
.andperse .style03 .ph-txt { margin-top: 0; }

.andperse .style04 .ph-box { margin:4vw -11vw 0 -14vw; }
.andperse .style04 .copy { top: 4vw; right: 6vw; }
.andperse .style04 .info-box { top: inherit; left: inherit; }
.andperse .style04 .ph-txt { margin-top: 0; }

.andperse .style05 .ph-box { margin: 0 15vw 0 -40vw; }
.andperse .style05 .copy { top: 4vw; left: 3vw; }
.andperse .style05 .info-box,.andperse .style05 .info-box2 { top: inherit; left: inherit; }
.andperse .style05 .ph-txt { margin-top: 0; }

.andperse .style06 .ph-box { margin: 0 -35vw 0 10vw; }
.andperse .style06 .copy { top: 4vw; right: 7.5vw; }
.andperse .style06 .info-box,.andperse .style06 .info-box2 { top: inherit; right: inherit; }
.andperse .style06 .ph-txt { margin-top: 0; }
.andperse .style06 .info-box .point-ph img {width: 145px !important;}
.andperse .style06 .info-box2 .point-ph img {width:inherit!important;}

.andperse .style07 .ph-box { margin:0 15vw 0 -40vw; }
.andperse .style07 .copy { top: 4vw; left: 7vw; }
.andperse .style07 .info-box,.andperse .style07 .info-box2 { top: inherit; left: inherit; }
.andperse .style07 .ph-txt { margin-top: 0; }

.andperse .style08 .ph-box { margin: 0 -25vw 0 0; }
.andperse .style08 .copy { top: 4vw; right: 9.5vw; }
.andperse .style08 .info-box,.andperse .style08 .info-box2 { top: inherit; right: inherit; }
.andperse .style08 .ph-txt { margin-top: 0; }
.andperse .style08 .info-box .point-ph img {width: 145px !important;}
.andperse .style08 .info-box2 .point-ph img {width:inherit!important;}
}

@media screen and (max-width: 480px) {
}
