/* .fila */
.fila .style01 .ph-box {  }
.fila .style01 .copy { top: 40px; left: 40px; }
.fila .style01 .info-box {top: 238px; left: 225px;}
.fila .style01 .ph-txt { margin-top: 10px; }
.fila .style01 .item01 { top: 0%; left: 79%; }
.fila .style01 .item02 { top: 23%; left: 60%; }
.fila .style01 .item03 { top: 11%; left: 78%; }
.fila .style01 .item04 { top: 47%; left: 57%; }
.fila .style01 .item05 { top: %; left: %; }

.fila .style02 .ph-box {  }
.fila .style02 .copy { top: 40px; right: 90px; }
.fila .style02 .info-box { top: 63px; left: 144px; width: 200px !important;}
.fila .style02 .ph-txt { margin-top: 10px; }
.fila .style02 .item01 { top: 19%; left: 65%; }
.fila .style02 .item02 { top: 48%; left: 67%; }
.fila .style02 .item03 { top: %; left: %; }
.fila .style02 .item04 { top: %; left: %; }
.fila .style02 .item05 { top: %; left: %; }

.fila .style03 .ph-box {  }
.fila .style03 .copy { top: 40px; left: 70px; }
.fila .style03 .info-box { top: 527px; left: 197px; }
.fila .style03 .ph-txt { margin-top: 5px; }
.fila .style03 .item01 { top: 22%; left: 45%; }
.fila .style03 .item02 { top: 38%; left: 49%; }
.fila .style03 .item03 { top: 29%; left: 61%; }
.fila .style03 .item04 { top: 60%; left: 77%;}
.fila .style03 .item05 { top: %; left: %; }

.fila .style04 .ph-box {  }
.fila .style04 .copy { top: 40px; right: 100px; }
.fila .style04 .info-box { top: 150px; right:226px; }
.fila .style04 .ph-txt { margin-top: 5px; }
.fila .style04 .item01 { top: 4%; left: 18%; }
.fila .style04 .item02 { top: 37%; left: 32%; }
.fila .style04 .item03 { top: 24%; left: 12%; }
.fila .style04 .item04 { top: 73%; left: 18%; }
.fila .style04 .item05 { top: %; left: %; }

.fila .style05 .ph-box {  }
.fila .style05 .copy { top: 40px; left: 30px; }
.fila .style05 .info-box { top: 123px; left: 218px; }
.fila .style05 .info-box2 { top: 440px; left: 141px; }
.fila .style05 .ph-txt { margin-top: -5px; }
.fila .style05 .item01 { top: 7%; left: 65%; }
.fila .style05 .item02 { top: 27%; left: 56%; }
.fila .style05 .item03 { top: 19%; left: 77%; }
.fila .style05 .item04 { top: 57%; left: 66%; }
.fila .style05 .item05 { top: %; left: %; }

.fila .style06 .ph-box {  }
.fila .style06 .copy { top: 40px; right: 80px; }
.fila .style06 .info-box { top: 139px; right: 212px; }
.fila .style06 .info-box2 { top: 444px; right: 168px;}
.fila .style06 .ph-txt { margin-top: -3px; }
.fila .style06 .item01 { top: 37%; left: 21%; }
.fila .style06 .item02 { top: 22%; left: 35%; }
.fila .style06 .item03 { top: 55%; left: 40%; }
.fila .style06 .item04 { top: %; left: %; }
.fila .style06 .item05 { top: %; left: %; }

.fila .style07 .ph-box {  }
.fila .style07 .copy { top: 40px; left: 70px; }
.fila .style07 .info-box { top: 374px; left: 145px; width: 141px !important;}
.fila .style07 .info-box2 { top: 374px; left: 311px; width: 141px !important; }
.fila .style07 .ph-txt { margin-top: 5px; }
.fila .style07 .item01 { top: 5%; left: 71%;}
.fila .style07 .item02 { top: 32%; left: 56%; }
.fila .style07 .item03 { top: 19%; left: 63%; }
.fila .style07 .item04 { top: 58%; left: 77%; }
.fila .style07 .item05 { top: %; left: %; }

.fila .style08 .ph-box {  }
.fila .style08 .copy { top: 40px; right: 90px; }
.fila .style08 .info-box {top: 62px; right: 181px;}
.fila .style08 .info-box2 { top: 385px; right: 170px;width: 200px !important;}
.fila .style08 .ph-txt { margin-top: 0px; }
.fila .style08 .item01 { top: 10%; left: 25%; }
.fila .style08 .item02 { top: 27%; left: 45%; }
.fila .style08 .item03 { top: 22%; left: 28%; }
.fila .style08 .item04 { top: %; left: %; }
.fila .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .fila */
.fila .style01 .ph-box { margin:0 15vw 0 -40vw; }
.fila .style01 .copy { top: 4vw; left: 4vw; }
.fila .style01 .info-box { top: inherit; left: inherit; }
.fila .style01 .ph-txt { margin-top: 0; }

.fila .style02 .ph-box { margin:4vw -10vw 0 -15vw; }
.fila .style02 .copy { top: 4vw; right: 9vw; }
.fila .style02 .info-box { top: inherit; left: inherit; width: auto !important;}
.fila .style02 .info-box img { width: 145px!important;}
.fila .style02 .ph-txt { margin-top: 0; }

.fila .style03 .ph-box { margin:4vw 10vw 0 -35vw;}
.fila .style03 .copy { top: 4vw; left: 7vw; }
.fila .style03 .info-box { top: inherit; left: inherit; }
.fila .style03 .ph-txt { margin-top: 0; }

.fila .style04 .ph-box { margin: 4vw -40vw 0 15vw; }
.fila .style04 .copy { top: 4vw; right: 10vw; }
.fila .style04 .info-box { top: inherit; right: inherit; }
.fila .style04 .ph-txt { margin-top: 0; }

.fila .style05 .ph-box { margin:0 10vw 0 -35vw; }
.fila .style05 .copy { top: 4vw; left: 3vw; }
.fila .style05 .info-box,.fila .style05 .info-box2 { top: inherit; right: inherit; left: inherit;}
.fila .style05 .ph-txt { margin-top: 0; }

.fila .style06 .ph-box { margin: 0 -35vw 0 10vw; }
.fila .style06 .copy { top: 4vw; right: 8vw; }
.fila .style06 .info-box,.fila .style06 .info-box2 { top: inherit; left: inherit; right: inherit;}
.fila .style06 .ph-txt { margin-top: 0; }

.fila .style07 .ph-box { margin:0 10vw 0 -35vw; }
.fila .style07 .copy { top: 4vw; left: 7vw; }
.fila .style07 .info-box,.fila .style07 .info-box2 { top: inherit; right: inherit; left: inherit; width: auto !important;}
.fila .style07 .info-box img {width: 85px !important;}
.fila .style07 .ph-txt { margin-top: 0; }

.fila .style08 .ph-box { margin:0 -25vw 0 0vw; }
.fila .style08 .copy { top: 4vw; right: 9vw; }
.fila .style08 .info-box { top: inherit; left: inherit; right: inherit; width:auto !important;}
.fila .style08 .info-box img {width: 145px !important;}
.fila .style08 .info-box2 img {width: inherit !important;}
.fila .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
