.btn-frame {
	position: absolute;
	z-index: 30;
}
.btn-frame .link-btn {
	overflow: hidden;
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	background: #cce5e5;
	border: solid 2px #abd8de;
	border-radius: 100%;
	transition: .5s;
	color:#3b3b3b;
	text-decoration: none;
	box-shadow: 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
}
.btn-frame .link-btn.wbtn{
	background: #e5b9af;
	border: solid 2px #d4a392;
	color: #3b3b3b;
	box-shadow: 2px 2px rgba(0,0,0,0.3);
}

/* アイコン */
.btn-frame .link-btn .cart-icon {
	position: absolute;
	top: 50%;
	line-height: 1;
	margin-top: -0.5em;
	opacity: 1;
	font-size: 24px;
	text-align: center;
	width: 100%;
	transition: .3s;
	transition-delay: .3s;
}

/* アイテム情報 */
.btn-frame .link-btn .item-info {
	transition: .1s;
	transition-delay: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* 点滅 */
.blinking{
	animation:blink 1.0s ease-in-out infinite alternate;
}
@keyframes blink{
	0% {opacity:0;}
	100% {opacity:1;}
}

/* ************************************************************************************************ */
@media screen and (min-width: 769px) {
.btn-frame .link-btn:hover {
	margin: -40px 0 0 -40px;
	width: 130px;
	height: 130px;
}

/* アイコン */
.btn-frame .link-btn:hover .cart-icon {
	transition: .5s;
	transition-delay: 0s;
	opacity: 0;
	animation: none;
}

/* アイテム情報 */
.btn-frame .link-btn:hover .item-info {
	transition: .3s;
	transition-delay: .4s;
	opacity: 1;
}
p.name {
	font-size: 14px;
	line-height: 1.1;
	margin: 5px 0 2px;
}
p.price {
	font-size: 14px;
	margin-bottom: 3px;
}
p.price em { font-size: 11px; font-style: normal; }
p.icon {
	font-size: 18px;
}
p.onlineshop {
	font-size: 11px;
	line-height: 1;
}
.comingsoon p.name {
	opacity: 0.5;
}
.comingsoon p.price,
.comingsoon p.icon,
.comingsoon p.onlineshop {
	display: none;
}
.comingsoon p.comingsoon-txt {
	opacity: 0.5;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
.btn-frame .link-btn {
	width: 7vw;
	height: 7vw;
	transition: 0;
}

/* アイコン */
.btn-frame .link-btn .cart-icon {
	font-size: 4vw;
	transition: 0;
	transition-delay: 0;
}

/* アイテム情報 */
.btn-frame .link-btn .item-info {
	display: none;
}

/* 点滅 */
.btn-frame .comingsoon .blinking{
	animation:none;
	/*color: #fff;*/
	opacity: 0.6;
}
.btn-frame .link-btn.comingsoon {
	/*background: #c4c4c4;
	border: solid 2px #9a9a9a;*/
	cursor: default;
	opacity: 0.6;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.btn-frame .link-btn {
	margin-top: -0.4em;
	width: 9vw;
	height: 9vw;
}

/* アイコン */
.btn-frame .link-btn .cart-icon {
	font-size: 5vw;
}
}


