/* .loudmouth */
.loudmouth .style01 .ph-box { }
.loudmouth .style01 .copy { top: 40px; left: 40px; }
.loudmouth .style01 .info-box {top: 280px;
 right: 95px;}
.loudmouth .style01 .ph-txt { margin-top: 15px; }
.loudmouth .style01 .item01 { top: %; left: %; }
.loudmouth .style01 .item02 { top: %; left: %; }
.loudmouth .style01 .item03 { top: %; left: %; }
.loudmouth .style01 .item04 { top: %; left: %; }
.loudmouth .style01 .item05 { top: %; left: %; }

.loudmouth .style02 .ph-box { }
.loudmouth .style02 .copy {    top: 19px !important;
    right: 76px !important;
}
.loudmouth .style02 .info-box { top: 225px;
 right: 537px;}
.loudmouth .style02 .ph-txt { margin-top: 15px; }
.loudmouth .style02 .item01 { top: %; left: %; }
.loudmouth .style02 .item02 { top: %; left: %; }
.loudmouth .style02 .item03 { top: %; left: %; }
.loudmouth .style02 .item04 { top: %; left: %; }
.loudmouth .style02 .item05 { top: %; left: %; }

.loudmouth .style03 .ph-box { }
.loudmouth .style03 .copy { top: 46px !important;
 left: 99px !important;}
.loudmouth .style03 .info-box {
    top: -5px;
    left: 531px;
}
.loudmouth .style03 .ph-txt { margin-top:15px; }
.loudmouth .style03 .item01 { top: %; left: %; }
.loudmouth .style03 .item02 { top: %; left: %; }
.loudmouth .style03 .item03 { top: %; left: %; }
.loudmouth .style03 .item04 { top: %; left: %; }
.loudmouth .style03 .item05 { top: %; left: %; }

.loudmouth .style04 .ph-box { }
.loudmouth .style04 .copy { top:23ppx !important; right: 100px; }
.loudmouth .style04 .info-box { top: 150px;
 right: 543px; }
.loudmouth .style04 .ph-txt { margin-top: 15px; }
.loudmouth .style04 .item01 { top: %; left: %; }
.loudmouth .style04 .item02 { top: %; left: %; }
.loudmouth .style04 .item03 { top: %; left: %; }
.loudmouth .style04 .item04 { top: %; left: %; }
.loudmouth .style04 .item05 { top: %; left: %; }

.loudmouth .style05 .ph-box { }
.loudmouth .style05 .copy { top: 47px !important;
 left: 131px !important; }
.loudmouth .style05 .info-box {top: 351px;
    left: 574px;
    width: 160px !important;}
.loudmouth .style05 .info-box2 { top: 440px; left: 155px; }
.loudmouth .style05 .ph-txt { margin-top: 15px; }
.loudmouth .style05 .item01 { top: %; left: %; }
.loudmouth .style05 .item02 { top: %; left: %; }
.loudmouth .style05 .item03 { top: %; left: %; }
.loudmouth .style05 .item04 { top: %; left: %; }
.loudmouth .style05 .item05 { top: %; left: %; }

.loudmouth .style06 .ph-box { }
.loudmouth .style06 .copy { top: 55px !important; right: 80px; }
.loudmouth .style06 .info-box { top: 345px;
 right: 525px; width: 160px !important;}
.loudmouth .style06 .info-box2 { top: 444px; right: 123px;}
.loudmouth .style06 .ph-txt { margin-top: 15px; }
.loudmouth .style06 .item01 { top: %; left: %; }
.loudmouth .style06 .item02 { top: %; left: %; }
.loudmouth .style06 .item03 { top: %; left: %; }
.loudmouth .style06 .item04 { top: %; left: %; }
.loudmouth .style06 .item05 { top: %; left: %; }

.loudmouth .style07 .ph-box { }
.loudmouth .style07 .copy {top: 35px !important;
 left: 125px !important;}
.loudmouth .style07 .info-box { top: 235px;
 left: 535px; width: 160px !important;}
.loudmouth .style07 .info-box2 { top: 440px; left: 155px; }
.loudmouth .style07 .ph-txt { margin-top: 15px; }
.loudmouth .style07 .item01 { top: %; left: %; }
.loudmouth .style07 .item02 { top: %; left: %; }
.loudmouth .style07 .item03 { top: %; left: %; }
.loudmouth .style07 .item04 { top: %; left: %; }
.loudmouth .style07 .item05 { top: %; left: %; }

.loudmouth .style08 .ph-box { }
.loudmouth .style08 .copy { top: 153px !important; right: 90px; }
.loudmouth .style08 .info-box { top: 237px;
 right: 525px; width: 160px !important;}
.loudmouth .style08 .info-box2 {top: 483px; right: 146px; width: 200px !important;}
.loudmouth .style08 .ph-txt { margin-top: 15px; }
.loudmouth .style08 .item01 { top: %; left: %; }
.loudmouth .style08 .item02 { top: %; left: %; }
.loudmouth .style08 .item03 { top: %; left: %; }
.loudmouth .style08 .item04 { top: %; left: %; }
.loudmouth .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .loudmouth */
.loudmouth .style01 .ph-box { margin: 0 -25vw 0 0; }
.loudmouth .style01 .copy {    top: 3vw !important;
    left: 11vw !important;
}
.loudmouth .style01 .info-box { top: inherit; right: inherit; }
.loudmouth .style01 .ph-txt { margin-top: 0; }

.loudmouth .style02 .ph-box { margin:5vw 0vw 0 -30vw; }
.loudmouth .style02 .copy { top: 6vw !important;
 right: 8vw !important;}
.loudmouth .style02 .info-box { top: inherit; right: inherit; }
.loudmouth .style02 .ph-txt { margin-top: 0; }

.loudmouth .style03 .ph-box { margin:5vw -33vw 0 8vw; }
.loudmouth .style03 .copy {     top: 10vw !important;
    left: 16vw !important;}
.loudmouth .style03 .info-box { top: inherit; left: inherit; }
.loudmouth .style03 .ph-txt { margin-top: 0; }

.loudmouth .style04 .ph-box { margin:5vw 0vw 0 -30vw; }
.loudmouth .style04 .copy { top: 13vw !important;
 right: 14vw !important; }
.loudmouth .style04 .info-box { top: inherit; right: inherit; }
.loudmouth .style04 .ph-txt { margin-top: 0; }

.loudmouth .style05 .ph-box { margin:5vw -25vw 0 -5vw; }
.loudmouth .style05 .copy {     top: 13vw !important;
    left: 14vw !important;}
.loudmouth .style05 .info-box { top: inherit; right: inherit; left: inherit;}
.loudmouth .style05 .ph-txt { margin-top: 0; }
.loudmouth .style05 .info-box img {width: 145px !important;}

.loudmouth .style06 .ph-box { margin:5vw 0vw 0 -30vw; }
.loudmouth .style06 .copy {top: 13vw!important;
 right: 14vw !important;}
.loudmouth .style06 .info-box { top: inherit; left: inherit; right: inherit;}
.loudmouth .style06 .ph-txt { margin-top: 0; }
.loudmouth .style06 .info-box img {width: 145px !important;}

.loudmouth .style07 .ph-box { margin:5vw -33vw 0 8vw; }
.loudmouth .style07 .copy { top: 10vw !important;
 left: 20vw !important;}
.loudmouth .style07 .info-box { top: inherit; right: inherit; left: inherit;}
.loudmouth .style07 .ph-txt { margin-top: 0; }
.loudmouth .style07 .info-box img {width: 145px !important;}

.loudmouth .style08 .ph-box { margin:5vw 0vw 0 -30vw; }
.loudmouth .style08 .copy { top: 14vw !important;
 right: 14vw !important;}
.loudmouth .style08 .info-box { top: inherit; left: inherit; right: inherit; width: auto !important;}
.loudmouth .style08 .info-box img {width: 145px !important;}
.loudmouth .style08 .ph-txt { margin-top: 0; }
}

@media screen and (max-width: 480px) {
}
