/* and per se */
.andperse .style01 .ph-box { }
.andperse .style01 .copy { top: 75px !important;
 left: 73px !important;}
.andperse .style01 .info-box { 
    top: 26px;
    left: 528px;
}
.andperse .style01 .ph-txt { margin-top: 15px; }
.andperse .style01 .item01 {     top: 16%;
    left: 26.5%; }
.andperse .style01 .item02 {     top: 32%;
    left: 20%;}
.andperse .style01 .item03 {     top: 47%;
    left: 30%;
 }
.andperse .style01 .item04 { top: 64%;
    left: 28.5%; }
.andperse .style01 .item05 { 
    top: 47%;
    left: 52%;
}
.andperse .style01 .item06 {
    top: 21%;
    left: 50%;
}
.andperse .style01 .item07 {     top: 91%;
    left: 46%;
 }
.andperse .style01 .item08 { top: 59%; left: 37%; }
.andperse .style01 .item09 { top: 44%; left: 36%; }
.andperse .style01 .item10 { top: 32%; left: 49%; }
.andperse .style01 .item11 { top: 42%; left: 52%; }

.andperse .style02 .ph-box { }
.andperse .style02 .copy { top: 66px !important;
 right: 107px !important;}
.andperse .style02 .info-box { top: 512px;
 left: 92px;}
.andperse .style02 .ph-txt { margin-top: 15px; }
.andperse .style02 .item01 { top: -1.5%; left: 41%; }
.andperse .style02 .item02 { top: 28%; left: 51%; }
.andperse .style02 .item03 { top: 13.5%; left: 32.8%; }
.andperse .style02 .item04 { top: 49%; left: 36%; }
.andperse .style02 .item05 { top: 36.5%; left: 38%; }
/*.andperse .style02 .item06 { top: 71%; left: 46%; }*/
.andperse .style02 .item07 { top: 73%; left: 41.5%; }
.andperse .style02 .item08 { top: 62%; left: 76%; }
.andperse .style02 .item09 { top: 25%; left: 72%; }
.andperse .style02 .item10 { top: 38%; left: 58%; }
.andperse .style02 .item11 { top: 42%; left: 74%; }

.andperse .style03 .ph-box { }
.andperse .style03 .copy { top: 42px !important;
 left: 103px !important;}
.andperse .style03 .info-box { top:0;
 left: 528px;}
.andperse .style03 .ph-txt { margin-top: 15px; }
.andperse .style03 .item01 { 
    top: -1%;
    left: 37%;
}
.andperse .style03 .item02 { 
    top: 16%;
    left: 49%;
 }
.andperse .style03 .item03 { 
    top: 14%;
    left: 27%;
 }
.andperse .style03 .item04 {
    top: 57%;
    left: 46%;
}
.andperse .style03 .item05 {
    top: 43%;
    left: 47%;
}
.andperse .style03 .item06 {    top: 41%;
    left: 38%;
}
.andperse .style03 .item07 {    top: 86%;
    left: 31%;

}
.andperse .style03 .item08 {
    top: 58%;
    left: 78%;

}
.andperse .style03 .item09 {    top: 35%;
    left: 15%;

}
.andperse .style03 .item10 {
    top: 32%;
    left: 64%;
}
.andperse .style03 .item11 {top: 49%;
    left: 80%;
}

	
	
.andperse .style04 .ph-box { }
.andperse .style04 .copy { top: 124px !important;
 right: 103px !important;}
.andperse .style04 .info-box { top: 290px;
 left: 119px;}
.andperse .style04 .ph-txt { margin-top: 15px; }
.andperse .style04 .item01 { top: -2%;left: 60.5%; }
.andperse .style04 .item02 { top: 17%; left: 48.5%; }
.andperse .style04 .item03 { top: 44.5%; left: 45%; }
.andperse .style04 .item04 { top: 34.5%; left: 61%; }
.andperse .style04 .item05 { top: 48.8%; left: 62%; }
.andperse .style04 .item06 { top: 88%; left: 63%; }
.andperse .style04 .item07 { top: 62.5%; left: 74.5%; }

.andperse .style05 .ph-box { }
.andperse .style05 .copy { top: 30px !important;
 left: 117px !important;}
.andperse .style05 .info-box {
    top: 243px;
    left: 521px;
    width: 160px !important;
}
.andperse .style05 .info-box2 { top: 460px; left: 179px; }
.andperse .style05 .ph-txt { margin-top: 15px; }
.andperse .style05 .item01 { top: 1%; left: 44%; }
.andperse .style05 .item02 { top: 12.5%; left: 30%; }
.andperse .style05 .item03 { top: 21%; left: 51%; }
.andperse .style05 .item04 { 
    top: 56%;
    left: 28%;
}
.andperse .style05 .item05 {     top: 42%;
    left: 26%;
 }
 .andperse .style05 .item06 {     top: 42%;
    left: 51%;

 }
/*.andperse .style05 .item06 { top: 54%; left: 27%; }*/
.andperse .style05 .item07 { 
    top: 80.5%;
    left: 44.5%;
 }

.andperse .style06 .ph-box { }
.andperse .style06 .copy { top: 39px !important; }
.andperse .style06 .info-box { top: 247px;
 right: 528px; }
.andperse .style06 .info-box2 { top: 545px; right: 132px; }
.andperse .style06 .ph-txt { margin-top: 15px; }
.andperse .style06 .item01 { top: -2%; left: 60.5%; }
.andperse .style06 .item02 { top: 20%; left: 43.5%; }
.andperse .style06 .item03 { top: 12.5%; left: 63%; }
.andperse .style06 .item04 { top: 50%; left: 43%; }
.andperse .style06 .item05 { top: 36%; left: 48%; }
.andperse .style06 .item06 { top: 43.5%; left: 55%; }
.andperse .style06 .item07 { top: 84.5%; left: 40.5%; }
.andperse .style06 .item08 { top: 53%; left: 70%; }

.andperse .style07 .ph-box { }
.andperse .style07 .copy {
    top: 93px !important;
    left: 108px !important;
 }
.andperse .style07 .info-box {    top: 219px;
    left: 544px;
    width: 160px !important; }
.andperse .style07 .info-box2 { top: 460px; left: 179px; }
.andperse .style07 .ph-txt { margin-top: 15px; }
.andperse .style07 .item01 { top: -2.8%; left: 39.5%; }
.andperse .style07 .item02 { 
    top: 11.5%;
    left: 42.5%;
}
.andperse .style07 .item03 {     top: 11.5%;
    left: 42.5%;}
.andperse .style07 .item04 {
    top: 14%;
    left: 28%;
}
.andperse .style07 .item05 { 
    top: 58%;
    left: 49%;
}
.andperse .style07 .item06 {
    top: 44%;
    left: 46.5%;
}
.andperse .style07 .item07 {
    top: 79.2%;
    left: 45.5%;
}
.andperse .style07 .item08 {top: 85%;
    left: 17.5%; }
	
	.andperse .style07 .item09 {top: 30%;
    left: 21%; }


.andperse .style08 .ph-box { }
.andperse .style08 .copy { top: 175px !important;
 right: 98px !important;}
.andperse .style08 .info-box { top: 390px;
 right: 524px;}
.andperse .style08 .info-box2 { top: 545px; right: 132px; }
.andperse .style08 .ph-txt { margin-top: 15px; }
.andperse .style08 .item01 { top: 0.5%; left: 66.2%; }
.andperse .style08 .item02 { top: 16%; left: 46%; }
.andperse .style08 .item03 { top: 13%; left: 66%; }
.andperse .style08 .item04 { top: 53%; left: 47%; }
/*.andperse .style08 .item05 { top: 47.5%; left: 63.7%; }*/
.andperse .style08 .item06 { top: 89%; left: 49%; }
.andperse .style08 .item07 { top: 34%; left: 55%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.andperse .style01 .ph-box { margin: 0 -30vw 0 0vw; }
.andperse .style01 .copy { top: 11vw !important;
 left: 12vw !important;}
.andperse .style01 .info-box { top: inherit; left: inherit; }
.andperse .style01 .ph-txt { margin-top: 0; }

.andperse .style02 .ph-box { margin:5vw 3vw 0 -33vw; }
.andperse .style02 .copy { top: 16vw !important;
 right: 13vw !important; }
.andperse .style02 .info-box { top: inherit; left: inherit; }
.andperse .style02 .ph-txt { margin-top: 0; }
.andperse .style02 .info-box .point-ph img { }

.andperse .style03 .ph-box { margin:5vw -10vw 0 -20vw; }
.andperse .style03 .copy {     top: 10vw !important;
    left: 75vw !important;}
.andperse .style03 .info-box { top: inherit; left: inherit; }
.andperse .style03 .ph-txt { margin-top: 0; }

.andperse .style04 .ph-box { margin:5vw 3vw 0 -33vw; }
.andperse .style04 .copy { 

}
.andperse .style04 .info-box { top: inherit; left: inherit; }
.andperse .style04 .ph-txt { margin-top: 0; }

.andperse .style05 .ph-box { margin: 5vw -27vw 0 -3vw; }
.andperse .style05 .copy {    top: 10vw !important;
    left: 11vw !important;}
.andperse .style05 .info-box,.andperse .style05 .info-box2 { top: inherit; left: inherit; }
.andperse .style05 .ph-txt { margin-top: 0; }
.andperse .style05 .info-box .point-ph img {width: 145px !important;}

.andperse .style06 .ph-box { margin:5vw 4vw 0 -26vw; }
.andperse .style06 .copy { top: 13vw !important;
 right: 11vw !important;}
.andperse .style06 .info-box,.andperse .style06 .info-box2 { top: inherit; right: inherit; }
.andperse .style06 .ph-txt { margin-top: 0; }
.andperse .style06 .info-box .point-ph img { }
.andperse .style06 .info-box2 .point-ph img {width:inherit!important;}

.andperse .style07 .ph-box { margin:5vw -32vw 0 2vw; }
.andperse .style07 .copy { top: 26vw !important;
 left: 11vw !important;}
.andperse .style07 .info-box,.andperse .style07 .info-box2 { top: inherit; left: inherit; }
.andperse .style07 .ph-txt { margin-top: 0; }
.andperse .style07 .info-box .point-ph img {width: 145px !important;}

.andperse .style08 .ph-box { margin:5vw -2vw 0 -28vw; }
.andperse .style08 .copy { top: 32vw !important;
 right: 11vw! important;}
.andperse .style08 .info-box,.andperse .style08 .info-box2 { top: inherit; right: inherit; }
.andperse .style08 .ph-txt { margin-top: 0; }
.andperse .style08 .info-box .point-ph img { }
.andperse .style08 .info-box2 .point-ph img {width:inherit!important;}
}

@media screen and (max-width: 480px) {
}
