/* .kiss */
.kiss .style01 .ph-box { }
.kiss .style01 .copy {    right: 100px !important;
    left: auto !important;}
.kiss .style01 .info-box {    top: 200px;
    left: 142px;
    width: 160px !important;
}
.kiss .style01 .ph-txt { margin-top: 15px; }
.kiss .style01 .item01 { top: -1.5%;
 left: 61.5%;}
.kiss .style01 .item02 { top: 12.2%;
 left: 44.2%;
}
.kiss .style01 .item03 {
 top: 51.6%;
 left: 41.4%;
}
.kiss .style01 .item04 { top: 32.8%; left: 61.5%; }
.kiss .style01 .item05 { top: 46.8%;
 left: 69.5%;}
.kiss .style01 .item06 {top: 79.8%;
 left: 61.5%; }

.kiss .style02 .ph-box { }
.kiss .style02 .copy { 
    top: 0 !important;
    right: 115px !important;
}
.kiss .style02 .info-box { top: 145px;
 right: 511px;}
.kiss .style02 .ph-txt { margin-top: 15px; }
.kiss .style02 .item01 { top: -1%;
 left: 54.2%;}
.kiss .style02 .item02 {top: 14%;
 left: 44.5%;}
.kiss .style02 .item03 { top: 49%;
 left: 44%;}
.kiss .style02 .item04 { top: 76%;
 left: 66.5%;}
.kiss .style02 .item05 { top: 43.8%; left: 41%;}
.kiss .style02 .item06 { top: 43.8%; left: 41%;}

.kiss .style03 .ph-box { }
.kiss .style03 .copy { left: 685px !important;
 top: 61px !important; }
.kiss .style03 .info-box {top: 217px;
 left: 99px;}
.kiss .style03 .info-box2 { top: 440px; left: 180px;}
.kiss .style03 .ph-txt { margin-top: 15px; }
.kiss .style03 .item01 { top: 0%;
 left: 54%;}
.kiss .style03 .item02 {top: 35.8%;
 left: 67.2%;}
.kiss .style03 .item03 { top: 16.5%;
 left: 44.5%; }
.kiss .style03 .item04 { top: 48.5%;
 left: 69%;}
.kiss .style03 .item05 { top: 46.5%;
 left: 42%;}
.kiss .style03 .item06 { top: 80.5%;
 left: 50%;}

.kiss .style04 .ph-box { }
.kiss .style04 .copy { top:52px !important;
 right: 115px !important; }
.kiss .style04 .info-box {
    top: 293px;
    right: 483px;
}
.kiss .style04 .info-box2 { top: 426px; right: 142px;}
.kiss .style04 .ph-txt { margin-top: 15px; }
.kiss .style04 .item01 { top: 0%;
 left: 51.8%;}
.kiss .style04 .item02 { top: 17.8%;
 left: 43%;}
.kiss .style04 .item03 { top: 14.2%;
 left: 63.5%;}
.kiss .style04 .item04 { top: 48.2%;
 left: 69.2%;}
.kiss .style04 .item05 { top: 50.7%;
 left: 42.4%;}
.kiss .style04 .item06 { top: 75.7%;
 left: 65.4%;}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .kiss */
.kiss .style01 .ph-box { margin:0 0vw 0 -30vw; }
.kiss .style01 .copy { top: 4vw !important;
 left: 74vw !important;}
.kiss .style01 .info-box { top: inherit; left: inherit; }
.kiss .style01 .ph-txt { margin-top: 0; }
.kiss .style01 .info-box .point-ph img {
    width: 145px !important;
}

.kiss .style02 .ph-box { margin:5vw -3vw 0 -32vw; }
.kiss .style02 .copy {     top: 9vw !important;
    right: 9vw !important;}
.kiss .style02 .info-box { top: inherit; right: inherit; }
.kiss .style02 .ph-txt { margin-top: 0; }

.kiss .style03 .ph-box { margin:5vw -5vw 0 -25vw; }
.kiss .style03 .copy { left: 77vw !important;
 top: 20vw !important; }
.kiss .style03 .info-box { top: inherit; left: inherit; }
.kiss .style03 .ph-txt { margin-top: 0; }

.kiss .style04 .ph-box { margin:5vw -3vw 0 -32vw; }
.kiss .style04 .copy { top: 12vw !important;
 right: 10vw!important;}
.kiss .style04 .info-box { top: inherit; right: inherit; }
.kiss .style04 .ph-txt { margin-top: 0; }
.kiss .style04 .info-box .point-ph img {}
.kiss .style04 .info-box2 .point-ph img {width: 145px!important;}

}

@media screen and (max-width: 480px) {
}
