/* .pearlygates */
.pearlygates .style01 .ph-box {  }
.pearlygates .style01 .copy { top: 53px !important;
 left: 74px !important; }
.pearlygates .style01 .info-box { top: 251px;
 left: 539px;}
.pearlygates .style01 .ph-txt { margin-top: 15px; }

.pearlygates .style02 .ph-box {  }
.pearlygates .style02 .copy { 
    top: 36px !important;
    right: 104px !important;
}
.pearlygates .style02 .info-box {top: 108px;
 right: 567px;     width: 160px !important;}
.pearlygates .style02 .ph-txt { margin-top: 15px; }

.pearlygates .style03 .ph-box {  }
.pearlygates .style03 .copy { top: 33px !important;
 left: 113px !important; }
.pearlygates .style03 .info-box { top: 233px;
 left: 527px;}
.pearlygates .style03 .ph-txt { margin-top: 15px; }

.pearlygates .style04 .ph-box {  }
.pearlygates .style04 .copy { top: 93px !important;
 right: 109px !important;}
.pearlygates .style04 .info-box {top: 309px;
 left: 97px;}
.pearlygates .style04 .ph-txt { margin-top: 15px; }

.pearlygates .style05 .ph-box {  }
.pearlygates .style05 .copy { top: 59px !important;
 left: 87px !important;}
.pearlygates .style05 .info-box { top: 107px;
 left: 553px;}
.pearlygates .style05 .info-box2 { top: 440px; left: 159px;}
.pearlygates .style05 .ph-txt { margin-top: 15px; }

.pearlygates .style06 .ph-box {  }
.pearlygates .style06 .copy { top: 45px !important;
 left: inherit;
 right: 133px !important;}
.pearlygates .style06 .info-box {    top: 239px;
    right: 471px; }
.pearlygates .style06 .info-box2 { top: 389px; right: 170px; width: 200px !important; }
.pearlygates .style06 .ph-txt { margin-top: 15px; }

.pearlygates .style07 .ph-box {  }
.pearlygates .style07 .copy {top: 89px !important;
 left: 93px !important;}
.pearlygates .style07 .info-box { top: 429px;
 left: 513px;}
.pearlygates .style07 .info-box2 {  top: 440px; left: 159px;}
.pearlygates .style07 .ph-txt { margin-top: 15px; }

.pearlygates .style08 .ph-box {  }
.pearlygates .style08 .copy { top: 35px !important;
 right: 115px !important; }
.pearlygates .style08 .info-box { top: 251px;
 right: 523px; width: 160px !important;}
.pearlygates .style08 .info-box2 { top: 576px; right: 132px; width: 240px !important; }
.pearlygates .style08 .ph-txt { margin-top: 15px; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .pearlygates */
.pearlygates .style01 .ph-box { margin: 0 -35vw 0 5vw; }
.pearlygates .style01 .copy { top: 5vw !important;
 left: 15vw !important;}
.pearlygates .style01 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style01 .ph-txt { margin-top: 0; }

.pearlygates .style02 .ph-box { margin:5vw 0vw 0 -30vw; }
.pearlygates .style02 .copy {    top: 8vw !important;
    right: 12vw !important;}
.pearlygates .style02 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style02 .ph-txt { margin-top: 0; }
.pearlygates .style02 .info-box .point-ph img { width: 145px !important; }

.pearlygates .style03 .ph-box { margin:4vw -30vw 0 0vw; }
.pearlygates .style03 .copy { 
    top: 9vw !important;
    left: 12vw !important;
}
.pearlygates .style03 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style03 .ph-txt { margin-top: 0; }
.pearlygates .style03 .info-box .point-ph img { }

.pearlygates .style04 .ph-box { margin:4vw 0vw 0 -25vw; }
.pearlygates .style04 .copy { top: 20vw !important;
 right: 14vw !important; }
.pearlygates .style04 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style04 .ph-txt { margin-top: 0; }

.pearlygates .style05 .ph-box { margin:5vw -35vw 0 5vw; }
.pearlygates .style05 .copy { top: 8vw !important;
 left: 16vw !important;}
.pearlygates .style05 .info-box { top: inherit; right: inherit; left: inherit;}
.pearlygates .style05 .ph-txt { margin-top: 0; }

.pearlygates .style06 .ph-box { margin:4vw 0vw 0 -25vw; }
.pearlygates .style06 .copy { top: 12vw !important;
 right: 14vw !important; }
.pearlygates .style06 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style06 .ph-txt { margin-top: 0; }
.pearlygates .style06 .info-box .point-ph img {width: inherit!important;}
.pearlygates .style06 .info-box2 .point-ph img {width: 145px !important;}

.pearlygates .style07 .ph-box { margin:5vw -35vw 0 5vw; }
.pearlygates .style07 .copy { top: 15vw !important; left: 16vw !important;}
.pearlygates .style07 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style07 .ph-txt { margin-top: 0; }

.pearlygates .style08 .ph-box { margin:4vw 3vw 0 -33vw; }
.pearlygates .style08 .copy { top: 12vw !important;
 right: 14vw !important;}
.pearlygates .style08 .info-box { top: inherit; right: inherit; left: inherit; width: auto !important;}
.pearlygates .style08 .ph-txt { margin-top: 0; }
.pearlygates .style08 .info-box .point-ph img { width: 145px !important;}
.pearlygates .style08 .info-box2 .point-ph img {width: inherit!important;}
}

@media screen and (max-width: 480px) {
}
