/* main ==================================================================== */
.main {
	margin: 0 auto;
	/*min-width: 1260px;
	max-width: 1400px;*/
	background: url("../img/styecollection2021aw_bg.gif");
	text-align: center;
}
.main h1 {
	margin: 0 0 0;
}

#wrapper  {
}

#contents {
	margin: 0 auto;
	padding: 80px 0;
	min-width: 1260px;
	text-align: center;
	background: #d868ab;
}
#contents .comingsoon {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	padding: 50px;
	width: 1000px;
	font-size: 110px;
	border: 1px solid #d6a236;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.brand-wrap {
	width: 1010px;
	margin: 0 auto;
}
/*.brand-wrap .brand-title {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 75px;
	color: #fff;
}*/

.brand-wrap .brand-title {
	margin-bottom: 50px;
}

.brand-wrap .brand-list {
	overflow: hidden;
	text-align: left;
}
.brand-wrap .brand-list li {
	display: inline-block;
	margin: 0 8px 20px;
	width: 320px;
}
.brand-wrap .brand-list li a {
	background: #fff;
	display: block;
	transition-duration: .3s;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}
.brand-wrap .brand-list li a:hover {
	opacity: 0.8;
}

footer {
	background: #fff;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* main ==================================================================== */
.main {
	margin: 0 auto 0;
	min-width: inherit;
	max-width: inherit;
}
.main h1 {
	margin: 0 0 0;
}

#contents {
	padding: 5vw 4vw;
	min-width: inherit;
	max-width: inherit;
}
#contents .comingsoon {
	padding: 4vw;
	width: auto;
	font-size: 9vw;
	border-radius: 5px;
}

.brand-wrap {
	width: auto;
	margin: 0 auto;
}
/*.brand-wrap .brand-title {
	font-size: 10vw;
}*/

.brand-wrap .brand-title {
	margin:0 auto 5vw;
	width: 75%;
}

.brand-wrap .brand-list {
	overflow: hidden;
	text-align: center;
}
.brand-wrap .brand-list li {
	display: inline-block;
	margin: 0 1vw 2.5vw;
	width: 42vw;
}
.brand-wrap .brand-list li a {
	transition-duration: 0;
}
.brand-wrap .brand-list li a img {
	max-height: 100px;
}
.brand-wrap .brand-list li a:hover {
	opacity: 1;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
}


