body {
	font-family: "游ゴシック", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: 500;
}

img {
	vertical-align:middle;
	max-width:100%;
}

.pcnone{ display:none !important; }
.spnone{ display:inherit !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	margin: 0 auto;
	padding: 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
/*2020aw追加*/
#detail .detail-wrapper{
	padding: 60px 0 0;
}
/*2020aw追加*/
#detail .brand-title01{
}
#detail .brand-title01 .logo{
	margin-bottom: 20px;
}
#detail .brand-title01 .txt {
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: normal;
}

#detail .brand-title01 .txt img{
	display:block;
	width: 771px;
	margin: 0 auto 10px;
}

#detail .brand-copy {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
#detail .brand-lead {
	font-size: 15px;
	margin-bottom: 40px;
}

#detail .detail-wrapper .detail-inner{
	margin: 0 auto;
}

#detail .brand-box01 {
	margin: 0 auto 80px;
	width: 863px;
	text-align: left;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
	z-index: 20;
}


/* --------------------------追記-------------------------- */
#detail .brand-box01 .copy-style {
	background-size: 100% !important;
	font-size: 26px;
	line-height: 1.4;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    padding: 0;
    height: 410px;
	text-orientation: upright;
	width: 70px;
}


#detail .brand-box01 .copy_men .copy-style {
	/*border-left: 10px solid #acd8de;
	padding-left: 20px;*/
}

#detail .brand-box01 .copy_women .copy-style{
	/*border-right: 10px solid #dcafa3;
	padding-right: 20px;*/
}

#detail .brand-box01 .copy_men {
	top: 9px;
    left: 74px;
	right: auto !important;
}

#detail .brand-box01 .copy_men_right {
	left: auto !important;
	right: 70px;
}

#detail .brand-box01 .copy_men_right .copy-style {
	/*border-left:none;
	border-right: 10px solid #acd8de;
	padding-left:0;
	padding-right: 20px;*/
}


#detail .brand-box01 .copy_women {
    top: 0px;
    left: inherit ;
    right: 115px;
}

#detail .brand-box01 .copy_women_left {
	left: 70px;
	right: auto ;
}

#detail .brand-box01 .copy_women_left .copy-style {
	/*border-right:none;
	border-left: 10px solid #dcafa3;
	padding-right:0;
	padding-left: 20px;*/
}

#detail .bg_black {
	margin: 0;
	background: #000;
	padding: 80px 0 0;
	color: #fff;
}

#detail .no_text {
	padding-bottom:0;
}

.text-pink {
	color: #f6bdc0;
}

/* --------------------------追記-------------------------- */
#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
	/* z-index: 10; */
}

@media all and (-ms-high-contrast: none) {
#detail .brand-box01 .ph-box .ph img {
width: 100%;
}
}

#detail .brand-box01 .info-box {
	position: absolute;
	width: 240px;
	/* z-index: 20; */
}
#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}
#detail .brand-box01 .info-box .point-txt {
	margin-top: 15px;
	font-size: 13px;
}

#detail .brand-box01 .info-box .point-ph {
}
.ph-txt {
	position: relative;
	margin: 0 auto;
	width: 580px;
	z-index: 10;
}

/* ボタン */
.btn-box{
	margin: 0 auto;
	width: 80%;
}
a.brand-btn01{
	background: #fff;
	position: relative;
	color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	font-size: 30px;
	border: solid 1px #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*2020aw追加*/
.btn-box{
	width: 100%;
	background: #000;
	padding: 110px 0 50px;
}

a.brand-btn01{
	width: 65%;
}
/*2020aw追加*/

a.brand-btn01:after{
	font-family: "Font Awesome 5 Free";
	content: "\f054";
	font-weight: 900;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -0.56em;
}
a.brand-btn01:hover{
	background: #6c97b1;
}
a.brand-btn01 .logo{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}
a.brand-btn01 .txt{
	font-size: 14px;
	font-weight: bold;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
.pcnone{ display:inherit !important; }
.spnone{ display:none !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	padding: 6vw 0;
	overflow: hidden;
}
/*2020aw追加*/
#detail .detail-wrapper{
	padding: 6vw 0 0;
	overflow: hidden;
}
/*2020aw追加*/

#detail .brand-title01 .logo{
	margin-bottom: 2vw;
	padding: 0 4vw;
}
#detail .brand-title01 .txt {
	margin-bottom: 2.5vw;
	font-size: 15px;
	font-weight: normal;
	padding: 0 4vw;
}
#detail .brand-copy {
	margin-bottom: 2vw;
	font-size: 18px;
	text-align: left;
	padding: 0 4vw;
}
#detail .brand-lead {
	font-size: 15px;
	margin-bottom: 4vw;
	text-align: left;
	padding: 0 4vw;
}

#detail .brand-box01 {
	margin: 0 auto 0;
	width: auto;
	text-align: center;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
}
/* --------------------------追記-------------------------- */
#detail .brand-box01 .copy-style {
	width: 13vw;
	padding: 0;
	font-size: 4.5vw;
	text-align: left;
	height: 70vw;
}

#detail .brand-box01 .copy_men {
    top: 4vw  ;
    left: 4vw  ;
}

#detail .brand-box01 .copy_men .copy-style {
	/*border-left: 7px solid #acd8de;	
	padding-left: 2vw;*/
}

#detail .brand-box01 .copy_men_right {
	left: auto !important;
	right: 4vw  ;
}

#detail .brand-box01 .copy_men_right .copy-style {
	border-left:none;
	/*border-right: 7px solid #acd8de;
	padding-left:0;
	padding-right: 2vw;*/
}

#detail .brand-box01 .copy_women {
    top: 4vw  ;
    right: 4vw ;
	text-align: right;
}

#detail .brand-box01 .copy_women .copy-style{
	/*border-right:7px solid #dcafa3;	
	padding-right: 2vw;*/
}

#detail .brand-box01 .copy_women_left,#detail .brand-box01 .copy_women_left_sp {
	left: 4vw ;
	right: auto;
}

#detail .brand-box01 .copy_women_left .copy-style,#detail .brand-box01 .copy_women_left_sp .copy-style{
	border-right:none;
	/*border-left: 7px solid #dcafa3;
	padding-right:0;
	padding-left: 2vw;*/
}

#detail .bg_black {
	padding: 0 0 0px;
}
/* --------------------------追記-------------------------- */



#detail .brand-box01 {
	border-bottom: dotted 1px #8a8a8a;
	padding-bottom: 4vw;
}

#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
}
#detail .brand-box01 .info-box {
	position: inherit;
	width: auto !important;
	text-align: left;
	/*margin-bottom: 2vw;*/
}

#detail .brand-box01 .info-box2 {
	margin-top: -1vw;
}

#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 1vw;
	font-size: 16px;
	padding: 1vw 4vw 0;
}
#detail .brand-box01 .info-box .point-txt {
	margin-bottom: 0;
	font-size: 14px;
	padding: 0 4vw;
	margin-top: 0;
}
#detail .brand-box01 .info-box .point-ph {
	text-align: center;
	padding: 2vw;
}
#detail .brand-box01 .info-box .point-ph img {
	width: 220px;
}
#detail .brand-box01 .ph-txt {
	width: auto;
	text-align: left;
	padding:2vw 4vw 0;
}

#detail .bg_black .info-box .point-txt {
	margin-top: 1vw !important;
}

/* ボタン */
.btn-box{
	width: 100%;
	margin: 0 4vw;
}
a.brand-btn01{
	padding: 2%;
	font-size: 1.8em;
	width: 80%;
}
a.brand-btn01:after{
	right: 3%;
}
a.brand-btn01 .logo{
	margin-bottom: 1vw;
}
a.brand-btn01 .txt{
	font-size: 14px;
}

/*2020aw追加*/
.btn-box {
	margin: 0;
	padding:6vw 0;
}
/*2020aw追加*/

/*黒背景 影*/
.bg_black .ph::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*box-shadow: inset 0 0 7px 7px black;*/
}

#detail .brand-title01 .txt img {
    margin: 0 auto 2px;
}

}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.spon{ display:inherit !important; }

/* ボタン */
.btn-box{
	width: auto;
}
a.brand-btn01 .logo img{
	height: 12px;
}

}


