/* .callaway */
.callaway .style01 .ph-box {  }
.callaway .style01 .copy { top: 59px !important;
 left: 131px !important;}
.callaway .style01 .info-box { top: 370px;
 left: 521px;}
.callaway .style01 .ph-txt { margin-top:15px; }
.callaway .style01 .item01 { top: -1%; left: 29%; }
.callaway .style01 .item02 { top: 28%; left: 24%; }
.callaway .style01 .item03 { top: 11%; left: 27%; }
.callaway .style01 .item04 { top: 54%; left: 24%; }
.callaway .style01 .item05 { top: 86%; left: 30%; }
.callaway .style01 .item06 { top: 59%; left: 65%; }
.callaway .style01 .item07 { top: 22%; left: 53%; }
.callaway .style01 .item08 { top: 35%; left: 59%; }
.callaway .style01 .item09 { top: 40%; left: 43%; }

.callaway .style02 .ph-box {  }
.callaway .style02 .copy { top: 125px !important;
 right: 123px !important;}
.callaway .style02 .info-box { top: 470px;
 left: 80px;}
.callaway .style02 .ph-txt { margin-top: 15px; }
.callaway .style02 .item01 { top: 11%; left: 51%; }
.callaway .style02 .item02 { top: 24%; left: 67%; }
.callaway .style02 .item03 { top: 23%; left: 50%; }
.callaway .style02 .item04 { top: 54%; left: 47%; }
.callaway .style02 .item05 { top: 82%; left: 50%; }
.callaway .style02 .item06 { top: 87%; left: 61%; }

.callaway .style03 .ph-box {  }
.callaway .style03 .copy { top: 115px !important;
 left: 129px !important;}
.callaway .style03 .info-box { top: 320px;
 left: 560px; width: 160px !important; }
.callaway .style03 .ph-txt { margin-top: -35px; }
.callaway .style03 .item01 { top: -1%; left: 42%; }
.callaway .style03 .item02 { top: 15%; left: 28%; }
.callaway .style03 .item03 { top: 56%; left: 30%; }
.callaway .style03 .item04 { top: 40%; left: 48%; }
.callaway .style03 .item05 { top: 86%; left: 48%; }

.callaway .style04 .ph-box {  }
.callaway .style04 .copy { top: 25px !important;
 right: 110px !important; }
.callaway .style04 .info-box { top: 277px;
 right: 529px;}
.callaway .style04 .ph-txt { margin-top: 15px; }
.callaway .style04 .item01 { top: 0;left: 59%; }
.callaway .style04 .item02 { top: 15%; left: 62%; }
.callaway .style04 .item03 { top: 54%; left: 48%; }
.callaway .style04 .item04 { top: 84%; left: 48%; }
.callaway .style04 .item05 { top: 34%; left: 48%; }
.callaway .style04 .item06 { top: 63%; left: 66%; }
.callaway .style04 .item07 { top: 44%; left: 40%; }
.callaway .style04 .item08 { top: 85%; left: 76%; }

.callaway .style05 .ph-box {  }
.callaway .style05 .copy { top: 180px !important;
 left: 107px !important; }
.callaway .style05 .info-box { top: 433px;
 left: 537px; }
.callaway .style05 .info-box2 { top: 440px; left: 180px; }
.callaway .style05 .ph-txt { margin-top:15px; }
.callaway .style05 .item01 { top: 9%; left: 52%; }
.callaway .style05 .item02 { top: 22%; left: 56%; }
.callaway .style05 .item03 { top: 60%; left: 54%; }
.callaway .style05 .item04 { top: 45%; left: 34%; }
.callaway .style05 .item05 { top: 89%; left: 43%; }

.callaway .style06 .ph-box {  }
.callaway .style06 .copy { top: 33px !important;
 right: 105px !important; }
.callaway .style06 .info-box { top: 515px;
 right: 533px;}
.callaway .style06 .info-box2 { top: 580px; right: 178px; }
.callaway .style06 .ph-txt { margin-top: 15px; }
.callaway .style06 .item01 { top: -1%; left: 59%; }
.callaway .style06 .item02 { top: 16%; left: 44%; }
.callaway .style06 .item03 { top: 46%; left: 42%; }
.callaway .style06 .item04 { top: 77%; left: 66%; }
.callaway .style06 .item05 { top: 38%; left: 59%; }
.callaway .style06 .item06 { top: 87%; left: 50%; }

.callaway .style07 .ph-box {  }
.callaway .style07 .copy { top: 55px !important;
 left: 137px !important; }
.callaway .style07 .info-box { top: 415px;
 left: 515px;}
.callaway .style07 .info-box2 { top: 440px; left: 180px; }
.callaway .style07 .ph-txt { margin-top:15px; }
.callaway .style07 .item01 { top: 11%; left: 44%; }
.callaway .style07 .item02 { top: 19%; left: 26%; }
.callaway .style07 .item03 { top: 52%; left: 54%; }
.callaway .style07 .item04 { top: 53%; left: 33%; }
.callaway .style07 .item05 { top: 22%; left: 52.5%; }
.callaway .style07 .item06 { top: 79%; left: 41%; }
.callaway .style07 .item07 { top: 70%; left: 16%; }

.callaway .style08 .ph-box {  }
.callaway .style08 .copy { top: 125px !important;
 right: 113px !important;}
.callaway .style08 .info-box { top: 241px;
 right: 529px;}
.callaway .style08 .info-box2 { top: 570px; right: 126px;}
.callaway .style08 .ph-txt { margin-top: 15px; }
.callaway .style08 .item01 { top: -2%; left: 50%; }
.callaway .style08 .item02 { top: 42%; left: 67%; }
.callaway .style08 .item03 { top: 26%; left: 46%; }
.callaway .style08 .item04 { top: 61%; left: 32%; }
.callaway .style08 .item05 { top: 81%; left: 73%; }
.callaway .style08 .item06 { top: 86%; left: 51%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .callaway */
.callaway .style01 .ph-box { margin:0 -30vw 0 5vw; }
.callaway .style01 .copy { top: 11vw !important;
 left: 20vw !important;}
.callaway .style01 .info-box { top: inherit; left: inherit; }
.callaway .style01 .ph-txt { margin-top: 0; }

.callaway .style02 .ph-box { margin:5vw -13vw 0 -17vw; }
.callaway .style02 .copy { top: 21vw !important;
 right: 11vw !important; }
.callaway .style02 .info-box { top: inherit; left: inherit; }
.callaway .style02 .ph-txt { margin-top: 0; }

.callaway .style03 .ph-box { margin:5vw -25vw -8vw -5vw; }
.callaway .style03 .copy { top: 20vw !important;
 left: 13vw !important;}
.callaway .style03 .info-box { top: inherit; left: inherit; }
.callaway .style03 .info-box img{ width: 140px !important;}
.callaway .style03 .ph-txt { margin-top: 0; }

.callaway .style04 .ph-box { margin:5vw 0vw 0 -30vw; }
.callaway .style04 .copy { top: 8vw !important;
 right: 13vw !important; }
.callaway .style04 .info-box { top: inherit; right: inherit; }
.callaway .style04 .ph-txt { margin-top: 0; }
.callaway .style04 .info-box .point-ph img { }

.callaway .style05 .ph-box { margin:5vw -35vw 0 5vw; }
.callaway .style05 .copy { top: 34vw !important;
 left: 15vw !important; }
.callaway .style05 .info-box,.callaway .style05 .info-box2 { top: inherit; left: inherit; right: inherit;}
.callaway .style05 .ph-txt { margin-top: 0; }

.callaway .style06 .ph-box { margin:5vw 0vw 0 -30vw; }
.callaway .style06 .copy { top: 10vw !important;
 right: 11vw !important; }
.callaway .style06 .info-box,.callaway .style06 .info-box2 { top: inherit; left: inherit; right: inherit; width: auto!important;}
.callaway .style06 .ph-txt { margin-top: 0; }
.callaway .style06 .info-box .point-ph img {}
.callaway .style06 .info-box2 .point-ph img {width:inherit!important;}

.callaway .style07 .ph-box { margin:5vw -35vw 0 5vw; }
.callaway .style07 .copy { top: 13vw !important;
 left: 18vw !important; }
.callaway .style07 .info-box,.callaway .style07 .info-box2 { top: inherit; right: inherit; left: inherit;}
.callaway .style07 .ph-txt { margin-top: 0; }

.callaway .style08 .ph-box { margin:5vw 0vw 0 -30vw; }
.callaway .style08 .copy { top: 27vw !important;
 right: 14vw !important; }
.callaway .style08 .info-box,.callaway .style08 .info-box2 { top: inherit; left: inherit; right: inherit; width: auto!important;}
.callaway .style08 .ph-txt { margin-top: 0; }
.callaway .style08 .info-box .point-ph img {}
.callaway .style08 .info-box2 .point-ph img {width:inherit!important;}

}

@media screen and (max-width: 480px) {
}
