/* .rands */
.rands .style01 .ph-box {  }
.rands .style01 .copy { top: 57px !important;
 left: 131px !important;}
.rands .style01 .info-box { top: 240px;
 left: 523px;}
.rands .style01 .ph-txt { margin-top: 15px; }
.rands .style01 .item01 { top: %; left: %; }
.rands .style01 .item02 { top: %; left: %; }
.rands .style01 .item03 { top: %; left: %; }
.rands .style01 .item04 { top: %; left: %; }
.rands .style01 .item05 { top: %; left: %; }

.rands .style02 .ph-box {  }
.rands .style02 .copy { top: 57px !important;
 left: 685px !important;}
.rands .style02 .info-box { top: 251px;
 left: 87px;}
.rands .style02 .ph-txt { margin-top: 15px; }
.rands .style02 .item01 { top: %; left: %; }
.rands .style02 .item02 { top: %; left: %; }
.rands .style02 .item03 { top: %; left: %; }
.rands .style02 .item04 { top: %; left: %; }
.rands .style02 .item05 { top: %; left: %; }

.rands .style03 .ph-box {  }
.rands .style03 .copy { 
 top: 50px !important;
 left: 130px !important;
}
.rands .style03 .info-box { top: 193px;
 left: 543px; }
.rands .style03 .info-box2 { top: 440px; left: 155px; }
.rands .style03 .ph-txt { margin-top: 15px; }
.rands .style03 .item01 { top: %; left: %; }
.rands .style03 .item02 { top: %; left: %; }
.rands .style03 .item03 { top: %; left: %; }
.rands .style03 .item04 { top: %; left: %; }
.rands .style03 .item05 { top: %; left: %; }

.rands .style04 .ph-box {  }
.rands .style04 .copy { 
 top: 25px !important;
 left: 698px !important;
}
.rands .style04 .info-box { 
 top: 295px;
 right: 520px;
}
.rands .style04 .info-box2 { top: 426px; right: 95px;}
.rands .style04 .ph-txt {margin-top: 15px; }
.rands .style04 .item01 { top: %; left: %; }
.rands .style04 .item02 { top: %; left: %; }
.rands .style04 .item03 { top: %; left: %; }
.rands .style04 .item04 { top: %; left: %; }
.rands .style04 .item05 { top: %; left: %; }

.rands .style05 .ph-box {  }
.rands .style05 .copy { top: 60px !important;
 left: 100px !important;
 }
.rands .style05 .info-box { top: 255px;
 right: 84px; }
.rands .style05 .info-box2 { top: 426px; right: 95px;}
.rands .style05 .ph-txt {margin-top: 15px; }
.rands .style05 .item01 { top: %; left: %; }
.rands .style05 .item02 { top: %; left: %; }
.rands .style05 .item03 { top: %; left: %; }
.rands .style05 .item04 { top: %; left: %; }
.rands .style05 .item05 { top: %; left: %; }

.rands .style06 .ph-box {  }
.rands .style06 .copy { top}
.rands .style06 .info-box { top: 365px !important;
 right: 520px !important;}
.rands .style06 .info-box2 { top: 426px; right: 95px;}
.rands .style06 .ph-txt {margin-top: 15px; }
.rands .style06 .item01 { top: %; left: %; }
.rands .style06 .item02 { top: %; left: %; }
.rands .style06 .item03 { top: %; left: %; }
.rands .style06 .item04 { top: %; left: %; }
.rands .style06.item05 { top: %; left: %; }

.rands .style07 .ph-box {  }
.rands .style07 .copy { top: 77px !important;
 left: 108px !important;
}
.rands .style07 .info-box { top: 385px;
 right: 65px;}
.rands .style07 .info-box2 { top: 426px; right: 95px;}
.rands .style07 .ph-txt {margin-top: 15px; }
.rands .style07 .item01 { top: %; left: %; }
.rands .style07 .item02 { top: %; left: %; }
.rands .style07 .item03 { top: %; left: %; }
.rands .style07 .item04 { top: %; left: %; }
.rands .style07 .item05 { top: %; left: %; }

.rands .style08 .ph-box {  }
.rands .style08 .copy { top: 225px !important;
 right: 105px !important; }
.rands .style08 .info-box { top: 190px;
 right: 538px;}
.rands .style08 .info-box2 { top: 426px; right: 95px;}
.rands .style08 .ph-txt {margin-top: 15px; }
.rands .style08 .item01 { top: %; left: %; }
.rands .style08 .item02 { top: %; left: %; }
.rands .style08 .item03 { top: %; left: %; }
.rands .style08 .item04 { top: %; left: %; }
.rands .style08 .item05 { top: %; left: %; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* .rands */
.rands .style01 .ph-box { margin:0px -30vw 0 0vw; }
.rands .style01 .copy { 
 top: 6vw !important;
 left: 16vw !important;
 }
.rands .style01 .info-box { top: inherit; left: inherit; }
.rands .style01 .ph-txt { margin-top: 0; }

.rands .style02 .ph-box { margin:5vw -5vw 0 -25vw; }
.rands .style02 .copy { 
 top: 16vw !important;
 left: 74vw !important; }
.rands .style02 .info-box { top: inherit; left: inherit; }
.rands .style02 .ph-txt { margin-top: 0; }

.rands .style03 .ph-box { margin:5vw -28vw 0 -2vw; }
.rands .style03 .copy { top: 13vw !important;
 left: 18vw !important;}
.rands .style03 .info-box { top: inherit; left: inherit; }
.rands .style03 .ph-txt { margin-top: 0; }

.rands .style04 .ph-box { margin:5vw 0vw 0 -30vw; }
.rands .style04 .copy { top: 13vw !important;
 left: 72vw !important;}
.rands .style04 .info-box { top: inherit; right: inherit; }
.rands .style04 .info-box2 {margin-bottom: 0 !important;}
.rands .style04 .ph-txt { margin-top: 0; }

.rands .style05 .ph-box { margin:5vw -30vw 0 0vw; }
.rands .style05 .copy { top: 13vw !important;
 left: 15vw !important;}
.rands .style05 .info-box { top: inherit; right: inherit; }
.rands .style05 .info-box2 {margin-bottom: 0 !important;}
.rands .style05 .ph-txt { margin-top: 0; }

.rands .style06 .ph-box { margin:5vw 0vw 0 -30vw; }
.rands .style06 .copy { top: 19vw !important;
 right: 15vw !important;
 }
.rands .style06 .info-box { top: inherit !important; right: inherit !important; }
.rands .style06 .info-box2 {margin-bottom: 0 !important;}
.rands .style06 .ph-txt { margin-top: 0; }

.rands .style07 .ph-box { margin:0 -25vw 0 0vw; }
.rands .style07 .copy { 
 top: 5vw !important;
 left: 13vw !important;
}
.rands .style07 .info-box { top: inherit; right: inherit; }
.rands .style07 .info-box2 {margin-bottom: 0 !important;}
.rands .style07 .ph-txt { margin-top: 0; }

.rands .style08 .ph-box { margin:5vw 0vw 0 -30vw; }
.rands .style08 .copy { top: 42vw !important;
 right: 12vw !important;
 }
.rands .style08 .info-box { top: inherit; right: inherit; }
.rands .style08 .info-box2 {margin-bottom: 0 !important;}
.rands .style08 .ph-txt { margin-top: 0; }


}

@media screen and (max-width: 480px) {
}
