/* and per se */
.admiralgolf .style01 .ph-box {  }
.admiralgolf .style01 .copy {}
.admiralgolf .style01 .info-box { top: 173px; left: 564px; }
.admiralgolf .style01 .ph-txt { margin-top: 15px; }
.admiralgolf .style01 .item01 { top: -2.5%; left: 27.8%;}
.admiralgolf .style01 .item02 { top: 16%; left: 43%; }
.admiralgolf .style01 .item03 { top: 57%; left: 19%;}
.admiralgolf .style01 .item04 { top: 40%; left: 20%; }
.admiralgolf .style01 .item05 { top: 86%; left: 34%;}
.admiralgolf .style01 .item06 { top: 65%; left: 61.5%;}
.admiralgolf .style01 .item07 { top: 33%; left: 57%;}
.admiralgolf .style01 .item08 { top: 43%; left: 43%;}
.admiralgolf .style01 .item09 { top: 43%; left: 54%;}
.admiralgolf .style01 .item10 { top: 29%; left: 49%;}

.admiralgolf .style02 .ph-box {  }
.admiralgolf .style02 .copy {}
.admiralgolf .style02 .info-box { top: 318px; left: 84px;}
.admiralgolf .style02 .ph-txt { margin-top: 15px; }
.admiralgolf .style02 .item01 { top: -2%; left: 51%;}
.admiralgolf .style02 .item02 { top: 11.5%; left: 41%;}
.admiralgolf .style02 .item03 { top: 51.5%; left: 40.8%; }
.admiralgolf .style02 .item04 { top: 36%; left: 45%;}
.admiralgolf .style02 .item05 { top: 85%; left: 51%;}
.admiralgolf .style02 .item06 { top: 89%; left: 30%; }
.admiralgolf .style02 .item07 { top: 55%; left: 67%; }
.admiralgolf .style02 .item08 { top: 38%; left: 70%; }
.admiralgolf .style02 .item09 { top: 33%;
 left: 84%; }
.admiralgolf .style02 .item10 { top: 46%;
 left: 84%;}
.admiralgolf .style02 .item11 { top: 30%;
 left: 62%;}

.admiralgolf .style03 .ph-box {  }
.admiralgolf .style03 .copy { top: 62px !important; left:106px !important; }
.admiralgolf .style03 .info-box { top: 195px; left: 541px;}
.admiralgolf .style03 .ph-txt { margin-top: 15px; }
.admiralgolf .style03 .item01 { top: -2%;
 left: 43%; }
.admiralgolf .style03 .item02 { top: 19%;
 left: 32%; }
.admiralgolf .style03 .item03 { top: 19%;
 left: 52%;}
.admiralgolf .style03 .item04 { top: 61%;
 left: 42%;}
.admiralgolf .style03 .item05 { top: 52%;
 left: 30%;}
.admiralgolf .style03 .item06 { top: 86%;
 left: 23%;}
.admiralgolf .style03 .item07 { top: 93%;
 left: 45%;}
.admiralgolf .style03 .item08 { top: 67%;
 left: 19%;}
.admiralgolf .style03 .item09 { top: 34%;
 left: 21%;}
.admiralgolf .style03 .item10 { top: 36%;
 left: 38%;}

.admiralgolf .style04 .ph-box {  }
.admiralgolf .style04 .copy { top: 214px !important; right: 80px !important; }
.admiralgolf .style04 .info-box { top: 63px; left: 99px;}
.admiralgolf .style04 .ph-txt { margin-top: 15px; }
.admiralgolf .style04 .item01 { top: 0%;
 left: 60.5%;}
.admiralgolf .style04 .item02 { top: 13%;
 left: 52%;}
.admiralgolf .style04 .item03 { top: 12.5%;
 left: 72%;}
.admiralgolf .style04 .item04 { top: 58%;
 left: 60.4%; }
.admiralgolf .style04 .item05 { top: 84.8%;
 left: 64%;}
.admiralgolf .style04 .item06 { top: 89.8%;
 left: 80%; }
.admiralgolf .style04 .item07 { top: 56.8%;
 left: 31%;}
.admiralgolf .style04 .item08 { top: 33.8%;
 left: 38%; }
.admiralgolf .style04 .item09 { top: 42.8%;
 left: 32%;}
.admiralgolf .style04 .item10 {
 top: 44.8%;
 left: 52%;
}
.admiralgolf .style04 .item11 { top: 25.8%;
 left: 47%;}

.admiralgolf .style05 .ph-box {  }
.admiralgolf .style05 .copy { top: 100px !important; left: 86px !important; }
.admiralgolf .style05 .info-box { top: 247px; left: 531px;}
.admiralgolf .style05 .info-box2 { top: 460px; left: 179px; }
.admiralgolf .style05 .ph-txt { margin-top: 15px; }
.admiralgolf .style05 .item01 { top: 0%;
 left: 43%;}
.admiralgolf .style05 .item02 { top: 17%;
 left: 49%;}
.admiralgolf .style05 .item03 { top: 57%;
 left: 25%; }
.admiralgolf .style05 .item04 { top: 85%;
 left: 39%; }
.admiralgolf .style05 .item05 { top: 90%;
 left: 23%;}
.admiralgolf .style05 .item06 { top: 74%;
 left: 61%; }
.admiralgolf .style05 .item07 { top: 54%; left: 27%; display: none;}
.admiralgolf .style05 .item08 { top: 54%; left: 27%; display: none;}
.admiralgolf .style05 .item09 { display: none;}

.admiralgolf .style06 .ph-box {  }
.admiralgolf .style06 .copy { top: 100px !important; right: 129px !important;}
.admiralgolf .style06 .info-box { width:160px !important; top: 304px; right:560px;}
.admiralgolf .style06 .info-box2 { top: 545px; right: 132px; }
.admiralgolf .style06 .ph-txt { margin-top: 15px; }
.admiralgolf .style06 .item01 { top: 0;
 left: 55.5%;}
.admiralgolf .style06 .item02 { top: 12%;
 left: 62%;}
.admiralgolf .style06 .item03 { top: 45.7%;
 left: 41.8%;}
.admiralgolf .style06 .item04 { top: 31%;
 left: 45%; }
.admiralgolf .style06 .item05 { top: 80%;
 left: 57%;}
.admiralgolf .style06 .item06 { top: 92%;
 left: 46%;}
.admiralgolf .style06 .item07 { top: 64%;
 left: 66%;}
.admiralgolf .style06 .item08 { top: 43%; left: 63%; }
.admiralgolf .style06 .item09 { top: 43%; left: 63%; }
.admiralgolf .style06 .item10 { top: 43%; left: 63%; }
.admiralgolf .style06 .item11 { top: 43%; left: 63%; }

.admiralgolf .style07 .ph-box {  }
.admiralgolf .style07 .copy { top: 87px !important; left: 131px !important;}
.admiralgolf .style07 .info-box { top: 445px; left: 506px;}
.admiralgolf .style07 .info-box2 { top: 460px; left: 179px; }
.admiralgolf .style07 .ph-txt { margin-top: 15px; }
.admiralgolf .style07 .item01 { top: -1.8%;
 left: 38.7%;}
.admiralgolf .style07 .item02 { top: 20%;
 left: 53.5%;}
.admiralgolf .style07 .item03 { top: 56.5%;
 left: 29%;}
.admiralgolf .style07 .item04 { top: 42%;
 left: 49%;}
.admiralgolf .style07 .item05 { top: 85%;
 left: 37%;}
.admiralgolf .style07 .item06 { top: 90%;
 left: 22%;}
.admiralgolf .style07 .item07 { top: 38%;
 left: 32%;}
.admiralgolf .style07 .item08 { top: 31%;
 left: 46%;}

.admiralgolf .style08 .ph-box {  }
.admiralgolf .style08 .copy { top: 125px !important; right: 95px !important;}
.admiralgolf .style08 .info-box { top: 250px; right: 521px;}
.admiralgolf .style08 .info-box2 { top: 545px; right: 132px; }
.admiralgolf .style08 .ph-txt { margin-top: 15px; }
.admiralgolf .style08 .item01 { top: 0.5%;
 left: 51%;}
.admiralgolf .style08 .item02 { top: 42%;
 left: 48%;}
.admiralgolf .style08 .item03 { top: 85%;
 left: 47.5%;}
.admiralgolf .style08 .item04 { top: 91.5%;
 left: 63%;}
.admiralgolf .style08 .item05 { top: 54.5%;
 left: 73.7%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.admiralgolf .style01 .ph-box { margin:5vw -28vw 0 2vw; }
.admiralgolf .style01 .copy { top: 4vw; left: 4vw; }
.admiralgolf .style01 .info-box { top: inherit; left: inherit; }
.admiralgolf .style01 .ph-txt { margin-top: 0; }

.admiralgolf .style02 .ph-box { margin:6vw 8vw 0 -32vw; }
.admiralgolf .style02 .copy { top: 4vw; right: 9vw; }
.admiralgolf .style02 .info-box { top: inherit; left: inherit; }
.admiralgolf .style02 .ph-txt { margin-top: 0; }
.admiralgolf .style02 .info-box .point-ph img {  }

.admiralgolf .style03 .ph-box { margin:5vw -28vw 0 2vw; }
.admiralgolf .style03 .copy { top: 4vw; left: 7vw; }
.admiralgolf .style03 .info-box { top: inherit; left: inherit; }
.admiralgolf .style03 .ph-txt { margin-top: 0; }

.admiralgolf .style04 .ph-box { margin:6vw 3vw 0 -27vw; }
.admiralgolf .style04 .copy { top: 4vw; right: 6vw; }
.admiralgolf .style04 .info-box { top: inherit; left: inherit; }
.admiralgolf .style04 .ph-txt { margin-top: 0; }

.admiralgolf .style05 .ph-box { margin: 5vw -28vw 0 2vw; }
.admiralgolf .style05 .copy { top: 4vw; left: 3vw; }
.admiralgolf .style05 .info-box,.admiralgolf .style05 .info-box2 { top: inherit; left: inherit; }
.admiralgolf .style05 .ph-txt { margin-top: 0; }

.admiralgolf .style06 .ph-box { margin:6vw -6vw 0 -24vw; }
.admiralgolf .style06 .copy { top: 4vw; right: 7.5vw; }
.admiralgolf .style06 .info-box,.admiralgolf .style06 .info-box2 { top: inherit; right: inherit; }
.admiralgolf .style06 .ph-txt { margin-top: 0; }
.admiralgolf .style06 .info-box .point-ph img {width: 145px !important;}
.admiralgolf .style06 .info-box2 .point-ph img {width:inherit!important;}

.admiralgolf .style07 .ph-box { margin:5vw -28vw 0 2vw; }
.admiralgolf .style07 .copy { top: 4vw; left: 7vw; }
.admiralgolf .style07 .info-box,.admiralgolf .style07 .info-box2 { top: inherit; left: inherit; }
.admiralgolf .style07 .ph-txt { margin-top: 0; }

.admiralgolf .style08 .ph-box { margin:6vw 2vw 0 -32vw; }
.admiralgolf .style08 .copy { top: 4vw; right: 9.5vw; }
.admiralgolf .style08 .info-box,.admiralgolf .style08 .info-box2 { top: inherit; right: inherit; }
.admiralgolf .style08 .ph-txt { margin-top: 0; }
.admiralgolf .style08 .info-box .point-ph img { }
.admiralgolf .style08 .info-box2 .point-ph img {width:inherit!important;}
}

@media screen and (max-width: 480px) {
}
