/* and per se */
.sy32 .style01 .ph-box {  }
.sy32 .style01 .copy { top: 41px !important;
 left: 106px !important;}
.sy32 .style01 .info-box { top: 282px; left: 564px; width: 160px !important;}
.sy32 .style01 .ph-txt { margin-top: 15px; }
.sy32 .style01 .item01 { top: -2.5%; left: 27.8%;}
.sy32 .style01 .item02 { top: 16%; left: 43%; }
.sy32 .style01 .item03 { top: 57%; left: 19%;}
.sy32 .style01 .item04 { top: 40%; left: 20%; }
.sy32 .style01 .item05 { top: 86%; left: 34%;}
.sy32 .style01 .item06 { top: 65%; left: 61.5%;}
.sy32 .style01 .item07 { top: 33%; left: 57%;}
.sy32 .style01 .item08 { top: 43%; left: 43%;}
.sy32 .style01 .item09 { top: 43%; left: 54%;}
.sy32 .style01 .item10 { top: 29%; left: 49%;}

.sy32 .style02 .ph-box {  }
.sy32 .style02 .copy {top: 67px !important;
 right: 673px !important;}
.sy32 .style02 .info-box { top: 215px;
 left: 515px;}
.sy32 .style02 .ph-txt { margin-top: 15px; }
.sy32 .style02 .item01 { top: -2%; left: 51%;}
.sy32 .style02 .item02 { top: 11.5%; left: 41%;}
.sy32 .style02 .item03 { top: 51.5%; left: 40.8%; }
.sy32 .style02 .item04 { top: 36%; left: 45%;}
.sy32 .style02 .item05 { top: 85%; left: 51%;}
.sy32 .style02 .item06 { top: 89%; left: 30%; }
.sy32 .style02 .item07 { top: 55%; left: 67%; }
.sy32 .style02 .item08 { top: 38%; left: 70%; }
.sy32 .style02 .item09 { top: 33%;
 left: 84%; }
.sy32 .style02 .item10 { top: 46%;
 left: 84%;}
.sy32 .style02 .item11 { top: 30%;
 left: 62%;}

.sy32 .style03 .ph-box {  }
.sy32 .style03 .copy { top: 22px !important;
 left: 98px !important;}
.sy32 .style03 .info-box { top: 380px;
 left: 534px;}
.sy32 .style03 .ph-txt { margin-top: 15px; }
.sy32 .style03 .item01 { top: -2%;
 left: 43%; }
.sy32 .style03 .item02 { top: 19%;
 left: 32%; }
.sy32 .style03 .item03 { top: 19%;
 left: 52%;}
.sy32 .style03 .item04 { top: 61%;
 left: 42%;}
.sy32 .style03 .item05 { top: 52%;
 left: 30%;}
.sy32 .style03 .item06 { top: 86%;
 left: 23%;}
.sy32 .style03 .item07 { top: 93%;
 left: 45%;}
.sy32 .style03 .item08 { top: 67%;
 left: 19%;}
.sy32 .style03 .item09 { top: 34%;
 left: 21%;}
.sy32 .style03 .item10 { top: 36%;
 left: 38%;}

.sy32 .style04 .ph-box {  }
.sy32 .style04 .copy { right: 673px !important;
 top: 42px !important;}
.sy32 .style04 .info-box { top: 304px;
 left: 510px;}
.sy32 .style04 .ph-txt { margin-top: 15px; }
.sy32 .style04 .item01 { top: 0%;
 left: 60.5%;}
.sy32 .style04 .item02 { top: 13%;
 left: 52%;}
.sy32 .style04 .item03 { top: 12.5%;
 left: 72%;}
.sy32 .style04 .item04 { top: 58%;
 left: 60.4%; }
.sy32 .style04 .item05 { top: 84.8%;
 left: 64%;}
.sy32 .style04 .item06 { top: 89.8%;
 left: 80%; }
.sy32 .style04 .item07 { top: 56.8%;
 left: 31%;}
.sy32 .style04 .item08 { top: 33.8%;
 left: 38%; }
.sy32 .style04 .item09 { top: 42.8%;
 left: 32%;}
.sy32 .style04 .item10 {
 top: 44.8%;
 left: 52%;
}
.sy32 .style04 .item11 { top: 25.8%;
 left: 47%;}

.sy32 .style05 .ph-box {  }
.sy32 .style05 .copy { top: 100px !important; left: 86px !important; }
.sy32 .style05 .info-box { top: 247px; left: 531px;}
.sy32 .style05 .info-box2 { top: 460px; left: 179px; }
.sy32 .style05 .ph-txt { margin-top: 15px; }
.sy32 .style05 .item01 { top: 0%;
 left: 43%;}
.sy32 .style05 .item02 { top: 17%;
 left: 49%;}
.sy32 .style05 .item03 { top: 57%;
 left: 25%; }
.sy32 .style05 .item04 { top: 85%;
 left: 39%; }
.sy32 .style05 .item05 { top: 90%;
 left: 23%;}
.sy32 .style05 .item06 { top: 74%;
 left: 61%; }
.sy32 .style05 .item07 { top: 54%; left: 27%; display: none;}
.sy32 .style05 .item08 { top: 54%; left: 27%; display: none;}
.sy32 .style05 .item09 { display: none;}

.sy32 .style06 .ph-box {  }
.sy32 .style06 .copy { top: 100px !important; right: 129px !important;}
.sy32 .style06 .info-box { width:160px !important; top: 304px; right:560px;}
.sy32 .style06 .info-box2 { top: 545px; right: 132px; }
.sy32 .style06 .ph-txt { margin-top: 15px; }
.sy32 .style06 .item01 { top: 0;
 left: 55.5%;}
.sy32 .style06 .item02 { top: 12%;
 left: 62%;}
.sy32 .style06 .item03 { top: 45.7%;
 left: 41.8%;}
.sy32 .style06 .item04 { top: 31%;
 left: 45%; }
.sy32 .style06 .item05 { top: 80%;
 left: 57%;}
.sy32 .style06 .item06 { top: 92%;
 left: 46%;}
.sy32 .style06 .item07 { top: 64%;
 left: 66%;}
.sy32 .style06 .item08 { top: 43%; left: 63%; }
.sy32 .style06 .item09 { top: 43%; left: 63%; }
.sy32 .style06 .item10 { top: 43%; left: 63%; }
.sy32 .style06 .item11 { top: 43%; left: 63%; }

.sy32 .style07 .ph-box {  }
.sy32 .style07 .copy { top: 87px !important; left: 131px !important;}
.sy32 .style07 .info-box { top: 445px; left: 506px;}
.sy32 .style07 .info-box2 { top: 460px; left: 179px; }
.sy32 .style07 .ph-txt { margin-top: 15px; }
.sy32 .style07 .item01 { top: -1.8%;
 left: 38.7%;}
.sy32 .style07 .item02 { top: 20%;
 left: 53.5%;}
.sy32 .style07 .item03 { top: 56.5%;
 left: 29%;}
.sy32 .style07 .item04 { top: 42%;
 left: 49%;}
.sy32 .style07 .item05 { top: 85%;
 left: 37%;}
.sy32 .style07 .item06 { top: 90%;
 left: 22%;}
.sy32 .style07 .item07 { top: 38%;
 left: 32%;}
.sy32 .style07 .item08 { top: 31%;
 left: 46%;}

.sy32 .style08 .ph-box {  }
.sy32 .style08 .copy { top: 125px !important; right: 95px !important;}
.sy32 .style08 .info-box { top: 250px; right: 521px;}
.sy32 .style08 .info-box2 { top: 545px; right: 132px; }
.sy32 .style08 .ph-txt { margin-top: 15px; }
.sy32 .style08 .item01 { top: 0.5%;
 left: 51%;}
.sy32 .style08 .item02 { top: 42%;
 left: 48%;}
.sy32 .style08 .item03 { top: 85%;
 left: 47.5%;}
.sy32 .style08 .item04 { top: 91.5%;
 left: 63%;}
.sy32 .style08 .item05 { top: 54.5%;
 left: 73.7%; }

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.sy32 .style01 .ph-box { margin:0 -28vw 0 2vw; }
.sy32 .style01 .copy { top: 7vw !important;
 left: 14vw !important;}
.sy32 .style01 .info-box { top: inherit; left: inherit; }
.sy32 .style01 .info-box img {width: 140px !important;}
.sy32 .style01 .ph-txt { margin-top: 0; }

.sy32 .style02 .ph-box { margin:6vw -33vw 0 3vw; }
.sy32 .style02 .copy { top: 14vw !important;
 right: 71vw !important;}
.sy32 .style02 .info-box { top: inherit; left: inherit; }
.sy32 .style02 .ph-txt { margin-top: 0; }
.sy32 .style02 .info-box .point-ph img {  }

.sy32 .style03 .ph-box { margin:5vw -35vw 0 5vw; }
.sy32 .style03 .copy { top: 9vw!important;
 left: 14vw !important; }
.sy32 .style03 .info-box { top: inherit; left: inherit; }
.sy32 .style03 .ph-txt { margin-top: 0; }

.sy32 .style04 .ph-box { margin:6vw -30vw 0 0vw; }
.sy32 .style04 .copy { right: 73vw !important;
 top: 13vw!important; }
.sy32 .style04 .info-box { top: inherit; left: inherit; }
.sy32 .style04 .ph-txt { margin-top: 0; }

.sy32 .style05 .ph-box { margin: 5vw -28vw 0 2vw; }
.sy32 .style05 .copy { top: 4vw; left: 3vw; }
.sy32 .style05 .info-box,.sy32 .style05 .info-box2 { top: inherit; left: inherit; }
.sy32 .style05 .ph-txt { margin-top: 0; }

.sy32 .style06 .ph-box { margin:6vw -6vw 0 -24vw; }
.sy32 .style06 .copy { top: 4vw; right: 7.5vw; }
.sy32 .style06 .info-box,.sy32 .style06 .info-box2 { top: inherit; right: inherit; }
.sy32 .style06 .ph-txt { margin-top: 0; }
.sy32 .style06 .info-box .point-ph img {width: 145px !important;}
.sy32 .style06 .info-box2 .point-ph img {width:inherit!important;}

.sy32 .style07 .ph-box { margin:5vw -28vw 0 2vw; }
.sy32 .style07 .copy { top: 4vw; left: 7vw; }
.sy32 .style07 .info-box,.sy32 .style07 .info-box2 { top: inherit; left: inherit; }
.sy32 .style07 .ph-txt { margin-top: 0; }

.sy32 .style08 .ph-box { margin:6vw 2vw 0 -32vw; }
.sy32 .style08 .copy { top: 4vw; right: 9.5vw; }
.sy32 .style08 .info-box,.sy32 .style08 .info-box2 { top: inherit; right: inherit; }
.sy32 .style08 .ph-txt { margin-top: 0; }
.sy32 .style08 .info-box .point-ph img { }
.sy32 .style08 .info-box2 .point-ph img {width:inherit!important;}
}

@media screen and (max-width: 480px) {
}
