/* main */
.main {
	width: 1400px;
	margin: 0 auto;
	padding: 50px 30px 60px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main .main-title {
	margin-bottom: 30px;
}
.main .main-lead {
	margin-bottom: 30px;
	font-size: 15px;
}
.main .main-info01 {
	display: inline-block;
	font-size: 15px;
	padding: 8px 20px;
	border: solid 1px #ba9b8c;
	border-radius: 30px;
}

.nav-box {
	width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.nav-box ul {
}
.nav-box li {
	display: inline-block;
	margin: 0;
}

/* footer */
footer {
	width: 1400px;
	margin: 0 auto;
	padding: 50px 20px;
	text-align: center;
}
footer .finfo01 {
	margin-bottom: 50px;
	font-size: 14px;
}
footer .copyright {
	font-size: 14px;
}


/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* main */
.main {
	width: auto;
	padding: 5% 4% 6%;
}
.main .main-title {
	margin-bottom: 3%;
}
.main .main-lead {
	margin-bottom: 3%;
	font-size: 14px;
	text-align: left;
}
.main .main-info01 {
	display: inline-block;
	font-size: 14px;
	padding: 1% 2%;
	border-radius: 30px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-box {
	width: auto;
}
.nav-box ul {
}
.nav-box li {
	display: inline-block;
	margin: 0;
	width: 30%;
}
.nav-box li:nth-child(1) {width: 40%;}
.nav-box li:nth-child(2) {width: 23%;}
.nav-box li:nth-child(3) {width: 31%;}
.nav-box li:nth-child(4) {width: 27%;}
.nav-box li:nth-child(5) {width: 32.1%;}

/* footer */
footer {
	width: auto;
	padding: 5% 3%;
}
footer .finfo01 {
	margin-bottom: 5%;
	font-size: 13px;
	text-align: left;
}
footer .copyright {
	font-size: 12px;
}
}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
}


