/* and per se */
.aps .style01 .ph-box { margin: 0 0 0 251px; }
.aps .style01 .copy { top: 392px; left: 658px; }
.aps .style01 .info-box { top: 141px; left: 56px; }
.aps .style01 .item01 { position: absolute; top: -6%; left: 20%; }
.aps .style01 .item02 { position: absolute; top: 10.5%; right: 21.5%; }
.aps .style01 .item03 { position: absolute; top: 45%; right: 25%; }
.aps .style01 .item04 { position: absolute; top: 59%; left: 13%; }

.aps .style02 .ph-box { margin: 0 0 0 97px; }
.aps .style02 .copy { top: 33px; left: 570px; }
.aps .style02 .info-box { top: 468px; left: 426px; }
.aps .style02 .item01 { position: absolute; top: -3%; right: 15%; }
.aps .style02 .item02 { position: absolute; top: 13.5%; left: 16%; }
.aps .style02 .item03 { position: absolute; top: 46%; right: 19%; }
.aps .style02 .item04 { position: absolute; top: 79%; left: 8%; }

.aps .style03 .ph-box { margin: 0 0 0 83px; }
.aps .style03 .copy { top: 33px; left: 81px; }
.aps .style03 .info-box { top: 370px; left: 518px; }
.aps .style03 .item01 { position: absolute; top: -4%; left: 40%; }
.aps .style03 .item02 { position: absolute; top: 16%; right: 2%; }
.aps .style03 .item03 { position: absolute; top: 26%; left: 18%; }
.aps .style03 .item04 { position: absolute; top: 44.5%; left: 26%; }
.aps .style03 .item05 { position: absolute; top: 62%; right: 14%; }
.aps .style03 .item06 { position: absolute; top: 51.5%; left: -2%; }
.aps .style03 .item07 { position: absolute; top: 62%; left: 27%; }

.aps .style04 .ph-box { margin: 0 0 0 53px; }
.aps .style04 .copy { top: 396px; left: 497px; }
.aps .style04 .info-box { top: 28px; left: 479px; }
.aps .style04 .item01 { position: absolute; top: -3.4%; left: 34%; }
.aps .style04 .item02 { position: absolute; top: 13%; right: 0%; }
.aps .style04 .item03 { position: absolute; top: 22%; left: 14.5%; }
.aps .style04 .item04 { position: absolute; top: 52%; right: 9%; }
.aps .style04 .item05 { position: absolute; top: 49.5%; left: -3%; }
.aps .style04 .item06 { position: absolute; top: 62.1%; left: 33.2%; }


/* beams */
.beams .style01 .ph-box { margin: 0 0 0 233px; }
.beams .style01 .copy { top: 39px; left: 107px; }
.beams .style01 .info-box { top: 191px; left: 506px; }

.beams .style02 .ph-box { margin: 0 0 0 110px; }
.beams .style02 .copy { top: 49px; left: 540px; }
.beams .style02 .info-box { top: 432px; left: 416px; }

.beams .style03 .ph-box { margin: 0 0 0 155px; }
.beams .style03 .copy { top: 53px; left: 81px; }
.beams .style03 .info-box { top: 430px; left: 518px; }

.beams .style04 .ph-box { margin: 0 0 0 340px; }
.beams .style04 .copy { top: 168px; left: 621px; }
.beams .style04 .info-box { top: 303px; left: 75px; }


/* fila */
.fila .style01 .ph-box { margin: 0 0 0 152px; }
.fila .style01 .copy { top: 65px; left: 77px; }
.fila .style01 .info-box { top: 317px; left: 506px; }

.fila .style02 .ph-box { margin: 0 0 0 113px; }
.fila .style02 .copy { top: 422px; left: 520px; }
.fila .style02 .info-box { top: 46px; left: 479px; }

.fila .style03 .ph-box { margin: 0 0 0 165px; }
.fila .style03 .copy { top: 67px; left: 101px; }
.fila .style03 .info-box { top: 354px; left: 508px; }

.fila .style04 .ph-box { margin: 0 0 0 310px; }
.fila .style04 .copy { top: 162px; left: 628px; }
.fila .style04 .info-box { top: 392px; left: 49px; }


/* loudmouth */
.loudmouth .style01 .ph-box { margin: 0 0 0 206px; }
.loudmouth .style01 .copy { top: 37px; left: 107px; }
.loudmouth .style01 .info-box { top: 409px; left: 496px; }

.loudmouth .style02 .ph-box { margin: 0 0 0 181px; }
.loudmouth .style02 .copy { top: 308px; left: 636px; }
.loudmouth .style02 .info-box { top: 125px; left: 53px; }

.loudmouth .style03 .ph-box { margin: 0 0 0 205px; }
.loudmouth .style03 .copy { top: 124px; left: 108px; }
.loudmouth .style03 .info-box { top: 460px; left: 498px; }

.loudmouth .style04 .ph-box { margin: 0 0 0 56px; }
.loudmouth .style04 .copy { top: 407px; left: 518px; }
.loudmouth .style04 .info-box { top: 39px; left: 452px; }


/* kotg */
.kotg .style01 .ph-box { margin: 0 0 0 252px; }
.kotg .style01 .copy { top: 270px; left: 661px; }
.kotg .style01 .info-box { top: 24px; left: 43px; }

.kotg .style02 .ph-box { margin: 0 0 0 187px; }
.kotg .style02 .copy { top: 91px; left: 83px; }
.kotg .style02 .info-box { top: 370px; left: 515px; }

.kotg .style03 .ph-box { margin: 0 0 0 187px; }
.kotg .style03 .copy { top: 331px; left: 80px; }
.kotg .style03 .info-box { top: 41px; left: 508px; }

.kotg .style04 .ph-box { margin: 0 0 0 108px; }
.kotg .style04 .copy { top: 405px; left: 548px; }
.kotg .style04 .info-box { top: 20px; left: 459px; }


/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
/* and per se */
.aps .brand-title01 .logo img{
	height: 160px;
}
.aps .style01 .ph-box { margin: 0 9% 0 3%; }
.aps .style01 .copy { top: 35%; left: inherit; right: 10% }
.aps .style01 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.aps .style01 .item01 { position: absolute; top: 1%; left: 30%; }
.aps .style01 .item02 { position: absolute; top: 16%; right: 32%; }
.aps .style01 .item03 { position: absolute; top: 51%; right: 36%; }
.aps .style01 .item04 { position: absolute; top: 63.5%; left: 25%; }

.aps .style02 .ph-box { margin: 0 12% 0 0; }
.aps .style02 .copy { top: 5%; left: inherit; right: 10% }
.aps .style02 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }
.aps .style02 .item01 { position: absolute; top: 3%; right: 29%; }
.aps .style02 .item02 { position: absolute; top: 19%; left: 30%; }
.aps .style02 .item03 { position: absolute; top: 52.5%; right: 32.5%; }
.aps .style02 .item04 { position: absolute; top: 85%; left: 21%; }

.aps .style03 .ph-box { margin: 0 2% 0 8%; }
.aps .style03 .copy { top: 4%; left: 15%; }
.aps .style03 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }
.aps .style03 .item01 { position: absolute; top:2%; left: 52%; }
.aps .style03 .item02 { position: absolute; top: 22%; right: 14%; }
.aps .style03 .item03 { position: absolute; top: 31%; left: 30%; }
.aps .style03 .item04 { position: absolute; top: 49%; left: 36%; }
.aps .style03 .item05 { position: absolute; top: 67.5%; right: 25.5%; }
.aps .style03 .item06 { position: absolute; top: 58%; left: 8%; }
.aps .style03 .item07 { position: absolute; top: 68%; left: 38%; }

.aps .style04 .ph-box { margin: 0 12% 0 0; }
.aps .style04 .copy { top: 35%; left: inherit; right: 10% }
.aps .style04 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }
.aps .style04 .item01 { position: absolute; top: 3.2%; left: 46%; }
.aps .style04 .item02 { position: absolute; top: 18.5%; right: 13%; }
.aps .style04 .item03 { position: absolute; top: 27%; left: 27.5%; }
.aps .style04 .item04 { position: absolute; top: 60%; right: 23%; }
.aps .style04 .item05 { position: absolute; top: 56%; left: 11%; }
.aps .style04 .item06 { position: absolute; top: 67.5%; left: 45.5%; }

/* beams */
.beams .brand-title01 .logo img{
	height: 50px;
}
.beams .style01 .ph-box { margin: 0 10% 0 2%; }
.beams .style01 .copy { top: 10%; left: inherit; right: 15%; }
.beams .style01 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.beams .style02 .ph-box { margin: 0 10% 0 2%; }
.beams .style02 .copy { top: 15%; left: inherit; right: 12%; }
.beams .style02 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.beams .style03 .ph-box { margin: 0 0 0 12%; }
.beams .style03 .copy { top: 10%; left: 10%; }
.beams .style03 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }

.beams .style04 .ph-box { margin: 0 11% 0 1%; }
.beams .style04 .copy { top: 15%; left: inherit; right: 12% }
.beams .style04 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }


/* fila */
.fila .brand-title01 .logo img{
	height: 130px;
}
.fila .style01 .ph-box { margin: 0 1% 0 11%; }
.fila .style01 .copy { top: 7%; left: 12%; }
.fila .style01 .info-box { top: inherit; left: inherit; margin: -9% 0 0 0; }

.fila .style02 .ph-box { margin: 0 10% 0 2% ; }
.fila .style02 .copy { top: 25%; left: inherit; right: 12%; }
.fila .style02 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }

.fila .style03 .ph-box { margin: 0 1% 0 11%; }
.fila .style03 .copy { top: 6%; left: 10%; }
.fila .style03 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.fila .style04 .ph-box { margin: 0 11% 0 1%; }
.fila .style04 .copy { top: 16%; left: inherit; right: 15% }
.fila .style04 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }


/* loudmouth */
.loudmouth .brand-title01 .logo img{
	height: 80px;
}
.loudmouth .style01 .ph-box { margin: 0 1% 0 11%; }
.loudmouth .style01 .copy { top: 5%; left: 12%;; }
.loudmouth .style01 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }

.loudmouth .style02 .ph-box { margin: 0 1% 0 8%; }
.loudmouth .style02 .copy { top: 4%; left: 8%; }
.loudmouth .style02 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }

.loudmouth .style03 .ph-box { margin: 0 11% 0 1%; }
.loudmouth .style03 .copy { top: 18%; left: inherit; right: 12%; }
.loudmouth .style03 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }

.loudmouth .style04 .ph-box { margin: 0 1% 0 11%; }
.loudmouth .style04 .copy { top: 30%; left: 8%; }
.loudmouth .style04 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }


/* ras */
.kotg .brand-title01 .logo img{
	height: 160px;
}
.kotg .style01 .ph-box { margin: 0 12% 0 0; }
.kotg .style01 .copy { top: 25%; left: inherit; right: 10%; }
.kotg .style01 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }

.kotg .style02 .ph-box { margin: 0 1% 0 11%; }
.kotg .style02 .copy { top: 6%; left: 10%; }
.kotg .style02 .info-box { top: inherit; left: inherit; margin: -14% 0 0 0; }

.kotg .style03 .ph-box { margin: 0 10% 0 2%; }
.kotg .style03 .copy { top: 15%; left: inherit; right: 17% }
.kotg .style03 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }

.kotg .style04 .ph-box { margin: 0 12% 0 0; }
.kotg .style04 .copy { top: 28%; left: inherit; right: 10% }
.kotg .style04 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }


}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
/* and per se */
.aps .brand-title01 .logo img{
	height: 140px;
}
.aps .style01 .ph-box { margin: 0 9% 0 3%; }
.aps .style01 .copy { top: 35%; left: inherit; right: 6% }
.aps .style01 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.aps .style02 .ph-box { margin: 0 18% 0 3%; }
.aps .style02 .copy { top: 22%; left: inherit; right: 8% }
.aps .style02 .info-box { top: inherit; left: inherit; margin: 0 0 0 0; }

.aps .style03 .ph-box { margin: 0 0 0 7%; }
.aps .style03 .copy { top: 4%; left: 10%; }
.aps .style03 .info-box { top: inherit; left: inherit; margin: -10% 0 0 0; }

.aps .style04 .ph-box { margin: 0 15% 0 2%; }
.aps .style04 .copy { top: 40%; left: inherit; right: 8% }
.aps .style04 .info-box { top: inherit; left: inherit; margin: -6% 0 0 0; }


/* beams */
.beams .brand-title01 .logo img{
	height: 35px;
}
.beams .style01 .ph-box { margin: 0 17% 0 8%; }
.beams .style01 .copy { top: 10%; left: inherit; right: 15%; }
.beams .style01 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }

.beams .style02 .ph-box { margin: 0 18% 0 8%; }
.beams .style02 .copy { top: 35%; left: inherit; right: 8%; }
.beams .style02 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }

.beams .style03 .ph-box { margin: 0 2% 0 19%; }
.beams .style03 .copy { top: 25%; left: 10%; }
.beams .style03 .info-box { top: inherit; left: inherit; margin: -6% 0 0 0; }

.beams .style04 .ph-box { margin: 0 28% 0 14%; }
.beams .style04 .copy { top: 6%; left: inherit; right: 8% }
.beams .style04 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }


/* fila */
.fila .brand-title01 .logo img{
	height: 110px;
}
.fila .style01 .ph-box { margin: 0 3% 0 15%; }
.fila .style01 .copy { top: 4%; left: 8%; }
.fila .style01 .info-box { top: inherit; left: inherit; margin: -9% 0 0 0; }

.fila .style02 .ph-box { margin: 0 20% 0 4% ; }
.fila .style02 .copy { top: 20%; left: inherit; right: 10%; }
.fila .style02 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.fila .style03 .ph-box { margin: 0 2% 0 19%; }
.fila .style03 .copy { top: 4%; left: 5%; }
.fila .style03 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.fila .style04 .ph-box { margin: 0 12% 0 3%; }
.fila .style04 .copy { top: 14%; left: inherit; right: 13% }
.fila .style04 .info-box { top: inherit; left: inherit; margin: -3% 0 0 0; }


/* loudmouth */
.loudmouth .brand-title01 .logo img{
	height: 55px;
}
.loudmouth .style01 .ph-box { margin: 0 3% 0 27%; }
.loudmouth .style01 .copy { top: 4%; left: 8%;; }
.loudmouth .style01 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.loudmouth .style02 .ph-box { margin: 0 1% 0 4%; }
.loudmouth .style02 .copy { top: 2%; left: 8%; }
.loudmouth .style02 .info-box { top: inherit; left: inherit; margin: -1% 0 0 0; }

.loudmouth .style03 .ph-box { margin: 0 30% 0 6%; }
.loudmouth .style03 .copy { top: 20%; left: inherit; right: 10%; }
.loudmouth .style03 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }

.loudmouth .style04 .ph-box { margin: 0 2% 0 12%; }
.loudmouth .style04 .copy { top: 30%; left: 8%; }
.loudmouth .style04 .info-box { top: inherit; left: inherit; margin: -7% 0 0 0; }


/* kotg */
.kotg .brand-title01 .logo img{
	height: 140px;
}
.kotg .style01 .ph-box { margin: 0 18% 0 0; }
.kotg .style01 .copy { top: 20%; left: inherit; right: 4%; }
.kotg .style01 .info-box { top: inherit; left: inherit; margin: 1% 0 0 0; }

.kotg .style02 .ph-box { margin: 0 4% 0 24%; }
.kotg .style02 .copy { top: 6%; left: 6%; }
.kotg .style02 .info-box { top: inherit; left: inherit; margin: -8% 0 0 0; }

.kotg .style03 .ph-box { margin: 0 10% 0 2%; }
.kotg .style03 .copy { top: 14%; left: inherit; right: 10% }
.kotg .style03 .info-box { top: inherit; left: inherit; margin: -5% 0 0 0; }

.kotg .style04 .ph-box { margin: 0 16% 0 2%; }
.kotg .style04 .copy { top: 4%; left: inherit; right: 8% }
.kotg .style04 .info-box { top: inherit; left: inherit; margin: -4% 0 0 0; }


}
