body {
	font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
	vertical-align:middle;
	max-width:100%;
}

.pcnone{ display:none !important; }
.spnone{ display:inherit !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	margin: 0 auto;
	padding: 60px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
#detail .brand-title01{
}
#detail .brand-title01 .logo{
	margin-bottom: 20px;
}
#detail .brand-title01 .txt {
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: normal;
}
#detail .brand-copy {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
#detail .brand-lead {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 30px;
}


#detail .detail-wrapper .detail-inner{
	margin: 0 auto;
}


#detail .brand-box01 {
	margin: 0 auto 40px;
	width: 800px;
	text-align: left;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
	z-index: 20;
}
#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
	z-index: 10;
}
#detail .brand-box01 .info-box {
	position: absolute;
	width: 240px;
	z-index: 20;
}
#detail .brand-box01 .info-box .point {
	margin-bottom: 10px;
}
#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
}
#detail .brand-box01 .info-box .point-txt {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
#detail .brand-box01 .info-box .point-ph {
}
#detail .brand-box01 .ph-txt {
	margin: 0 auto;
	width: 580px;
}


/* ボタン */
.btn-box{
	margin: 0 auto;
	width: 80%;
}
a.brand-btn01{
	background: #fff;
	position: relative;
	color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 1;
	font-size: 30px;
	border: solid 1px #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a.brand-btn01:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -0.56em;
}
a.brand-btn01:hover{
	background: #f08300;
	border: solid 1px #f08300;
	color: #fff;
}
a.brand-btn01:hover > .logo{
	color: #fff;
}
a.brand-btn01 .logo{
	margin-bottom: 5px;
	color: #f08300;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a.brand-btn01 .txt{
	font-size: 14px;
}

/* ************************************************************************************************ */
@media screen and (max-width: 768px) {
.pcnone{ display:inherit !important; }
.spnone{ display:none !important; }
.spon{ display:none; }

#detail{
}
#detail .detail-wrapper{
	padding: 6% 4%;
}
#detail .brand-title01 .logo{
	margin-bottom: 2%;
}
#detail .brand-title01 .txt {
	margin-bottom: 2.5%;
	font-size: 15px;
	font-weight: normal;
}
#detail .brand-copy {
	margin-bottom: 2%;
	font-size: 18px;
	text-align: left;
}
#detail .brand-lead {
	font-size: 15px;
	margin-bottom: 3%;
	text-align: left;
}


#detail .brand-box01 {
	margin: 0 auto 4%;
	width: auto;
	text-align: center;
	overflow: hidden;
}
#detail .brand-box01-inner {
	position: relative;
}
#detail .brand-box01 .copy {
	position: absolute;
}
#detail .brand-box01 .copy {
	width: 10%;
}
#detail .brand-box01.style01 .copy {
	width: 8.5%;
}
#detail .brand-box01 .ph-box {
	position: relative;
	display: inline-block;
}
#detail .brand-box01 .info-box {
	position: inherit;
	width: auto;
	text-align: left;
	margin-bottom: 3%;
}
#detail .brand-box01 .info-box .point {
	margin-bottom: 1%;
}
#detail .brand-box01 .info-box .point img {
	height: 25px;
}
#detail .brand-box01 .info-box .point-lead {
	margin-bottom: 1%;
	font-size: 17px;
}
#detail .brand-box01 .info-box .point-txt {
	margin-bottom: 1%;
	font-size: 14px;
}
#detail .brand-box01 .info-box .point-ph {
	text-align: center;
}
#detail .brand-box01 .info-box .point-ph img {
	width: 210px;
}
#detail .brand-box01 .ph-txt {
	margin: 0 auto 8%;
	padding-bottom: 4%;
	width: auto;
	text-align: left;
	border-bottom: dotted 1px #8a8a8a;
}

/* ボタン */
.btn-box{
	width: 90%;
}
a.brand-btn01{
	padding: 2%;
	font-size: 26px;
}
a.brand-btn01:after{
	right: 3%;
}
a.brand-btn01:hover{
	background: #fff;
	border: solid 1px #000;
	color: #000;
}
a.brand-btn01:hover > .logo{
	color: #f08300;
}
a.brand-btn01 .logo{
	margin-bottom: 1%;
}
a.brand-btn01 .txt{
	font-size: 14px;
}


}

/* ************************************************************************************************ */
@media screen and (max-width: 480px) {
.spon{ display:inherit !important; }

#detail .brand-box01 .info-box .point img {
	height: 30px;
}

#detail .brand-box01 .copy {
	width: 14%;
}
#detail .brand-box01.style01 .copy {
	width: 12%;
}

/* ボタン */
.btn-box{
	width: auto;
}
a.brand-btn01{
	font-size: 20px;
}
a.brand-btn01 .logo img{
	height: 20px;
}

}


