@charset "UTF-8";

@media(max-width:768px){
  .intro{
    padding:25px 0;
  }
  .item-box{
    width: 49%;
  }
}

@media(min-width:561px) {
  .contents{
    background:url("../images/wood.png") bottom center/auto no-repeat,
    url("../images/snow_back.png") top center/100% repeat-y;
  }
}

@media(max-width:560px) {
  /*COMMON--------------*/
  .inner{
    padding:0 4%;
  }
  .flex{
    flex-direction: column;
  }

  /*INTRO--------------*/
  .el{
    font-size: 5rem;
  }
  .el-red{
    font-size: 4rem;
  }

  /*CONTENTS--------------*/
  .contents{
    padding:37px 0 60px;
    background:url("../images/wood_sp.png") bottom center/100% no-repeat,
    url("../images/snow_top_sp.png") top center/auto no-repeat,
    url("../images/snow_bottom_sp.png") bottom center/auto no-repeat;
  }
  .el-title-pick{
    margin-bottom:12px;
  }
  .item-box{
    width: 100%;
    margin-bottom: 4%;
  }
  .btn-all{
    width: 100%;
  }

  /*ABOUT--------------*/
  .about{
    padding:32px 0 40px;
  }
  .el-about{
    font-size: 4.4rem;
  }
  .about-inner{
    height:auto;
  }
  .logo-img{
    width:100%;
    height: 110px;
    margin-bottom:18px;
  }
  .text-box{
    width: 100%;
  }
  .about-text{
    margin-bottom:18px;
  }

  /*SNS--------------*/
  .sns-area{
    padding:14px 0;
  }
  .sns-icon::before{
    font-size: 1.4rem;
    transform:translate(-120%,65%);
  }
  .sns-icon li{
    margin:0 6px;
  }
  .sns-icon li img{
    width: auto;
    height: 45px;
  }

  /* トップに戻るボタン
  -------------------------- */
  .top-btn{
    position: fixed;
    right: -5px;
    bottom: 60px;
  }
  .top-btn a img{
    display: block;
    width: 80%;
    height: auto;
  }

}
