@charset "UTF-8";

/* 共通
-------------------------- */
html{
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: "游ゴシック", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  position:relative;
  background: #561b1f;
  color:#2b2b2b;
}
img{
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}
a{
  text-decoration: none;
  color:#2b2b2b;
}
li{
  display: inline-block;
}
section,.sns-area,footer{
  text-align: center;
}
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
h2,.off-mark,.price,.disabled,.item-box-wrap,.sns-icon{
  font-family:'Anton', sans-serif;
  letter-spacing: 0.04em;
}
h3,p,.common-price,.btn{
  font-weight: bold;
}
.inner{
  padding:0 2.25%;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(min-width:559px){
  .sp-display{
    display: none;
  }
}
@media(max-width:560px) {
  .pc-display{
    display: none;
  }
}
@media(min-width:820px) {
  .middle-display{
    display: none;
  }
}

/* ボタン
-------------------------- */
.btn{
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin-top:auto;
  background: #561b1f;/*ボタン色*/
  color: #FFF;
  box-shadow: 0 5px #3f0f12;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 0.14em;
}
.btn:hover{
  opacity: 0.7;
  transition-duration: 0.3s;
}
.btn:active {
  position: relative;
  top:5px;
  box-shadow: none;
}

/* トップに戻るボタン
-------------------------- */
.top-btn{
    position: fixed;
    right: 15px;
    bottom: 70px;
}
.top-btn a img{
    display: block;
    width: 100%;
    height: auto;
}
