@charset "UTF-8";

/* Intro
-------------------------- */
.intro{
  background: #fff;
  padding:40px 0;
}
.el{
  font-size: 8.4rem;
  color: #b1a260;
}
.el-intro-red{
  line-height: 0.85em;
}
.el-red{
  font-size: 4.5rem;
  line-height: 1em;
  color: #561b1f;
}
span{
  color: #b1a260;
}

/* Contents
-------------------------- */
.contents{
  padding:58px 0 110px;
}
.el-title-pick{
  margin-bottom:20px;
}
/*item*/
.items{
  flex-wrap: wrap;
  width:100%;
  margin-bottom: 20px;
}
.item-box-wrap{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,.7);
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 0.1em;
  color: #fff;
  line-height: 12em;
}
.item-box{
  display: flex;
  flex-direction: column;
  width: 32%;
  height:auto;
  padding:25px;
  margin-bottom: 2%;
  background: #b1a260;
  text-align: left;
  position: relative;
}
.item-img{
  margin-bottom: 12px;
}
h3{
  font-size: 1.8rem;
  line-height: 1.3em;
  letter-spacing: -0.04em;
  border-bottom:solid 1px #fff;
  padding-bottom:7px;
  margin-bottom: 10px;
}
.off-list{
  height:auto;
  display: inline-block;
}
.off-mark{
  font-size: 2.2rem;
  color: #fff;
  background: #561b1f;
  padding:0 0.4em;
  margin-right: 5px;
  letter-spacing: 0.06em;
  line-height: 1.6em;
  vertical-align: middle;
}
.common-price{
  font-size: 1.2rem;
  line-height: 2.3em;
  vertical-align: middle;
}
.strikethrough{
  font-size: 1.8rem;
  text-decoration-line:line-through;
}
.price{
  color: #561b1f;
  font-size: 4.4rem;
  margin-bottom:8px;
  line-height: 1.3em;
}
.btn-item{
  font-size: 1.6rem;
}
.btn-all{
  background:#35301D;
  font-size: 2rem;
  color: #fff;
  width: 50%;
}
a.disabled{
  pointer-events: none;
}

/* About
-------------------------- */
.about{
  background: #fff;
  padding:38px 0 40px;
}
.el-about{
  font-size: 5.6rem;
  margin-bottom:14px;
}
.about-inner{
  height: 200px
}
.logo-img{
  width:50%;
  height:200px;
  object-fit: cover;
}
.text-box{
  width: 47%;
}
.about-text{
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: justify;
}

/* SNS
-------------------------- */
.sns-area{
  padding:25px 0;
  position: relative;
}
.sns-icon::before{
  content: "SHARE";
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  transform:translate(-125%,85%);
}
.sns-icon li{
  margin:0 12px;
}
.sns-icon li:hover{
  opacity: 0.8;
  transition-duration: 0.3s;
}

/* Footer
-------------------------- */
footer{
  width: 100%;
  background: #b1a260;
}
small{
  color: #fff;
  line-height: 4em;
  font-size: 1.2rem;
  letter-spacing: 0.24em;
}
