/* Scss Document */
@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Medium.otf"); }
a:hover {
  opacity: 0.75; }

html, body {
  font-family: "Noto Sans JP", "sans-serif"; }

body {
  background: url("../img/body_bg.jpg") repeat;
  overflow-x: hidden; }

.center {
  text-align: center; }

.pc {
  display: none; }
  @media screen and (min-width: 768px) {
    .pc {
      display: block; } }

.sp {
  display: block; }
  @media screen and (min-width: 768px) {
    .sp {
      display: none; } }

header {
  background-color: #fff;
  padding: 8px 40px; }
  @media screen and (min-width: 768px) {
    header {
      border-bottom: 1px solid #cccccc;
      padding: 20px 40px; } }
  header picture {
    text-align: center; }
    header picture img {
      width: 100%;
      max-width: 585px; }
      @media screen and (min-width: 768px) {
        header picture img {
          max-width: 440px; } }

.main-img {
  background-color: #197545; }
  .main-img img {
    width: 100%; }
  .main-img .days {
    text-align: center;
    padding: 17px 25px; }
    .main-img .days img {
      width: auto; }

.inner, .menu .inner, .application .inner, .bonus .inner, .terms .inner {
  max-width: 960px;
  margin: 0 auto; }

.menu {
  padding: 25px; }
  .menu .inner nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px; }
    .menu .inner nav ul li {
      display: block;
      width: 48%; }
      @media screen and (min-width: 768px) {
        .menu .inner nav ul li {
          max-width: 463px; } }
    @media screen and (min-width: 768px) {
      .menu .inner nav ul {
        margin: 45px 0 65px; } }
  .menu .inner .text p {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, "sans-serif";
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 2;
    padding: 35px 0 10px; }
    @media screen and (min-width: 768px) {
      .menu .inner .text p {
        padding-bottom: 60px; } }
    .menu .inner .text p span {
      color: #12ac7d; }
    @media screen and (min-width: 768px) {
      .menu .inner .text p {
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 2.2; } }

.annotation {
  margin: 22px 0 18px; }
  @media screen and (min-width: 768px) {
    .annotation {
      margin: 20px 104px 58px 0; } }
  .annotation li {
    font-size: 10px;
    line-height: 1.6;
    padding-left: 1em;
    text-indent: -1em; }
    @media screen and (min-width: 768px) {
      .annotation li {
        font-size: 14px;
        line-height: 1.8; } }

.prize {
  background-color: #fff; }
  @media screen and (min-width: 768px) {
    .prize {
      padding: 0 25px; } }
  .prize img {
    width: 100%; }
  .prize .item-list {
    padding: 23px 25px; }
    @media screen and (min-width: 768px) {
      .prize .item-list {
        padding: 32px 0; } }
  .prize .caption {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6;
    margin: 22px 0 4px; }
    @media screen and (min-width: 768px) {
      .prize .caption {
        font-size: 18px; } }
  .prize .annotation {
    margin: 0 0 18px; }
    @media screen and (min-width: 768px) {
      .prize .annotation {
        margin: 16px 0 58px; } }
  .prize .grand_prize h2 {
    padding: 48px 0 12px; }
    @media screen and (min-width: 768px) {
      .prize .grand_prize h2 {
        padding: 100px 0 0; } }
    .prize .grand_prize h2 img {
      width: 100%;
      max-width: 256px; }
      @media screen and (min-width: 768px) {
        .prize .grand_prize h2 img {
          max-width: 435px; } }
  .prize .excellence_prize h2 img {
    width: 100%;
    max-width: 210px; }
    @media screen and (min-width: 768px) {
      .prize .excellence_prize h2 img {
        max-width: 384px; } }
  .prize .excellence_prize .main-pic {
    margin-top: -20px; }
    @media screen and (min-width: 768px) {
      .prize .excellence_prize .main-pic {
        max-width: -26px; } }

.application {
  background-color: #c1e990;
  padding: 30px 25px 38px; }
  @media screen and (min-width: 768px) {
    .application {
      padding: 88px 25px 100px; } }
  .application .inner h2 img {
    width: 98px;
    margin-bottom: 18px; }
    @media screen and (min-width: 768px) {
      .application .inner h2 img {
        width: 187px;
        margin-bottom: 50px; } }
  .application .inner .base {
    background-color: #fff;
    padding: 16px 30px 30px;
    border-radius: 24px; }
    @media screen and (min-width: 768px) {
      .application .inner .base {
        padding-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .application .inner .base .num {
        margin-top: -30px; } }
    .application .inner .base .num p {
      text-align: center; }
      @media screen and (min-width: 768px) {
        .application .inner .base .num p {
          text-align: left;
          padding-left: 20px; } }
      .application .inner .base .num p img {
        width: 100%;
        max-width: 413px;
        padding: 0 40px;
        margin-bottom: 8px; }
        @media screen and (min-width: 768px) {
          .application .inner .base .num p img {
            max-width: 341px;
            padding: 0;
            margin-bottom: 0; } }
    .application .inner .base .contents img {
      width: 100%;
      max-width: 530px; }
      @media screen and (min-width: 768px) {
        .application .inner .base .contents img {
          max-width: 838px; } }
    .application .inner .base .text p {
      font-size: 13px;
      padding-top: 10px;
      line-height: 1.8; }
      @media screen and (min-width: 768px) {
        .application .inner .base .text p {
          padding: 28px 30px;
          font-size: 18px; } }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont02 .num {
        margin-top: -30px; } }
    .application .inner .base.cont02 .num p img {
      max-width: 474px;
      padding: 0 30px;
      margin-top: 10px;
      margin-bottom: 30px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont02 .num p img {
          max-width: 526px;
          padding: 0;
          margin-top: 0;
          margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont02 .contents {
        display: flex;
        justify-content: space-evenly; } }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont02 .contents .image {
        margin-top: 30px;
        margin-left: 60px;
        margin-bottom: 56px; } }
    .application .inner .base.cont02 .contents .image img {
      width: 100%;
      max-width: 530px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont02 .contents .image img {
          max-width: 227px; } }
    .application .inner .base.cont02 .contents .sns {
      margin-top: 5px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont02 .contents .sns {
          width: 520px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 30px 52px 20px; } }
      .application .inner .base.cont02 .contents .sns .wrap {
        padding-top: 35px; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont02 .contents .sns .wrap {
            width: 31%;
            max-width: 140px;
            padding: 48px 0 0; } }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont02 .contents .sns .wrap.fildlife_area {
            width: 120px; } }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont02 .contents .sns .wrap .group {
            height: 50px;
            display: flex;
            align-items: center; } }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont02 .contents .sns .wrap .group p {
            text-align: left; } }
        .application .inner .base.cont02 .contents .sns .wrap img.peaks {
          max-width: 85px; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont02 .contents .sns .wrap img.peaks {
              max-width: 135px; } }
        .application .inner .base.cont02 .contents .sns .wrap img.randone {
          max-width: 81px; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont02 .contents .sns .wrap img.randone {
              max-width: 129px; } }
        .application .inner .base.cont02 .contents .sns .wrap img.fildlife {
          max-width: 77px; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont02 .contents .sns .wrap img.fildlife {
              max-width: 114px; } }
        .application .inner .base.cont02 .contents .sns .wrap .icon_ride {
          margin-top: 18px;
          display: flex;
          justify-content: space-around; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont02 .contents .sns .wrap .icon_ride {
              display: flex;
              flex-direction: column;
              align-items: stretch;
              height: 120px; } }
          .application .inner .base.cont02 .contents .sns .wrap .icon_ride div {
            margin: 0 6px; }
            @media screen and (min-width: 768px) {
              .application .inner .base.cont02 .contents .sns .wrap .icon_ride div {
                margin: 0; } }
            @media screen and (min-width: 768px) {
              .application .inner .base.cont02 .contents .sns .wrap .icon_ride div p {
                text-align: left; } }
            .application .inner .base.cont02 .contents .sns .wrap .icon_ride div img {
              max-height: 22px;
              width: auto; }
              @media screen and (max-width: 330px) {
                .application .inner .base.cont02 .contents .sns .wrap .icon_ride div img {
                  max-width: 74px; } }
              @media screen and (min-width: 768px) {
                .application .inner .base.cont02 .contents .sns .wrap .icon_ride div img {
                  max-height: 24px; } }
      .application .inner .base.cont02 .contents .sns .text {
        background-image: url("../img/application_liner_02_tb.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        padding-top: 6px; }
        .application .inner .base.cont02 .contents .sns .text p {
          text-align: center;
          font-weight: 500; }
          .application .inner .base.cont02 .contents .sns .text p span {
            color: #12ac7d; }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont03 {
        padding-bottom: 60px; } }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont03 .num {
        margin-top: -30px; } }
    .application .inner .base.cont03 .num p img {
      max-width: 339px;
      padding: 0 40px;
      margin-bottom: 21px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont03 .num p img {
          max-width: 331px;
          padding: 0;
          margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      .application .inner .base.cont03 .contents {
        margin-top: 30px; } }
    .application .inner .base.cont03 .contents .sns_appli {
      margin-bottom: 21px; }
    .application .inner .base.cont03 .contents p img {
      max-width: 473px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont03 .contents p img {
          max-width: 727px;
          padding: 0;
          margin-bottom: 0; } }
    .application .inner .base.cont03 .contents .image {
      position: relative;
      margin-bottom: 10px; }
      .application .inner .base.cont03 .contents .image .txt01 {
        position: absolute;
        left: 23.5%;
        bottom: 84%;
        font-size: 4.25vw;
        font-weight: bold; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont03 .contents .image .txt01 {
            left: 57.5%;
            bottom: 36.6%;
            font-size: 23px; } }
      .application .inner .base.cont03 .contents .image .txt02 {
        position: absolute;
        left: 25.8%;
        bottom: 75.5%;
        font-size: 4.25vw;
        font-weight: bold; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont03 .contents .image .txt02 {
            left: 59%;
            bottom: 21.1%;
            font-size: 23px; } }
    .application .inner .base.cont04 {
      padding: 24px;
      position: relative; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont04 {
          padding: 50px 0 43px; } }
      .application .inner .base.cont04 p img {
        max-width: 180px; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont04 p img {
            max-width: 335px; } }
      .application .inner .base.cont04 .gar {
        position: absolute;
        top: -2vw;
        right: 1vw; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont04 .gar {
            top: -28px;
            right: 12vw; } }
        .application .inner .base.cont04 .gar img {
          width: 68px; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont04 .gar img {
              width: 176px; } }
    .application .inner .base.cont05 {
      padding: 10px 0;
      border-radius: 12px; }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont05 {
          border-radius: 24px; } }
      .application .inner .base.cont05 .bg_kei {
        background-image: url("../img/application_contents_05_kei_sp.png"), url("../img/application_contents_05_kei_sp.png");
        background-size: 75%, 75%;
        background-position: top, bottom;
        background-repeat: repeat-x, repeat-x;
        position: relative;
        padding: 20px 30px;
        background-size: 100%, 100%;
        padding: 30px;
        margin: 10px; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont05 .bg_kei {
            background-image: url("../img/application_contents_05_kei_tb.png"), url("../img/application_contents_05_kei_tb.png"); } }
        .application .inner .base.cont05 .bg_kei .flag {
          position: absolute;
          top: 20px;
          left: -20px; }
          @media screen and (min-width: 768px) {
            .application .inner .base.cont05 .bg_kei .flag {
              top: 30px;
              left: -29px; } }
          .application .inner .base.cont05 .bg_kei .flag img {
            width: 86px; }
            @media screen and (min-width: 768px) {
              .application .inner .base.cont05 .bg_kei .flag img {
                width: 173px; } }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont05 .profile {
          display: flex;
          margin: 8px 46px 8px 140px; } }
      .application .inner .base.cont05 .profile .judge img {
        width: 90px; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont05 .profile .judge img {
            width: 190px; } }
      @media screen and (min-width: 768px) {
        .application .inner .base.cont05 .profile .intro {
          width: 514px;
          margin-left: 40px; } }
      .application .inner .base.cont05 .profile .intro h3 {
        font-size: 15px;
        margin: 10px 0;
        text-align: center; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont05 .profile .intro h3 {
            font-size: 25px;
            text-align: left; } }
      .application .inner .base.cont05 .profile .intro p {
        font-size: 12px;
        line-height: 1.8; }
        @media screen and (min-width: 768px) {
          .application .inner .base.cont05 .profile .intro p {
            font-size: 18px; } }
  .application .inner .annotation {
    margin: 22px 0 18px; }
    @media screen and (min-width: 768px) {
      .application .inner .annotation {
        margin: 20px 104px 58px 0; } }
    .application .inner .annotation li {
      font-size: 10px;
      line-height: 1.8;
      padding-left: 1em;
      text-indent: -1em; }
      @media screen and (min-width: 768px) {
        .application .inner .annotation li {
          font-size: 14px; } }
  .application .inner .tri {
    margin-top: -1px;
    margin-bottom: 4px; }
    @media screen and (min-width: 768px) {
      .application .inner .tri {
        margin-bottom: 18px; } }
    .application .inner .tri img {
      width: 55px; }

.bonus {
  background-color: #fff;
  padding: 44px 0; }
  @media screen and (min-width: 768px) {
    .bonus {
      padding: 110px 25px; } }
  .bonus .inner .sub-tit {
    padding: 0 10px;
    display: block; }
  @media screen and (min-width: 768px) {
    .bonus .inner .image {
      width: 100%;
      max-width: 778px;
      margin: 38px auto 0;
      position: relative; } }
  .bonus .inner .image a {
    display: inline-block; }
  .bonus .inner .image .bnr {
    display: inline-block; }
  .bonus .inner .image .pop {
    position: absolute; }
    @media screen and (min-width: 768px) {
      .bonus .inner .image .pop {
        width: 30%;
        top: -75px;
        right: -3%; } }
    @media screen and (min-width: 960px) {
      .bonus .inner .image .pop {
        width: auto;
        top: -60px;
        right: -96px; } }

.terms {
  background-color: #13ac7e;
  padding: 43px 25px; }
  @media screen and (min-width: 768px) {
    .terms {
      padding-bottom: 26px; } }
  .terms .inner .padding {
    padding: 5px;
    background-color: #fff;
    margin-bottom: 30px; }
    @media screen and (min-width: 768px) {
      .terms .inner .padding {
        padding: 10px;
        margin-bottom: 74px; } }
    .terms .inner .padding .scroll {
      height: 190px;
      padding: 15px;
      overflow-x: hidden;
      overflow-y: scroll; }
      @media screen and (min-width: 768px) {
        .terms .inner .padding .scroll {
          padding: 30px;
          height: 360px; } }
      .terms .inner .padding .scroll dt {
        font-size: 11px;
        padding-bottom: 4px;
        font-weight: bold;
        color: #006633; }
        @media screen and (min-width: 768px) {
          .terms .inner .padding .scroll dt {
            font-size: 18px;
            padding-bottom: 8px; } }
      .terms .inner .padding .scroll dd, .terms .inner .padding .scroll p {
        font-size: 10px;
        padding-bottom: 16px; }
        .terms .inner .padding .scroll dd span, .terms .inner .padding .scroll p span {
          font-weight: bold; }
        @media screen and (min-width: 768px) {
          .terms .inner .padding .scroll dd, .terms .inner .padding .scroll p {
            font-size: 16px;
            padding-bottom: 32px; } }
  .terms .term01 h2 img, .terms .term02 h2 img {
    height: 27px;
    margin-bottom: 6px; }
    @media screen and (min-width: 768px) {
      .terms .term01 h2 img, .terms .term02 h2 img {
        height: auto;
        margin-bottom: 14px; } }

footer {
  padding: 14px 0; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 28px 0; } }
  footer p {
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px; }
    @media screen and (min-width: 768px) {
      footer p {
        font-size: 14px; } }
  footer #pagetop {
    width: 33px;
    position: fixed;
    right: 10px;
    bottom: 20px; }
    @media screen and (min-width: 768px) {
      footer #pagetop {
        width: 44px;
        right: 20px; } }
