@charset "UTF-8";

:root{
  --black: #16160e;
  --gray: #7d7b83;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  line-height: 1em;
}
body{
  font-family:'Noto Sans JP', sans-serif,"游ゴシック体",YuGothic,"游ゴシック",'Yu Gothic',"游ゴシック Medium","Yu Gothic Medium",
  'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight:400;
  letter-spacing: 0.1em;
  text-align: center;
  font-feature-settings: "palt";
  font-variant-ligatures: none;
  color: var(--black);
}
main{
  padding: 0 7%;
  width: 100%;
}
ul,li{
  font-size: 1.6rem;
  list-style: none;
  letter-spacing: 0.1em;
}
a{
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: var(--black);
}
a:hover{
  text-decoration: none;
}
p{
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.1em;
  text-align: justify;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.noto-b{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-style: normal;
}
.Montserrat-l{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.01em;
}
.Montserrat-b{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.01em;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
html, body, .home_mainvisual {
  height: 100%;
}



/* = SP ================================================ */

  .pc-display{
    display: none;
  }
  /* -- main -- */
  main{
    margin-bottom: 70px;
  }

  /* = TAB ================================================ */
  @media screen and (min-width:700px) {
    .sp-display{
      display: none;
    }
    .tab-display{
      display: block;
    }
    .pc-display{
      display: block;
    }
    .product-position-sp{
      display: block;
    }
    .product-position-pc{
      display: none;
    }
  }

@media screen and (min-width:960px) {

  .sp-display{
    display: none;
  }
  .tab-display{
    display: none;
  }
  .pc-display{
    display: block;
  }

  /* -- main -- */
  main{
    padding: 0 4%;
    margin-bottom: 105px;
  }
  }

  /* = PC ================================================ */
  @media screen and (min-width:1280px) {

  }
