@charset "UTF-8";

/* = SP ================================================ */

  footer{
    padding-bottom: 40px;
  }
  .f-logo-box{
    margin: 0 auto 40px;
    max-width: 245px;
  }
  .f-surfsoup-logo{
    width: 100%;
  }
  .f-nalu-logo{
    margin-top: 5px;
    max-width: 130px;
  }.f-menu{
    margin-bottom: 38px;
  }
  .f-menu > li > a{
    margin-bottom: 1.8rem;
    color: var(--black);
  }
  .f-sns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    margin: auto;
    margin-bottom: 35px;
  }
  .f-sns li{
    width: 22%;
  }

/* = TAB ================================================ */
@media screen and (min-width:960px) {

  .f-logo-box{
    max-width: 295px;
    margin: 0 auto 50px;
  }
  .f-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 50px;
    max-width: 560px;
  }
  .f-menu-nav{
    width: 90%;
  }
  .f-sns-nav{
    width: 10%;
  }
  .f-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto -80px;
    width: 560px;
  }
  .f-menu > li{
    width: 33%;
  }
  .f-menu > li > a{
    font-size: 2.0rem;
  }
  .f-sns{
    width: 100px;
  }
  .f-sns li{
    width: 22%;
  }
}
