@charset "UTF-8";

/* = SP ================================================ */

  /* -- home  -- */
  .home_mainvisual{
    background: url(../img/home/sp_cover_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .nav-area{
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 20px 0;
    width: 100%;
  }
  .main-logo-box{
    text-align: left;
    padding: 20% 0 0 7%;
    max-width: 310px;
  }
  .main-catch{
    font-size: 1.8rem;
  }
  .main-catch > span{
    display: inline-block;
    margin: 0 4px;
    font-size: 1.9rem;
  }
  .main-logo{
    max-width: 100%;
    margin-bottom: 18px;
  }
  .main-read{
    max-width: 70%;
  }
  .scloll-down{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 20%;
    max-width: 98px;
  }
  .p-scloll-down, .p-scloll-down-5, .p-scloll-down-black{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 20%;
  }
  .p-scloll-down-2-r{
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 20%;
  }
  .p-scloll-down-black{
    display: none;
  }
  .credit-sp{
    margin-top: 5px;
    color: #fff;
    font-size: 1.0rem;
  }
  .credit-pc{
    display: none;
  }

  /* ------------------- products-1  ------------------- */
  .p-1_mainvisual{
    background: url(../img/products/sp_soup-cover_1_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .p-logo-box{
    max-width: 100%;
  }
  .p1-catch, .p2-catch, .p3-catch, .p4-catch, .p5-catch{
    letter-spacing: 0.05em;
  }
  .p1-catch{
    font-size: 2.8rem;
    line-height: 1.2;
    writing-mode: vertical-rl;
    position: relative;
    width: 100%;
    padding: 70px 40px 0 0;
  }
  .p1-catch > span{
    display: inline-block;
    position: absolute;
    top: 54px;
    right: 140px;
  }
  .h-logo-box-sp{
    display: block;
  }
  .h-logo-box-pc{
    display: none;
  }

  /* ------------------- products-2  ------------------- */
  .p-2_mainvisual{
    background: url(../img/products/sp_soup-cover_2_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .p2-logo-box{
    max-width: 100%;
    padding: 80px 0 0 0;
  }
  .p2-catch{
    font-size: 2.8rem;
    line-height: 1.2;
    writing-mode: vertical-rl;
    padding: 20px 0 0 20px;
  }

  /* ------------------- products-3  ------------------- */
  .p-3_mainvisual{
    background: url(../img/products/sp_soup-cover_3_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .p3-catch{
    font-size: 2.8rem;
    line-height: 1.2;
    writing-mode: vertical-rl;
    width: 100%;
    padding: 0 30px 0 0;
  }

  /* ------------------- products-4  ------------------- */
  .p-4_mainvisual{
    background: url(../img/products/sp_soup-cover_4_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .p4-catch{
    font-size: 2.8rem;
    line-height: 1.2;
    writing-mode: vertical-rl;
    width: 100%;
    padding: 0 40px 0 0;
  }

  /* ------------------- products-5  ------------------- */
  .p-5_mainvisual{
    background: url(../img/products/sp_soup-cover_5_200.jpg) center /cover no-repeat;
    height: 100vh;
    width: 100%;
  }
  .p5-catch{
    font-size: 2.8rem;
    line-height: 1.2;
    writing-mode: vertical-rl;
    width: 100%;
    padding: 0 40px 0 0;
  }

/* = TAB ================================================ */
@media screen and (min-width:700px) {

  .home_mainvisual{
    background: url(../img/home/tablet_cover_200.jpg) center /cover no-repeat;
  }
  .nav-area{
    padding: 35px 45px 0;
  }
  .scloll-down{
    top: 9%;
    left: 6%;
    width: 100px;
  }
  .main-logo-box-pc{
    margin: auto;
    position: relative;
    height: 100vh;
  }
  .main-logoset-pc{
    position: absolute;
    top: 35%;
    right: 21%;
    display: flex;
    flex-direction: column;
    width: 55%;
  }
  .main-logo-pc{
    width: 100%;
  }
  .main-logo-nalu-pc{
    width: 30%;
    margin: auto;
  }
  .main-logo-nalu-pc > img{
    width: 100%;
  }
  .main-catch-pc{
    position: absolute;
    top: 9%;
    right: 6%;
    writing-mode: vertical-rl;
    font-size: 2.0rem;
    letter-spacing: 0.08em;
  }
  .main-read-pc{
    position: absolute;
    bottom: 16%;
    left: 6%;
    max-width: 250px;
  }
  .credit-sp{
    display: none;
  }
  .credit-pc{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.0rem;
  }

  /* ------------------- products-1  ------------------- */
  .p-1_mainvisual{
    background: url(../img/products/tablet_soup-cover_1_200.jpg) center /cover no-repeat;
    height: 100vh;
  }
  .p-scloll-down, .p-scloll-down-2{
    bottom: 5%;
    left: 6%;
    width: 100px;
  }
  .p1-catch{
    color: #fff;
  }
  .h-logo-box-sp{
    display: none;
  }
  .h-logo-box-pc{
    display: block;
  }

  /* ------------------- products-2  ------------------- */
  .p-2_mainvisual{
    background: url(../img/products/tablet_soup-cover_2_200.jpg) center /cover no-repeat;
    height: 100vh;
  }
  .p2-catch{
    padding: 30px 0 0 180px;
  }
  .p-scloll-down-2-r{
    display: block;
  }

  /* ------------------- products-3  ------------------- */
  .p-3_mainvisual{
    background: url(../img/products/tablet_soup-cover_3_200.jpg) center /cover no-repeat;
    height: 100vh;
  }
  .p3-catch{
    padding: 70px 40px 0 0;
  }

  /* ------------------- products-4  ------------------- */
  .p-4_mainvisual{
    background: url(../img/products/tablet_soup-cover_4_200.jpg) center /cover no-repeat;
    height: 100vh;
  }
  .p3-catch{
    padding: 0 40px 0 0;
  }

  /* ------------------- products-5  ------------------- */
  .p-5_mainvisual{
    background: url(../img/products/tablet_soup-cover_5_200.jpg) center /cover no-repeat;
    height: 100vh;
  }
  .p-scloll-down-5{
    display: none;
  }
  .p-scloll-down-black{
    display: block;
    bottom: 5%;
    left: 6%;
    width: 100px;
  }
  }

  @media screen and (min-width:960px) {

  /* ------------------- products-1  ------------------- */
  .p-logo-box{
    max-width: 60%;
    padding: 20px 0 0 0;
  }
  .p1-catch, .p2-catch, .p3-catch, .p4-catch, .p5-catch{
    font-size: 3.2rem;
    line-height: 1.2;
  }
  .p1-catch > span{
    top: 53px;
    right: 158px;
  }

  /* ------------------- products-2  ------------------- */
  .p2-catch{
    padding: 30px 0 0 270px;
  }
  .p-scloll-down-2{
    display: block;
  }

  /* ------------------- products-3  ------------------- */
  .p3-catch{
    padding: 0 40px 0 0;
  }

  /* ------------------- products-4  ------------------- */
  .p4-catch{
    padding: 0 40px 0 0;
  }

  /* ------------------- products-5  ------------------- */
  .p5-catch{
    padding: 0 160px 0 0;
  }
  }

/* = PC ================================================ */
@media screen and (min-width:1280px) {

  .home_mainvisual{
    background: url(../img/home/pc_cover_200.jpg) center /cover no-repeat;
  }
  .h-logo-box-sp, .h-logo-box-pc, .h-logo-box-white{
    width: 14%;
  }
  .main-catch-pc{
    top: 14%;
    right: 5%;
    font-size: 2.4rem;
  }
  .main-logoset-pc{
    top: 35%;
  }
  .main-read-pc{
    bottom: 12%;
    left: 5%;
    max-width: 330px;
  }
  .scloll-down{
    top: 9%;
    left: 5%;
  }

  /* ------------------- products-1  ------------------- */
  .p-1_mainvisual{
    background: url(../img/products/pc_soup-cover_1_200.jpg) center /cover no-repeat;
    height: 650px;
  }
  .p-logo-box{
    padding: 170px 0 0 0;
  }
  .p1-catch{
    max-width: 91%;
    padding: 60px 0 0 0;
  }
  .p1-catch > span{
    top: 42px;
    right: 116px;
  }
  .p-scloll-down, .p-scloll-down-2{
    top: 360px;
    left: 5%;
    width: 100px;
  }

  /* ------------------- products-2  ------------------- */
  .p-2_mainvisual{
    background: url(../img/products/pc_soup-cover_2_200.jpg) center /cover no-repeat;
    height: 650px;
  }
  .p2-catch{
    padding: 60px 18% 0 0;
    width: 100%;
  }

  /* ------------------- products-3  ------------------- */
  .p-3_mainvisual{
    background: url(../img/products/pc_soup-cover_3_200.jpg) center /cover no-repeat;
    height: 650px;
  }
  .p3-catch{
    padding: 70px 35% 0 0;
    width: 100%;
  }

  /* ------------------- products-4  ------------------- */
  .p-4_mainvisual{
    background: url(../img/products/pc_soup-cover_4_200.jpg) center /cover no-repeat;
    height: 650px;
  }
  .p4-catch{
    padding: 100px 16% 0 0;
    width: 100%;
  }

  /* ------------------- products-5  ------------------- */
  .p-5_mainvisual{
    background: url(../img/products/pc_soup-cover_5_200.jpg) center /cover no-repeat;
    height: 650px;
  }
  .p5-catch{
    padding: 80px 13% 0 0;
    width: 100%;
  }
  .p-scloll-down-black{
    top: 360px;
    left: 5%;
    width: 100px;
  }
}
