@charset "UTF-8";

@media (hover: hover){
  /* hover指定できるPCを想定したスタイル */
  :hover,:hover::before,:hover::after{
    transition: .3s;
  }
  .product-container:hover, .product-home-main-text:hover, .product-back:hover,
  .article-container:hover, .article-container-pc:hover, .hydro-link:hover,
  .f-logo-box:hover, .f-home-list:hover, .f-sns-link:hover, .p-soup:hover,
  .p-text-box-link:hover {
    opacity: .6;
    cursor: pointer;
  }
  .home-list:hover::after{
    padding-right: 5px;
    transform: scale(1, 1);
  }
  .nav-btn:hover, .nav-p-btn:hover{
    cursor: pointer;
  }
}


/* ================================================= */
@media (hover: none) {
  /* hoverが使えないタッチ端末を想定した装飾 */
  :active,:active::before,:active::after{
    transition: .3s;
  }
  .product-container:active, .product-home-main-text:active, .product-back:active,
  .article-container:active, .article-container-pc:active, .hydro-link:active,
  .f-logo-box:active, .f-home-list:active, .f-sns-link:active, .p-soup:active,
  .p-text-box-link:active {
    opacity: .6;
  }
  .home-list:active::after{
    padding-right: 0px;
    transform: scale(1, 1);
  }
}
