@charset "UTF-8";

/* = SP ================================================ */

  /* -- package  -- */
  .package-wrapper{
    margin: 50px 0 35px;
  }
  .package{
    margin-bottom: 30px;
  }
  .package-text-ja, .package-text-en{
    font-size: 1.4rem;
    text-align: center;
  }
  .package-text-ja{
    line-height: 2.0;
    margin-bottom: 15px;
  }
  .package-text-en{
    line-height: 1.4;
  }

  /* -- products  -- */
  .product-icon{
    margin-bottom: 70px;
  }
  .product-wrapper{
    margin-bottom: 60px;
  }
  .product-container, .p-variation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .product-container{
    margin-bottom: 42px;
  }
  .product-soup, .p-soup{
    width: 45%;
    padding-top: 28px;
  }
  .product-text-box, .p-text-box{
    width: 50%;
    margin: auto 0;
  }
  .product-name{
    font-size: 2.1rem;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .name-small{
    font-size: 1.9rem;
  }
  .product-country{
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .product-price{
    margin-bottom: 2px;
  }
  .product-price-bottom{
    margin-bottom: 22px;
  }
  .product-price > img{
    width: 100px;
  }
  .product-text{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .arrow{
    max-width: 18px;
  }

  /* -- article -- */
  .article-wrapper{
    margin-bottom: 40px;
  }
  .article-container{
    margin-bottom: 30px;
  }
  .article-img, .article-img-2, .article-img-3{
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center center;
    width: 100%;
    height: calc(100vw / 1.7);
    max-height: 460px;
  }
  .article-img{
    background-image: -webkit-image-set(
    url("../img/common/banner_1.jpg") 1x,
    url("../img/common/banner_1_200.jpg") 2x);
    background-image: image-set(
    url("../img/common/banner_1.jpg") 1x,
    url("../img/common/banner_1_200.jpg") 2x);
  }
  .article-img-2{
    background-image: -webkit-image-set(
    url("../img/common/banner_3_200.jpg") 1x,
    url("../img/common/banner_3_200.jpg") 2x);
    background-image: image-set(
    url("../img/common/banner_3_200.jpg") 1x,
    url("../img/common/banner_3_200.jpg") 2x);
  }
  .article-img-3{
    background-image: -webkit-image-set(
    url("../img/common/banner_2_200.jpg") 1x,
    url("../img/common/banner_2_200.jpg") 2x);
    background-image: image-set(
    url("../img/common/banner_2_200.jpg") 1x,
    url("../img/common/banner_2_200.jpg") 2x);
  }
  .article-text-box{
    margin-top: 20px;
  }
  .article-category{
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 13px;
  }
  .article-sub{
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    color: var(--black);
  }
  .article-name{
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  .article-name-big-pc-2, .article-name-2{
    display: none;
  }

  /* -- hydroflask -- */
  .hydro-img-container{
    background-image: -webkit-image-set(
    url("../img/common/hydro.jpg") 1x,
    url("../img/common/hydro_200.jpg") 2x);
    background-image: image-set(
    url("../img/common/hydro.jpg") 1x,
    url("../img/common/hydro_200.jpg") 2x);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center center;
    width: 100%;
    height: calc(100vw / 1.2);
  }
  .hydro-text-container{
    padding: 5% 9%;
    background: var(--black);
  }
  .white-t{
    color: #fff;
  }
  .hydro-name{
    position: relative;
    width: 280px;
  }
  .hydro-name::after{
    content: "";
    position: absolute;
    top: 35px;
    right: 30px;
    background: url(../img/common/yaji_white.svg) center /cover no-repeat;
    width: 21px;
    height: 15px;
  }
  .hydro-text-box{
    padding: 30px 0 10px;
    border-top: solid 1px #fff;
    text-align: left;
  }
  .hydro-guide{
    position: relative;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 20px;
    width: 130px;
  }
  .hydro-guide::after{
    content: "";
    position: absolute;
    top: 3px;
    right: -20px;
    background: url(../img/common/shita-yaji-white.svg) center /cover no-repeat;
    width: 13px;
    height: 10px;
  }
  .hydro-link{
    position: relative;
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .hydro-link::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;
    background: url(../img/common/square-white.svg) center /cover no-repeat;
    width: 10px;
    height: 10px;
  }
  .hydro-link-small{
    font-size: 1.2rem;
    font-weight: 400;
  }

  /* ------------------- products-1  ------------------- */
  .p-product-wrapper{
    margin: 40px auto 70px;
    max-width: 680px;
  }
  .p-main-soup{
    margin: 0 auto 10px;
    width: 90%;
  }
  .p-name{
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 6px;
  }
  .p-sub{
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  .p-price > img{
    width: 117px;
    margin-bottom: 20px;
  }
  .p-text{
    font-size: 1.2rem;
    margin-bottom: 13px;
  }
  .p-annotation{
    font-size: 1.0rem;
    color: var(--gray);
    margin-bottom: 40px;
    line-height: 1.6;
  }
  .p-variation-wrapper{
    margin: 0 auto 60px;
  }
  .p-variation-container{
    margin-bottom: 35px;
  }
  .left{
    margin-left: -30px;
  }
  .left-2{
    margin-top: -3px;
    width: 178px;
  }
  .p-last{
    display: none;
  }

/* = TAB ================================================ */
@media screen and (min-width:581px) {
  .p-variation-wrapper{
    margin: 0 auto 90px;
  }
  .left{
    margin-left: -30px;
  }
  .left-2{
    margin-top: 0;
  }
  .article-name-big-pc, .article-name{
    display: none;
  }
  .article-name-big-pc-2, .article-name-2{
    display: block;
  }
}

@media screen and (min-width:960px) {

  /* -- package  -- */
  .package-wrapper{
    margin: 88px 0 145px;
  }
  .package{
    margin: 0 auto;
    margin-bottom: 34px;
    max-width: 827px;
  }
  .package-text-ja, .package-text-en{
    font-size: 1.6rem;
  }
  .package-text-ja{
    line-height: 2.0;
    margin-bottom: 20px;
  }
  .package-text-en{
    line-height: 1.6;
  }

  /* -- produts  -- */
  .product-position-pc{
    position: relative;
  }
  .product-back{
    position: absolute;
    bottom: 1%;
    right: 0%;
    width: 38%;
    max-width: 580px;
    margin-right: 15%;
    z-index: 0;
  }
  .product-back > img{
    min-width: 580px;
  }
  .product-pc{
    margin: 0 auto 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    position: relative;
    z-index: 5;
  }
  .product-wrapper{
    width: 50%;
  }
  .product-container{
    margin-bottom: 55px;
  }
  .product-soup{
    width: 42%;
    padding-top: 0px;
  }
  .product-text-box{
    width: 52%;
  }
  .product-name, .name-small{
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .name-small > span{
    font-size: 2.2rem;
  }
  .product-country{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .product-price{
    margin-bottom: 15px;
  }
  .product-price-bottom{
    margin-bottom: 30px;
  }
  .product-text{
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 13px;
    max-width: 200px;
  }
  .arrow{
    max-width: 21px;
  }
  .product-home-center-box{
    width: 22%;
  }
  .product-kazari{
    font-size: 10vw;
    line-height: 1;
    writing-mode: vertical-rl;
    white-space: nowrap;
  }
  .product-home-right-box{
    width: 18%;
  }
  .product-icon-pc{
    max-width: 168px;
    text-align: left;
    margin-bottom: 95px;
  }

  /* -- article  -- */
  .article-wrapper{
    margin-bottom: 60px;
  }
  .article-container-pc{
    position: relative;
    margin-bottom: 80px;
  }
  .article-img-pc{
    max-height: 775px;
  }
  .article-text-box-pc{
    position: absolute;
    top: 15px;
    left: 40px;
  }
  .article-category-big-pc{
    font-size: 5.0rem;
    color: #fff;
    margin-bottom: 13px;
  }
  .article-sub-big-pc{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 13px;
  }
  .article-name-big-pc{
    display: block;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 13px;
  }
  .article-name-2{
    display: block;
  }
  .article-name-big-pc-2{
    display: none;
  }
  .arrow-big-pc{
    max-width: 21px;
  }
  .article-container-under-pc{
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
  }
  .article-flex{
    width: 50%;
    border-right: solid 1px var(--black);
    padding: 0 6% 0 0;
  }
  .article-flex:last-child{
    border-right: none;
    padding: 0 0 0 6%;
  }
  .article-img-under-pc{
    height: 300px;
  }

  /* -- hydroflask  -- */
  .hydro-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 68px auto 100px;
    max-width: 1100px;
  }
  .hydro-img-container{
    width: 57%;
    height: 430px;
  }
  .hydro-text-container{
    width: 43%;
  }
  .hydro-text-container{
    padding: 3% 5%;
  }

  /* ------------------- products-1  ------------------- */
  .p-product-wrapper{
    margin: 80px auto 70px;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .p-main-soup{
    width: 57%;
  }
  .p-main-text-box{
    width: 40%;
  }
  .p-name{
    font-size: 4.0rem;
    margin-bottom: 6px;
    margin-top: 40px;
  }
  .p-sub{
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .p-price > img{
    width: 123px;
    margin-bottom: 20px;
  }
  .p-text{
    font-size: 1.3rem;
    margin-bottom: 13px;
  }
  .p-annotation{
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  .p-variation-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto 50px;
  }
  .p-variation-container{
    width: 30%;
    flex-direction: column;
    padding: 0 3% 3%;
    margin-bottom: 30px;
  }
  .p-soup, .p-text-box{
    width: 100%;
  }
  .p-text-box{
    margin: auto 0 0;
  }
  .p-soup{
    margin: 0 auto 20px;
    width: 80%;
  }
  .p-last{
    display: block;
  }
  .left-2{
    margin-top: -12px;
}

/* = PC ================================================ */
@media screen and (min-width:1280px) {

  /* -- produts  -- */
  .product-back{
    right: -1%;
  }
  /* -- article  -- */
  .article-wrapper{
    margin-bottom: 85px;
  }
  .article-container-pc{
    margin-bottom: 100px;
  }
  .article-text-box{
    top: 30px;
    left: 53px;
  }
  .article-category-big-pc{
    font-size: 6.3rem;
    margin-bottom: 16px;
  }
  .article-sub-big-pc{
    font-size: 2.2rem;
    margin-bottom: 16px;
  }
  .article-name-big-pc{
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
  .arrow-big-pc{
    max-width: 27px;
  }
  .article-img-under-pc{
    height: 320px;
  }
  .article-container-under-pc{
    max-width: 1100px;
  }
}

@media screen and (min-width:1420px) {
  .product-kazari{
    font-size: 13rem;
  }
}
