@charset "UTF-8";

/* = SP ================================================ */

#g-nav{
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
  /*ナビの位置と形状*/
	top:0;
  right: 0;
	width:100%;
  height: 100vh;/*ナビの高さ*/
	background: var(--black);
  /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:10;
}

/*ナビゲーション*/
#g-nav .menu-list-box {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 10;
  top: 53%;
  left: 40%;
  transform: translate(-50%,-50%);
  width: 301px;
  margin: auto 5%;
}
#g-nav.panelactive .menu-list-box {
  display: block;
}

/*リストのレイアウト設定*/
.menu-list{
  padding: 8px 0;
}
.menu-list a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  text-align: left;
  font-size: 3.0rem;
}
.products-list-box{
  padding-top: 5px;
}
.products-list a{
  font-size: 2.0rem;
  padding-top: 2px;
}
.h-logo-box, .h-logo-box-sp, .h-logo-box-pc, .h-logo-box-white{
  position: absolute;
  top: 20px;
  left: 25px;
  text-align: left;
  width: 45%;
  max-width: 157px;
}
.h-logo-box{
  z-index: 30;
}
.h-logo-box-sp{
  z-index: 2;
}
.h-surfsoup-logo{
  width: 100%;
}
.h-nalu-logo{
  margin-top: 2px;
  width: 74%;
}

/*ボタンのためのCSS*/
.nav-btn{
  background: url(../img/common/menu.svg) center /cover no-repeat;
	position: absolute;
  z-index: 15;/*ボタンを最前面に*/
	top: 20px;
	right: 20px;
  width: 69px;
  height: 28px;
}

/*閉じるボタン*/
.nav-btn.active, .nav-p-btn.active{
  background: url(../img/common/close.svg) center /cover no-repeat;
  position: fixed;
}

/* ------------------- products-1  ------------------- */
.nav-p-btn{
  background: url(../img/products/menu-black.svg) center /cover no-repeat;
	position: absolute;
  z-index: 16;/*ボタンを最前面に*/
	top: 20px;
	right: 20px;
  width: 69px;
  height: 28px;
}

/* = TAB ================================================ */
@media screen and (min-width:700px) {

  .nav-btn{
    float: right;
  }
  .h-menu{
    float: right;
    position: relative;
    z-index: 20;
  }
  .h-menu li{
    float: left;
    margin-left: 40px;
  }
  .home-list{
    color: rgba(255,255,255,1);
    position: relative;
  }
  .home-list::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0px;
    background: rgba(255,255,255,1);
    transform: scale(0, 1);
    transform-origin: left top;
  }
}
