@charset "UTF-8";

@media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){
  .icon-a::before{
    background: url("../images/icon/wood@2x.png") no-repeat;
    background-size:contain;
  }
  .icon-b::before{
    background: url("../images/icon/tent@2x.png") no-repeat;
    background-size:contain;
  }
  .icon-c::before{
    background: url("../images/icon/ukulele@2x.png") no-repeat;
    background-size:contain;
  }
  .icon-d::before{
    background: url("../images/icon/balloon@2x.png") no-repeat;
    background-size:contain;
  }
  .icon-e::before{
    background: url("../images/icon/bird@2x.png") no-repeat;
    background-size:contain;
  }
  .icon-f::before{
    background: url("../images/icon/mount@2x.png") no-repeat;
    background-size:contain;
  }
}

@media(max-width:768px) {
  /*body--------------*/
  body{
    background: center/100% url("../images/back_sp.png");
  }
  h2{
    font-size: 5.7rem;
    margin-left: 0.1em;
  }

  /*header--------------*/
  #header{
    background: url("../images/top_sp_back.jpg") no-repeat;
    background-size: 100% auto;
  }
  h1{
    text-align: center;
    height:100%;
    width: 100%;
    padding:2.5% 5.5% 2.5% 0;
    margin:0 auto;
  }
  h1 img{
    width: 86.5vw;
    height:auto;
  }

  /*nav--------------*/
  .n-flex{
    flex-wrap:nowrap;
    overflow-x: scroll;
    overflow-y: visible;
  }
  .n-flex::-webkit-scrollbar {
    display: none;
  }
  nav::after{
    background: url("../images/kazari_sp@2x.png") no-repeat;
    background-size: auto 9px;
  }
  nav .inner{
    padding:0;
  }
  .nav-li{
    height:50px;
  }
  .nav-li a{
    font-size: 2.7rem;
    padding:0 0.8em 0 1em;
  }
  .nav-li a:active{
    background: #aa5725;
    transition: 0.5s;
  }

  /*ABOUT--------------*/
  #about{
    padding:80px 0 8%;
  }
  .icon-a::before{
    width:47px;
    height:40px;
    top: 17%;
    left:-54%;
    background-size:contain;
  }
  .lead{
    text-align: justify;
    font-size: 1.6rem;
  }
  .about-li{
    width:48.5%;
    height:auto;
    margin-top: 28px;
  }
  .sub-title{
    font-size: 1.5rem;
    padding: 0.5em;
  }
  .circle-inner{
    font-size:3.5vw;
    line-height: 1.6;
  }
  .c-aa,.c-ac{
    font-size: 3.8vw;
  }
  .c-ab{
    font-size: 10.8vw;
    color: #e7df10;
  }
  .c-ad{
    font-size: 4.8vw;
    line-height: 6.5vw;
  }

  /*news--------------*/
  .icon-b::before{
    width:55px;
    height:40px;
    top: 17%;
    left:-74%;
    background-size:contain;
  }
  .news-inner{
    padding: 0 4.5%;
  }

  /*movie--------------*/
  .icon-c::before{
    width:45px;
    height:53px;
    top: 0;
    left:-50.5%;
    background-size:contain;
  }
  .youtube{
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    height:56.25vw;
    margin-bottom:30px;
  }
  .sub-movie{
    margin: 0 10%;
  }

  /*timetable--------------*/
  .icon-d::before{
    width:50px;
    height:40px;
    top: 12%;
    left:-36%;
    background-size:contain;
  }

  /*contents--------------*/
  .icon-e::before{
    width:46px;
    height:40px;
    top: 18%;
    left:-36%;
    background-size:contain;
  }
  .item{
    width:46.5%;
	margin-right: 7%;
  }

.item:nth-of-type(3n){
	margin-right: 7%;
}
	
.item:nth-of-type(2n){
	margin-right: 0px;
}
	

  /*guest--------------*/
  .icon-f::before{
    width:66px;
    height:40px;
    top: 19%;
    left:-75%;
    background-size:contain;
  }
  .g-item{
    width:160px;
  }
  .g-item:not(:last-child){
    margin-right: 30px;
  }
  .g-item img{
    width:160px;
    height:auto;
  }
	
  /*sponsored--------------*/
	
.s-banner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.s-banner li{
	width: 100%;
	margin-right: 0px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.s-banner li:last-child{
	margin-right: 0px;
	margin-bottom: 0px;
}
	
.s-logo{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.s-logo li{
	width: 48.5%;
	margin-right: 3%;
	margin-bottom:3%;
	box-sizing: border-box;
	border:1px solid #ccc;
}

.s-logo li:nth-of-type(4n){
	margin-right: 3%;
}
	
.s-logo li:nth-of-type(2n){
	margin-right: 0px;
}	
	
.s-logo li:last-child{
	margin-right: 0px;
}

  /*sns--------------*/
  .sns-logo li a:active{
    opacity: .75;
    transition: 0.3s;
  }


  /* トップに戻るボタン
  -------------------------- */
  .top-btn{
    position: fixed;
    right: 5px;
    bottom: 51px;
  }

}
