@charset "UTF-8";

/* 共通
-------------------------- */
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  line-height: 1em;
}
.icon::before {
  content: "";
  position: absolute;
  display: block;
}
body {
  font-family:"游ゴシック体",YuGothic,"游ゴシック",'Yu Gothic',"游ゴシック Medium","Yu Gothic Medium",'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-weight:500;
  font-feature-settings: "palt";
  color:#3f3c38;
  background: center/100% url("../images/back_pc.png");
  text-align: center;
  font-variant-ligatures: none;
}
ul{
  font-size: 0;
  list-style: none;
}
.avenir{
  font-family: 'Avenir Next', sans-serif;
  font-weight: bold;
}
img{
  max-width: 100%;
  height:auto;
  vertical-align: middle;
}
a{
  width:100%;
  height:100%;
  text-decoration: none;
  color:#3f3c38;
}
.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}
.inner{
  padding:0 4.5%;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.n-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav,h2{
  font-family: montana, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h2{
  position: relative;
  display: inline-block;
  font-size: 8rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.3em;
}
.icon::before{
  content: "";
  position: absolute;
  display: inline-block;
}
/* 更新を待つコンテンツ-----*/
.standby{
  display: none;
}
h4{
  font-size: 2.5rem;
  letter-spacing: 0.5em;
  margin:7rem 0;
  transform: rotate(-10deg);
}
#timetable h4{
  color: #fff;
}


@media(min-width:769px){
  .sp{
    display: none;
  }
}
@media(max-width:768px) {
  .pc{
    display: none;
  }
}


/* トップに戻るボタン
-------------------------- */
.top-btn{
  position: fixed;
  right: 15px;
  bottom: 56px;
}
.top-btn a img{
  display: block;
  width: 100%;
  height: auto;
}
