@charset "UTF-8";

/* 後で消すタグ ----------------*/
.gray{
  color: #4f5e30;
}
a.disabled{
  pointer-events: none;
}
.nav-li a.disabled:hover{
  background-color: transparent;
}
/*-------------------------- */

/* header
-------------------------- */
#header{
  width: 100%;
  background: url("../images/top_pc_back.jpg") no-repeat;
  background-size: 100% auto;
}
h1{
  text-align: left;
  height:100%;
  width: 100%;
  padding: 2%;
}
h1 img{
  width: 49vw;
  height: auto;
}

/* nav
-------------------------- */
nav{
  position: absolute;
  margin:0;
  width: 100%;
  background-color:#5a7c16;
}
nav .inner{
  padding:0 5%;
}
nav.fixed{
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility:hidden;
  z-index: 10;
}
.nav-li{
  height:58px;
}
.hover a:hover{
  background: #aa5725;
  transition: 0.3s;
}
.nav-li a{
  color: #fff;
  display: block;
  font-size: 3rem;
  line-height: 1.9em;
  letter-spacing: 0.08em;
  width:100%;
  padding: 0 0.3em 0 0.5em;
}
nav::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top:auto;
  background: url("../images/kazari_pc@2x.png") no-repeat;
  background-size: auto 9px;
}

/* about
-------------------------- */
#about{
  padding:10em 0 3em;
}
.icon-a::before{
  width: 59px;
  height: 50px;
  top: 22%;
  left:-50%;
  background: url("../images/icon/wood.png") no-repeat;
}
.lead{
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: 0.08em;
  font-weight: bold;
}
.about-li{
  width:23%;
  height:auto;
  margin-top: 28px;
}
.sub-title{
  color: #fff;
  background: #3f3c38;
  position: relative;
  margin:0 6%;
  padding: 0.5em 0.25em;
  font-size: 1.8rem;
  letter-spacing: 0.17em;
  font-weight: bold;
}
.sub-title::after{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  bottom: -1em;
  left: 46%;
  border-top: 12px solid #3f3c38;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
.circle{
  position: relative;
  width: 100%;
  height: 50%;
  padding: 50%;
  border-radius: 50%;
  background: #5a7c16;
  margin: 2.5em auto 0;
}
dl:nth-of-type(2) div{
  background: #aa5725;
}
dl:nth-of-type(3) div{
  background: #045060;
}
.circle-inner{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.circle-inner a{
	text-decoration: underline;
	color:#FFFFFF;
	line-height: 1.4em;
}
.c-A,.c-D{
  line-height: 1;
}
.c-aa,.c-ac{
  font-size: 2rem;
  line-height: 1.3em;
}
.c-ab{
  font-size: 5rem;
  color: #e7df10;
}
.c-ad{
  font-size: 2.4rem;
  line-height: 1.4em;
}
.attn{
  width:70%;
  margin:0.5em auto 0;
  text-align: justify;
  font-size:1.2rem;
  font-weight: normal;
  line-height: 1.375em;
}

/* news
-------------------------- */
#news{
  background: #e7df10;
  padding:3.5em 0 4em;
}
.icon-b::before{
  width: 76px;
  height: 50px;
  top: 23%;
  left:-72%;
  background: url("../images/icon/tent.png") no-repeat;
}
.news-inner{
  padding: 0 16%;
}
.news-li{
  text-align: left;
}
.news-li li{
  width:100%;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-flex;
  flex-flow: row;
  align-items: baseline;
}
.date{
  margin-right: 14px;
}
.news-title{
  line-height: 1.6;
  letter-spacing: 0.08em;
  margin-bottom: 8px;
}

.n-new::after{
  content: "new!";
  font-size: 1.7rem;
  color: #aa5725;
  font-family: 'Avenir Next', sans-serif;
  font-weight: bold;
  margin-left: 0.4em;
  animation:blink 1s ease-in-out infinite alternate;
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

/* movie
-------------------------- */
#movie{
  padding:4.5em 0 5.5em;
}
.icon-c::before{
  width: 56px;
  height: 70px;
  top: 3%;
  left:-48%;
  background: url("../images/icon/ukulele.png") no-repeat;
}
.youtube{
  position: relative;
  width: 100%;
  height:0px;
  padding-top: 56.25%;
  margin-bottom: 30px;
}
.youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub-movie{
  background: #aa5725;
  margin:0 25%;
}
.sub-movie::after{
  border-top: 12px solid #aa5725;
}
.lead-movie{
  margin-top:27px;
}

/* timetable
-------------------------- */
#timetable{
  background: #045060;
  padding:4em 0 6em;
}
#timetable h2{
  color: #fff;
}
.icon-d::before{
  width: 63px;
  height: 50px;
  top: 22%;
  left:-34%;
  background: url("../images/icon/balloon.png") no-repeat;
}
table{
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  border-collapse: collapse ;
}
table,tr,td{
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}
tr:not(:last-child){
  border-bottom:5px solid #045060;
}
tr:nth-child(odd) td{
  background: #e7df10;
}
.t-time{
  border-right:5px solid #045060;
  line-height:1.15em;
  width: 20%;
  padding:0.5em 0.2em;
  height:auto;
}
.t-name{
  text-align: left;
  height:auto;
  padding:0.5em 1em;
  line-height: 1.375em;
}
.tag{
  font-size: 1.6rem;
  color: #fff;
  padding:0.25em 0.5em;
  margin-right: 0.6em;
}
.live{
  background: #aa5725;
}
.horoyoi{
  background: #045060;
}
.paid{
  background: #fff;
  color: #aa5725;
}

/* contents
-------------------------- */
#contents{
  padding:5em 0 1em;
}
.icon-e{
  margin-bottom: 0.7em;
}
.icon-e::before{
  width: 56px;
  height: 50px;
  top: 23%;
  left:-35%;
  background: url("../images/icon/bird.png") no-repeat;
}
.item{
  position: relative;
  width:31%;
  height:auto;
  text-align: left;
  margin-bottom: 50px;
  margin-right: 3.5%;
}

.item::before{
  content: "";
  position: absolute;
  width:100%;
  height:6%;
  top:-6%;
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
  background: #aa5725;
}

.item:nth-of-type(3n){
	margin-right: 0px;
}

.item:nth-of-type(2)::before,.item:nth-of-type(5)::before,.item:nth-of-type(8)::before{
  background: #045060;
}
.item:nth-of-type(3)::before,.item:nth-of-type(6)::before,.item:nth-of-type(9)::before{
  background: #5a7c16;
}
.item img,.g-item img{
  width:100%;
  height:auto;
  margin-bottom: 1.5em;
}
.content-name,.guest-name{
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom:0.6em;
}
.desc{
  font-size: 1.5rem;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  text-align: justify;
}

/* guest
-------------------------- */
#guest{
  background:#e7df10;
  padding:3.5em 0 5em;
}
.icon-f{
  margin-bottom: 0.2em;
}
.icon-f::before{
  width: 83px;
  height: 50px;
  top: 23%;
  left:-69%;
  background: url("../images/icon/mount.png") no-repeat;
}
.g-scroll{
  padding-top:24px;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* スクロール -------------------*/
.g-scroll::-webkit-scrollbar {
  height: 6px;
}
.g-scroll::-webkit-scrollbar-track {
  background: #e7df10;
}
.g-scroll::-webkit-scrollbar-thumb {
  background: #fff;
}
/*-------------------------- */
.i-flex{
  display: inline-flex;
  flex-wrap:nowrap;
  flex-direction: row;
}

.g-item{
  position: relative;
  width:180px;
  height:auto;
  text-align: left;
  margin-bottom: 25px;
}
.g-item:not(:last-child){
  margin-right: 32px;
}
.g-item::before{
  content: "";
  position: absolute;
  width:100%;
  height:24px;
  top:-24px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
  background: #5a7c16;
}
.g-item:nth-of-type(2)::before,.g-item:nth-of-type(5)::before,.g-item:nth-of-type(8)::before{
  background: #aa5725;
}
.g-item:nth-of-type(3)::before,.g-item:nth-of-type(6)::before,.g-item:nth-of-type(9)::before{
  background: #045060;
}

/* sponsored
-------------------------- */
.sponsored{
  padding: 30px 0 0;
}

.s-banner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.s-banner li{
	width: 70%;
	margin-right: 0px;
	box-sizing: border-box;
}

.s-banner li:last-child{
	margin-right: 0px;
}


h3{
  font-size: 2rem;
  margin-bottom: 20px;
}
.s-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.s-logo{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.s-logo li{
	width: 20%;
	margin-right: 6.66666%;
	margin-bottom: 20px;
	box-sizing: border-box;
	border:1px solid #ccc;
}

.s-logo li:nth-of-type(4n){
	margin-right: 0px;
}

.s-logo li:last-child{
	margin-right: 0px;
}

/* sns
-------------------------- */
.sns{
  margin-top:30px;
}
.part{
  margin-bottom: 2.5em;
}
.part p{
  font-size: 1.4rem;
  font-weight: bold;
  margin:13px 0;
}
.sns-logo li:not(:last-child){
  margin-right: 2%;
}
.sns-logo li{
  display: inline-block;
  background: #000;
}
.hover li a:hover{
  opacity: .75;
  transition: 0.3s;
}

/* footer
-------------------------- */
footer{
  width: 100%;
  border-top:1px solid #3f3c38;
}
small.avenir{
  line-height: 4em;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
}
